<html xmlns:ntb><head>
<title>top</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="[#path#]css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/css.css" rel=stylesheet type=text/css>
<LINK href="[#path#]css/browse.css" type=text/css rel=stylesheet>
<script type="text/javascript" src="../common/js/jquery-1.2.1.pack.js"></script>
<SCRIPT language=JavaScript>
function setfocus(){
document.getElementById('membercard_no').focus();
}
	function changecustomerno(inputString) {
		
		if(inputString.length == 0) {

		} else {
			$.post("../ajax/readmember.php", {value: ""+inputString+"",table: "s_customer",column: "customer_no"}, function(data){
				
				if(data.length >0) {
				returnvalue=data;
				var data=data.split('@@@');
				
					var $errortype=data[0];				
					var $customer_name=data[1];
					var $memcardlevel=data[2];
					var $customer_id=data[3];
					var $agency_name=data[4];
					var $deposit=data[5];
					var $salesowe=data[6];
					var $agencyid=data[6];	
					if($errortype==1){
						//跨店消费客户，引导至跨店消费页面
					}else if($errortype==2){
						//帐号错误
						alert('输入卡号有误。请重新输入');
					}
					else if($errortype==3){
						//密码错误
						alert('密码有误。请重新输入');
					}else{
					//正常客户
					document.getElementById('ismember').checked=true;
					window.returnValue=returnvalue;
					window.parent.close();
					}
					
				}
			});
			
		}
	} // lookup
	
	</script>
<style type="text/css">
<!--
body {	
	margin:0px;
 
}
body,td{
	font-size:12px;
}
.zicolor {
	font-size:13px
}

-->
</style></head>
 
<body  >
<form action="" method="post" name="form1">
  
  <TABLE style="WORD-BREAK: break-all ;" height=25 cellSpacing=0 cellPadding=0 
width="96%" align=center>
  <TBODY>

  <TR>
    <TD width="78%" 
      align=left noWrap style="FONT-SIZE: 18px; font-weight: bold; ">请输入会员卡号：
      <input name=membercard_no class=input  onkeypress="if (event.keyCode == 10 ||event.keyCode == 13 ) changecustomerno(this.value);" size="15">
      
      <input name="radio" type="radio" id="ismember" value="1" >
      会员
  <label>
    <input type="radio" name="radio" id="ismember" value="0" checked>
    </label>
      散客       </TD>
    </TR>
    <TR>
    <TD 
      align=right noWrap style="FONT-SIZE: 12px">&nbsp;</TD>
    </TR>
  </TBODY></TABLE>
</form>
</body>
<SCRIPT language=JavaScript>
setfocus();
 
</SCRIPT>
 
</html>
