<HTML><HEAD>
<TITLE> 服务项目基本资料</TITLE>
<META HTTP-EQUIV="empiresoft" CONTENT="no-cache">
<link href="[#path#]css/button_css.css" rel="stylesheet" type="text/css">
<link href="[#path#]css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/browse.css" type=text/css rel=stylesheet>
<LINK href="[#path#]css/css.css" type=text/css rel=stylesheet>
<script type="text/javascript" src="../common/js/jquery-1.2.1.pack.js"></script>
<SCRIPT language=javascript src="[#path#]js/calendar.js" type=text/javascript></SCRIPT>
<style type="text/css">
<!--
-->
</style>
</HEAD>
<script language=javascript>
<!-- 
function readcarddata(inputString){
 
$.post("../ajax/readdata.php?action=chargeczk", {value: ""+inputString+"",table:"",column: ""}, function(data){
			
			if(data.length >0) {	
 
				var data=data.split('@@@');					
					form1.storedvaluedcard_id.value=data[0];				
					form1.value1.value=data[2];
					form1.customer_id.value=data[3];
					form1.customer_name.value=data[4];
					form1.marketingcard_name.value=data[5];	
					form1.handphone.value=data[6];
					form1.buydate.value=data[7];
					document.getElementById('statusstr').innerHTML=data[8];
					 
					form1.timelimit.value=data[9];
					form1.price.value=data[10];
				}
			 });
}
	function CheckAll(checkBoxName){
			var checkBox = document.getElementsByName(checkBoxName);
			for (var i = 0; i < checkBox.length; i++){
				var temp = checkBox[i];
				temp.checked = true;
			}
	}
	function CheckReverse(checkBoxName){
		var checkBox = document.getElementsByName(checkBoxName);
		for (var i = 0; i < checkBox.length; i++){
			var temp = checkBox[i];
			temp.checked = !temp.checked;
		}
	}
	function verifypsw(){
	if(document.getElementById('psw').value!=document.getElementById('psw1').value){
	document.getElementById('tips').innerHTML='两次输入密码不一致';
	}else{
	document.getElementById('tips').innerHTML='';
	}
	}
function qg_pl(qgtype)
{
	var idarray = new Array();//定义一个数组
	var cv = document.getElementsByName("TheID[]");
	var m = 0;
	for(var i=0; i<cv.length; i++)
	{
		if(cv[i].type.toLowerCase() == "checkbox")
		{
			if(cv[i].checked)
			{
				idarray[m] = cv[i].value;
				m++;
			}
		}
	}
	var id = idarray.join(",");
	if(!id || id == "0")
	{
		alert("没有勾选要操作的主题！");
		return false;
	}
	var url = "?action=del&consumables_id="+id;
	if(qgtype == "delete")
	{
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{alert(url);
			tourl(url);
		}
	}
	else if(qgtype=="Move")
	{v=document.getElementById("Sale_ID").value;
	 url="Acion=Move&id="+id+"Sale_id="+v;
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{
			tourl(url);
		}
	}
	else
	{
		tourl(url);
	}
}

function tourl(url)
{
	window.location.href=url;
}
 	function TrOver(o)
	{
	o.style.backgroundColor='#F3F3F3'
	}
	function TrOut(o)
	{
	o.style.backgroundColor=''
	}
function changetich(o){
comsavet
document.getElementById("commission").value = document.getElementById("price").value*o.value/100;

}
function changetich(o){
document.getElementById("commission").value = document.getElementById("price").value*o.value/100;

}
function changetichu(o){
document.getElementById("ucommission").value = document.getElementById("price").value*o.value/100;

}
function changep(o){
document.getElementById("compcent").value = 100*o.value/document.getElementById("price").value;

}
function changeup(o){
document.getElementById("ucompcent").value = 100*o.value/document.getElementById("price").value;
}
function changepc(o){
document.getElementById("commission").value = document.getElementById("compcent").value*o.value/100;
document.getElementById("ucommission").value = document.getElementById("ucompcent").value*o.value/100;
}
  function search_customer(){ 
   var arrItems=new Array();
   var strItem ;
   var szRef = "../getdata/getservices.html" ;
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   arrItems = strItem.split("@@@");
   form1.cservices_id.value = arrItems[0] ;  
   form1.cservices_no.value = arrItems[1] ;  
   form1.cservices_name.value = arrItems[2] ; 
   //form1.ccode.value = arrItems[3] ;  
   form1.cprice.value = arrItems[4] ;  
  // form1.cstandardunit.value = arrItems[5] ;    
  
  

  }
  
 

var requestSubmitted = false;

function submit_save(){
	 	 if(form1.psw.value!=form1.psw1.value){
	 	  alert("两次输入密码不一致");
	 	  form1.psw.select();
	 	  return;
	 }
	 if(form1.storedvaluedcard_no.value==""){
	 	  alert("请填卡编号");
	 	  form1.storedvaluedcard_no.focus();
	 	  return;
	 }
 
	 	 	 if(form1.customer_id.value==""){
	 	  alert("请选择持卡人");
	 	  form1.customer_name.focus();
	 	  return;
	 }

	 	 	
	 
	 	  if(requestSubmitted == true){
    alert("你已经提交，请等待一下");
    return (false);
   } 
   requestSubmitted = true;  
	 sending.style.display ="";
	// sendingbg.style.display ="";parent.parent.frames[0].form1.loadingok.value  = "1";parent.parent.frames[1].loadingbg.style.height = //parent.parent.frames[1].document.body.scrollHeight;parent.parent.frames[1].loadingbg.style.display =""; 
   form1.submit();
}


function promem(){
   var arrItems=new Array();
   var strItem ;
//   var addbutton = 1;
   var szRef = "../getdata/getcustomer.html";
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   if(!strItem){return}
     arrItems = strItem.split("@@@");
     form1.customer_id.value = arrItems[0];     
     form1.customer_name.value  = arrItems[1];
	 form1.handphone.value  = arrItems[2];
}
function getcard(marketingcardtype_id){
    var arrItems=new Array();
   var strItem ;
//   var addbutton = 1;

   var szRef = "../getdata/getstoredvaluedcard.html?marketingcardtype_id="+marketingcardtype_id;
  
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   
     arrItems = strItem.split("@@@");
     form1.marketingcard_id.value    = arrItems[0];     
     form1.marketingcard_name.value  = arrItems[1];
	 form1.timelimit.value  = arrItems[3];
	 form1.totaltimes.value  = arrItems[2];
	 form1.price.value  = arrItems[4];
	 
	  form1.value1.value  = arrItems[5];
	  
	}
function submit_comsave(){
	var idarray = new Array();//定义一个数组
	var cv = document.getElementsByName("The_ID[]");
	var m = 0;
	for(var i=0; i<cv.length; i++)
	{
		if(cv[i].type.toLowerCase() == "checkbox")
		{

				idarray[m] = cv[i].value;
				if(form1.con_act.value=='add'){
				if(form1.cservices_id.value==cv[i].value)
				{
				alert('已添加该商品1');
				return
				}

				}
				else if(form1.con_act.value=='upd'&&form1.cupdid.value!=form1.cservices_id.value){
				if(form1.cservices_id.value==cv[i].value)
				{
				alert('已添加该商品2');
				return
				}
				}
				m++;
				
		}
	}
	 if(form1.cservices_name.value==""){
	 	  alert("请填服务名称");
	 	  form1.cservices_name.focus();
	 	  return;
	 }

	  if(form1.cservices_no.value==""){
	 	  alert("请填写服务代码");
	 	  form1.cservices_no.focus();
	 	  return;
	 }
	 if(form1.price.value==""){
	 	  alert("请填写价格");
	 	  form1.price.focus();
	 	  return;
	 }

	 if(form1.cservices_id.value==""){
	 	  alert("请选择商品");
	 	  form1.cservices_id.focus();
	 	  return;
	 }	
	if(form1.cpricepertime.value==""){
	 	  alert("每次补交费用");
	 	  form1.cpricepertime.focus();
	 	  return;
	 }	
	if(form1.cservices_times.value==""){
	 	  alert("请填写服务次数");
	 	  form1.cservices_times.focus();
	 	  return;
	 }	
	 
	 
	  	 	 	 
	  if(requestSubmitted == true){
    alert("你已经提交，请等待一下");
    return (false);
   } 
   requestSubmitted = true;  
	 sending.style.display ="";
	// sendingbg.style.display ="";parent.parent.frames[0].form1.loadingok.value  = "1";parent.parent.frames[1].loadingbg.style.height = //parent.parent.frames[1].document.body.scrollHeight;parent.parent.frames[1].loadingbg.style.display =""; 
   	//window.location.href='services.php?action=add&produce_id='+produce_id+'&std_consumption'+std_consumption+'&memo'+memo;
	   form1.submit();
}
function submit_del(){
    if (confirm("是否删除该记录？")) {
        getNews(form1.id.value);
    }
} 

function InitAjax()
{
　var ajax=false; 
　try { 
　　ajax = new ActiveXObject("Msxml2.XMLHTTP"); 
　} catch (e) { 
　　try { 
　　　ajax = new ActiveXObject("Microsoft.XMLHTTP"); 
　　} catch (E) { 
　　　ajax = false; 
　　} 
　} 
　if (!ajax && typeof XMLHttpRequest!='undefined') { 
　　ajax = new XMLHttpRequest(); 
　} 
　return ajax;
}

function getNews(newsID)
{
　//如果没有把参数newsID传进来
　if (typeof(newsID) == 'undefined')
　{
　　return false;
　}
  var postStr = "id="+ newsID;

　//需要进行Ajax的URL地址
　var url = "../ajaxread/readdelaccount.php";
　//实例化Ajax对象
　var ajax = InitAjax();
　//使用POST方式进行请求
　ajax.open("POST", url, true); 
  //定义传输的文件HTTP头信息
　ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
　//发送POST数据
　ajax.send(postStr);
　//获取执行状态
　ajax.onreadystatechange = function() { 
　　//如果执行是状态正常，那么就把返回的内容赋值给上面指定的层
　　if (ajax.readyState == 4 && ajax.status == 200) {  
       if(ajax.responseText=='0'){
          form1.action.value = "delete";
          sendingbg.style.display ="";
          sendingdel.style.display ="";
	        form1.submit();
       }else{
          alert("该帐户已经有历史记录，不能删除");
       }
　　}
　}
  //发送空
　ajax.send(null); 
}

function help(){  
   if(document.getElementById("helpid").style.pixelHeight == 0 &&  document.getElementById("helpid").style.display == "none"){      
     document.getElementById("helpid").style.display ="";
	   ChS();
   }else{   
	   HhS();    	  
   }
}

function ChS(){
  if(helpid.style.pixelHeight<230){
     helpid.style.pixelHeight+=10;setTimeout("ChS()",0.5);
  } 
}

function HhS(){
  if(helpid.style.pixelHeight > 0){
    helpid.style.pixelHeight-=10;setTimeout("HhS()",0.5);
  }
  if(helpid.style.pixelHeight == 0){
    document.getElementById("helpid").style.display ="none";
  }
}
// -->
</script>
<BODY   topmargin="0" leftMargin="2" width="100%">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
       <tr>
         <td height="30" class="pagetitle"  width="100%" valign="middle">
          &nbsp;&nbsp;<img src="[#path#]img/nowspace.jpg" align="absmiddle">储值卡资料</td>
       </tr>
       <tr>
         <td align="left"><div style="margin:0px 0px 0px 12px;"><img src="[#path#]img/line.jpg" ></div></td>
      </tr>
  </table>
  
  <center>
<form action="storedvaluedcard.php?action=editsave" method="post" name="form1">
            <input name='action' type="hidden" value="[#action#]">
      <input name='updid' type='hidden' value='[#updid#]'>
    <span class="STYLE2">
      <input class=input  type="hidden" name="coderule" size="20" maxlength="20" value="0" >
      <input class=inputright type="hidden" name="pricepertime" size="10"  value="0" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" onFocus="this.select()" onKeyUp="changepc(this);">
      <input class=input_disabled type="hidden" name="totaltimes" size="15"  value="1" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" onFocus="this.select()" onKeyUp="changepc(this);" readonly>
      <input class=input_disabled type="hidden" name="number" size="10"  value="1" readonly>
      <input class=input_disabled type="hidden" name="activedate" size="10"  value="[#activedate#]" onFocus="calendar(EventUtil.getEvent().target)" readonly>
      <input class=inputright  type="hidden" name="value" size="10"  value="0"  >
      </span>
    <table width="674" class=InputFrameMain cellspacing="0" cellpadding="0" border="0" height="100">
  <TBODY>
    <tr>
      <td align="left" colspan="4"><table cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td align="center" class=inputtitle width="106">修改资料</td>
          <td  align="center" class=inputtitleright >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td  align="center" ><b><font color="#FF0000" class="error">[#error#]</font></b></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td height="30" align="right" >卡编号：</td>
      <td height="30" width="222"  align="left"><span class="STYLE2">
        <input class=input_disabled  type="text" name="storedvaluedcard_no" size="15" maxlength="15" value="[#storedvaluedcard_no#]" style="ime-mode:disabled"  onKeyPress="if (event.keyCode == 10 ||event.keyCode == 13 ) readcarddata(this.value);">
        <input class=inputright  type="hidden" name="storedvaluedcard_id" size="10"  value=""  >
      </span><script language=javascript>
<!-- 
form1.storedvaluedcard_no.select();
</script></td>
      <td width="136" align="right" >余额：</td>
      <td width="205"  align="left"><span class="STYLE2">
        <input class=input_disabled type="text" name="value1" size="10"  value="[#value#]"   readonly>
      </span></td>
    </tr>
    <tr>
      <td  align="right" > 卡项名称：</td>
      <td  align="left"><input class=input_disabled type="text" name="marketingcard_name" size="15" maxlength="20" value="[#marketingcard_name#]" readonly>
        <span >
          <input class=input type="hidden" name="marketingcard_id" size="20" maxlength="20" value="[#marketingcard_id#]">*</span></td>
      <td align="right" >期限：</td>
      <td  align="left"><label></label>
        <span class="STYLE2">
          <input class=input_disabled type="text" name="timelimit" size="10"  value="[#timelimit#]"   readonly>
          个月* </span></td>
    </tr>
    <tr>
      <td height="30" align=right >使用状态：</td>
      <td height="30" ><span id="statusstr"><SELECT name=status>

              [#statusnamelist#]
            	      
      </SELECT></span>
        *</td>
      <td height="30" align=right  >发放时间：</td>
      <td height="30" ><input class=inputright type="text" name="buydate" size="10"  value="[#buydate#]" onFocus="calendar(EventUtil.getEvent().target)"></td>
    </tr>
    <tr>
      <td height="30" align=right >重置密码：</td>
      <td height="30" ><span class="STYLE2">
        <input class=input type="password" name="psw" size="10"  value="[#password#]"  onKeyUp="verifypsw();" >
      </span></td>
      <td height="30" align=right >价格：</td>
      <td height="30" ><span class="STYLE2">
        <input class=input_disabled type="text" name="price" size="10"  value="0"   readonly>
      </span></td>
    </tr>
    <tr>
      <td height="30" align=right  >确认密码：</td>
      <td height="30" >
        <input class=input  type="password" name="psw1" size="10"  value="[#password#]" onKeyUp="verifypsw();" >
        <span id="tips"> [#tips#] </span></td>
      <TD height=30 align=right >顾客：</TD>
      <TD height=30 align=left><INPUT type=hidden name=customer_id value="[#customer_id#]">
        <INPUT 
      class=input_disabled readOnly maxLength=35 size=10 name=customer_name value="[#customer_name#]">
        <INPUT class=buttonsmall style="FONT-SIZE: 9pt" onclick=javascript:promem() type=button value=查找 name=save2 [#findcustomer#]></TD>
      </tr>
    <tr>
      <TD height=30 align=right ><input type="checkbox" name="sendmsg" id="sendmsg"></TD>
      <TD height=30 align=left><label>
    发送密码到手机</label></TD>
      <TD  align=right height=30>手机号码：</TD>
      <TD height=30 align=left><INPUT class=input_disabled readOnly size="10" maxLength=35 
      value="[#handphone#]" name=handphone>
        <SPAN >*</SPAN></TD>
    </tr>
    <tr>
      <td width="111"   align="right" >备注：</td>
      <td   colspan="3" align="left">&nbsp;</td>
    </tr>
        <tr>
      <td height="45" colspan="4" align="right" ><textarea class=inputarea name="memo"   wrap="virtual"  rows="6">[#memo#]</textarea></td>
      </tr>
    <tr>
      <td colspan="5" class=bottombotton  align="center" ><input type=button name=save style="CURSOR: hand"  class=buttonsmall value="确定" AccessKey=t  onClick="submit_save()"   {buttondisabled} >
        <INPUT class=buttonsmall style="CURSOR: hand"  name=qqq2 type=button value="撤销" AccessKey=z  onClick="form1.reset();">
        <span style="MARGIN: 0px">
        <INPUT class=buttonsmall   accessKey=q onClick="window.close()"   type=button value="关闭" name=rst>
        </span></td>
    </tr>
  </TBODY>
</table>
 
 
</form>
<div id="sending" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在保存数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingdel" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在删除数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingbg" STYLE="LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; display: none"></div>
<div id="helpid" STYLE="right: 1%; WIDTH: 450px; POSITION: absolute; TOP: 86px; HEIGHT: 0; display: none"> 
 <div  align="left"   STYLE="position:absolute;left: 15px; top:15px;right:15px" >
  操作：基本信息－帐户信息；<br><br>
  保存(Alt+s)：添加新帐户信息和修改帐户信息；<br><br>
  删除(Alt+d)：即删除不再使用的帐户信息；<br><br>
  撤销(Alt+z)：撤销回去帐户没有修改的状态；<br><br>
  返回(Alt+q)：返回帐户信息列表；<br><br>
  帮助(Alt+h)：显示帮助信息；</div>
</div>
[#showeditdiv#]
</center>
</BODY>
</HTML>

