<html xmlns:ntb><head>
<title>top</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="[#path#]css/page_title.css" rel="stylesheet" type="text/css">

<LINK href="[#path#]css/css.css" rel=stylesheet type=text/css>
<LINK href="[#path#]css/browse.css" type=text/css rel=stylesheet>
<SCRIPT language=javascript src="[#path#]js/dateobject.js"></SCRIPT>
<SCRIPT language=javascript src="[#path#]js/datepicker.js"></SCRIPT>


<!-- First we include the Toolkit JavaScript -->
<script language="javascript" src="common/script/nitobi.toolkit.js"></script>

<!-- Now we include the component JavaScript -->
<script language="javascript" src="common/script/nitobi.fisheye.js"></script>
<script>

	function onLoad()
	{
		var f3 = nitobi.loadComponent("fisheye3");	
		type();	
		
		//loadingok.value = "1";
	}

</script>

<style type="text/css">
<!--
body {	
	margin:0px;background-color: CEEBCE;
}
body,td{
	font-size:12px;
}
.zicolor {
	font-size:13px;
}

-->
</style></head>
<script language="JavaScript">
<!--
function document.oncontextmenu() 
{ 
return false; 
} 
    function logoff(){
	 
	 if(form1.loadingok.value==""){
         question=confirm("是否确定退出系统?");
		 if (question != "0"){
	         parent.parent.window.location.href="../index.php?logout=ture";   
         }   
	}else{
	     return false;
	}
  } 	
	function framesgomain(){
	if(form1.loadingok.value ==""){      
	          parent.parent.frames[2].location.href="../main/right.php";   
	}else{
	     return false;
	}       
  }	
    function framesprint() {
	if(form1.loadingok.value==""){ 
	     parent.parent.frames[2].focus();
	     window.print(); 
    }else{
	     return false;
	}   
 }	
   function framesreload() {
   if(form1.loadingok.value ==""){
  parent.parent.frames[2].document.location.reload()
  }else{
     return false;
  }
 } 
 
var msg="提高您营运效率的好帮手";


var len=msg.length+1
var seq=0
var speed=300
var flag = 0;
function type()
{
if(flag==0){
a.style.color ="#000000"
a.innerText=msg
}else{
a.style.color ="#ff9900"
a.innerText=msg.substring(0,seq)
}
if(seq==len){seq=0;
if(flag == 0){
  msg="有疑问？操作不顺利？";
  flag = 1 ;
}else if(flag == 1){
  msg="有困难请点击帮助!  ";
  flag = 2 ;
}else{
  msg="提高您营运效率的好帮手";
  flag = 0 ;
  
 }
}
else
seq++
setTimeout("type()",speed)
} 
 
// -->
</script>
<body onLoad="onLoad()">
<form action="" method="post" name="form1">
 <input type=hidden name=loadingok value="">
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="position:">
  <tr height="66px">
    <td  width="32" height="69px"  valign="middle" ><img src="[#path#]img/51.gif" border=0></td>
   <td width="32"  align="left"  valign="middle" ><img src="[#path#]img/top_line.jpg" border=0></td>
   <td  align="left" valign="top" class=topfont><table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td width="77%" height="27"><span class=topfont1>用户：</span><span class=topfont2>[#username#]</span>&nbsp;&nbsp;&nbsp; 店名：<span class=topfont2>[#currentorganname#]</span></td>
       <td width="23%" align="right"><span class=topfont2>[#remind#] &nbsp;&nbsp;&nbsp;&nbsp;</span></td>
     </tr>
     <tr>
       <td colspan="2"><span style="font-size:12px;">常用快捷键说明：[ALT+T：切换到购买列表选择]&nbsp;&nbsp;[ALT+B：切换到销售列表选择]&nbsp;&nbsp;[ALT+E：收银]&nbsp;&nbsp;&nbsp;[ALT+C：读入会员卡]</span></td>
     </tr>
     <tr>
       <td colspan="2" align=right style="font-weight:bold"><a href="../pos/posmain.php" target="main" style="margin-right:10px">[收银]</a><a href="../customer/customer.php" target="main" style="margin-right:10px; display:{addcus_check}">[客户管理]</a><a href="../customer/membercard.php" target="main" style="margin-right:10px;display:{card_check}">[会员卡管理]</a><a href="../analysis/selllistall.php" target="main" style="margin-right:10px;display:{card_check}">[消费历史]</a><a href="../index.php"  target="_blank" style="margin-right:10px;display:{salelist_check}">[进入后台]</a> <a  onClick="logoff()" target="main" style="cursor:pointer;margin-right:10px;display:{card_check}">[退出]</a></td>
     </tr>
   </table>
   </td>
    </TR>

  <tr>
    <td height="14px" colspan="5" background="[#path#]img/top_bottom_line.jpg"></td>
  </tr>
</table>
</form>
</body>

</html>
