
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>初始页</title>
<LINK href="[#path#]css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/browse.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/css.css" type=text/css rel=stylesheet>
<style type="text/css">
<!--
.style1 {font-size: 14px}
body,td,th {
	font-size: 9pt;
}
.main {
	background-image: url(../common/img/tree.jpg);

}
h3{
color: #000;
}
-->
</style>
</head>

<body>
<table width="503" height="532" border="0" align="center" background="../common/img/tree.gif" >
  <tr>
    <td width="489" height="112">&nbsp;</td>
  </tr>
  <tr>
    <td>
    
    <div id="main">
<p>&nbsp;</p>
<h3 align="center">欢迎登录CML连锁店务管理系统
</h3>
<p align="center">&nbsp;</p>
<p align="center">这是用户初始页</p>
<p align="center">&nbsp;</p>
<p align="center">你可以在系统信息－&gt;用户配置中选择你 的初始化页面。 </p>
<p align="center">&nbsp;</p>
<p align="center">因部门而异，各部门所要获得的信息也不尽相同。</p>
</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
