<html style="overflow-x:hidden;overflow-y:hidden">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>香蔓店务管理系统</title>
</head>
<body>
<DIV id=eMeng style="BORDER-RIGHT: #455690 1px solid; BORDER-TOP: #a6b4cf 1px solid; Z-INDEX:99999; left: 0px; BORDER-LEFT: #a6b4cf 1px solid; WIDTH: 258px; BORDER-BOTTOM: #455690 1px solid; POSITION: absolute; top:0px; HEIGHT: 187px; BACKGROUND-COLOR: #c9d3f3">
    <TABLE height="191" border=0 cellPadding=0 cellSpacing=0 bgColor=#cfdef4 style="BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid">
    <TBODY>
        <TR>
            <TD style="FONT-SIZE: 12px; BACKGROUND-IMAGE: url(msgTopBg.gif); COLOR: #0f2c8c" width=1 height=24></TD>
            <TD style="FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(msgTopBg.gif); COLOR: #1f336b; PADDING-TOP: 4px;PADDING-left: 4px" vAlign=center width="222"> 系统有新的公告 ：</TD>
            <TD style="BACKGROUND-IMAGE: url(msgTopBg.gif); PADDING-TOP: 2px;PADDING-right:2px" vAlign=center align=right width=21><!-- <IMG title=关闭 style="CURSOR: hand" onclick=closeDiv() hspace=3 src="msgClose.jpg"> --></TD>
        </TR>
        <TR>
            <TD style="PADDING-RIGHT: 1px; BACKGROUND-IMAGE: url(1msgBottomBg.jpg); PADDING-BOTTOM: 1px" colSpan=3 height=148>
                <DIV style="BORDER-RIGHT: #b9c9ef 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #728eb8 1px solid; PADDING-LEFT: 13px; FONT-SIZE: 12px; PADDING-BOTTOM: 13px; BORDER-LEFT: #728eb8 1px solid; WIDTH: 100%; COLOR: #1f336b; PADDING-TOP: 18px; BORDER-BOTTOM: #b9c9ef 1px solid; HEIGHT: 100%"><a href="../news/notice.php?action=view&updid=[#news_id#]"  target="_blank">[#news_title#]</a><br>
				 <span id="aysaffiche_text" style="overflow:auto">[#news_content#]</span><br>
				  <span id="aysaffiche_file" ></span><br>
                <DIV align=center style="word-break:break-all" id="newgg"></DIV></DIV>
            </TD>
        </TR>
    </TBODY>
    </TABLE>
</DIV>
</body>

</html>