
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>帐户基本资料 </TITLE>
<LINK href="[#path#]css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/browse.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/css.css" rel="stylesheet" type="text/css">
<SCRIPT language="javascript" src="[#path#]js/browse.js" type="text/javascript"></SCRIPT>
<SCRIPT language="javaScript" src="[#path#]js/magicToolTip.js" type="text/javascript"></SCRIPT>
<SCRIPT language=JavaScript>
   var tempurl = "%3Fnow%3D%26pagerows%3D30%26order%3D%26upordown%3D" ;
   function init(){
		return selectit();		
   }
   function loader(url) {
   alert("test");
      parent.parent.frames[2].location.href = url;	
    clearsessionselect(url);
function qg_pl(qgtype)
{
	var idarray = new Array();//定义一个数组
	var cv = document.getElementsByName("TheID[]");
	var m = 0;
	for(var i=0; i<cv.length; i++)
	{
		if(cv[i].type.toLowerCase() == "checkbox")
		{
			if(cv[i].checked)
			{
				idarray[m] = cv[i].value;
				m++;
			}
		}
	}
	var id = idarray.join(",");
	if(!id || id == "0")
	{
		alert("没有勾选要操作的主题！");
		return false;
	}
	var url = "?action=del&delid="+id+"&qgtype="+qgtype;
	if(qgtype == "delete")
	{
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{
			tourl(url);
		}
	}
	else if(qgtype=="Move")
	{v=document.getElementById("Sale_ID").value;
	 url="Acion=Move&id="+id+"Sale_id="+v;
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{
			tourl(url);
		}
	}
	else
	{
		tourl(url);
	}
}
}

</SCRIPT>
<style type="text/css">
<!--
BODY {
BACKGROUND-POSITION: right bottom;BACKGROUND-ATTACHMENT: fixed;BACKGROUND-IMAGE: url([#path#]img/dianduopic.jpg);BACKGROUND-REPEAT: no-repeat;margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;
}
.flat_input {
	BORDER-RIGHT: #546485 1px solid; BORDER-TOP: #546485 1px solid; BORDER-LEFT: #546485 1px solid; BORDER-BOTTOM: #546485 1px solid
}
findbox_close {
	BACKGROUND-IMAGE: url([#path#]img/browse_findbox_close.gif); WIDTH: 30px; HEIGHT: 30px
}
.findbox_close {
	BORDER-RIGHT: #546485 0px; PADDING-RIGHT: 0px; BORDER-TOP: #546485 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url([#path#]img/guanbi.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #546485 0px; WIDTH: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #546485 0px; HEIGHT: 30px
}
#form1 {
	margin: 0px;
	padding: 0px;
	}
-->
</STYLE>
</head>
<body  text="#000000" topmargin="0" leftMargin="2" width="100%" onLoad="init()">
<FORM id="form1" name="form1" action="" method="post">
<DIV>
<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
  <TBODY>
  <TR>
    <TD class=pagetitle vAlign=center colSpan=2 height=30>&nbsp;&nbsp;<IMG 
      src="[#path#]img/nowspace.jpg" align=absMiddle> 
      <SPAN>&nbsp;基本资料&nbsp;--&gt;&nbsp;供应商资料 </SPAN></TD>
  </TR>
  <TR>
    <TD align=left colSpan=2>
      <DIV style="MARGIN: 0px 0px 0px 12px"><IMG 
      src="[#path#]img/line.jpg"></DIV></TD></TR>
  <TR>
    <TD align=left colSpan=2 height=3></TD></TR>
  <TR>
    <TD height=34>&nbsp;</TD>
    <TD align=right height=34>
      <TABLE class=tabletoolbar cellSpacing=0 cellPadding=0 width="100%" 
      align=center border=0>
        <TBODY>
        <TR vAlign=center>
          <TD vAlign=bottom align=left>
            <TABLE height=31 cellSpacing=0 cellPadding=0 width="100%" 
              border=0><TBODY>
              <TR>
                <TD class=button_labelleft></TD>
                <TD class=button_label><span 
                  onMouseOver="ddrivetip('显示帮助',100)" onMouseOut=hideddrivetip() 
                  ;>
                  <input class=button_help onMouseOver="this.style.backgroundImage='url([#path#]img/help_sel.jpg)'" accesskey=h onClick=javascript:help() onMouseOut="this.style.backgroundImage='url([#path#]img/help.jpg)'" type=button value="  帮助" name=save32>
                </span><span><span onMouseOver="ddrivetip('新增资料',50)" 
                  onMouseOut=hideddrivetip() ;>
                <input class=button_new onMouseOver="this.style.backgroundImage='url([#path#]img/new_sel.jpg)'" accesskey=n onClick="location.href='?action=add'"  onMouseOut="this.style.backgroundImage='url([#path#]img/new.jpg)'" type=button value="  新增" name=thenew>
                </span></span><SPAN><SPAN 
                  onmouseover="ddrivetip('修改所选的打勾资料,在表格左上处打勾可以连续修改',50)" 
                  onmouseout=hideddrivetip() ;>
                <INPUT class=button_edit onMouseOver="this.style.backgroundImage='url([#path#]img/edit_sel.jpg)'" accessKey=e onClick="javascript:editdata('account.php?id=')" onMouseOut="this.style.backgroundImage='url([#path#]img/edit.jpg)'" type=button value="  修改" name=theedit></SPAN></SPAN> 
                  <SPAN style="DISPLAY: none"><SPAN 
                  onmouseover="ddrivetip('删除所选的打勾数据，在表格左上处打勾可以全部删除，绑定的数据不可删除！',100)" 
                  onmouseout=hideddrivetip() ;><INPUT class=button_delete onMouseOver="this.style.backgroundImage='url([#path#]img/delete_sel.jpg)'" accessKey=d onclick=javascript:submit_del() onMouseOut="this.style.backgroundImage='url([#path#]img/delete.jpg)'" type=button value="  删除" name=thedel></SPAN>                  </SPAN><SPAN><SPAN 
                  onmouseover="ddrivetip('批量导入数据，可以导入文本文档和excel文件',100)" 
                  onmouseout=hideddrivetip() ;><INPUT class=button_infile onMouseOver="this.style.backgroundImage='url([#path#]img/infile_sel.jpg)'" accessKey=i onClick="javascript:inputfiledata('input_account.php')" onMouseOut="this.style.backgroundImage='url([#path#]img/infile.jpg)'" type=button value="  导入文件" name=theinputfile></SPAN></SPAN><SPAN 
                  style="DISPLAY: none"><SPAN 
                  onmouseover="ddrivetip('把数据导出到excel表格里',100)" 
                  onmouseout=hideddrivetip() ;> <INPUT class=button_outexcel onMouseOver="this.style.backgroundImage='url([#path#]img/outexcel_sel.jpg)'" accessKey=o onclick=javascript:openexcledata() onMouseOut="this.style.backgroundImage='url([#path#]img/outexcel.jpg)'" type=button value="  导出excel" name=theouttoexcle> 
                  </SPAN></SPAN><SPAN style="DISPLAY: none"><SPAN 
                  onmouseover="ddrivetip('自定义功能1',100)" 
                  onmouseout=hideddrivetip() ;><INPUT class=button_outexcel onMouseOver="this.style.backgroundImage='url([#path#]img/outexcel_sel.jpg)'" onClick="javascript:editdata('')" onMouseOut="this.style.backgroundImage='url([#path#]img/outexcel.jpg)'" type=button value="  " name=thediy1> 
                  </SPAN></SPAN><SPAN style="DISPLAY: none"><SPAN 
                  onmouseover="ddrivetip('自定义功能2',100)" 
                  onmouseout=hideddrivetip() ;><INPUT class=button_outexcel onMouseOver="this.style.backgroundImage='url([#path#]img/outexcel_sel.jpg)'" onClick="javascript:editdata('')" onMouseOut="this.style.backgroundImage='url([#path#]img/outexcel.jpg)'" type=button value="  " name=thediy2></SPAN></SPAN> 
<INPUT class=button_find onMouseOver="this.style.backgroundImage='url([#path#]img/find_sel.jpg)'" accessKey=f onclick=javascript:mainfind() onMouseOut="this.style.backgroundImage='url([#path#]img/find.jpg)'" type=button value="  查询" name=thefind>                </TD>
                <TD class=button_label>&nbsp;&nbsp;&nbsp; <SPAN 
                  style="DISPLAY: none"><SELECT style="DISPLAY: none" 
                  onchange=selecl_file() name=seldofile> <OPTION value="" 
                    selected></OPTION></SELECT> </SPAN></TD>
                <TD class=button_labelright></TD></TR></TBODY></TABLE></TD></TR>
        <TR vAlign=center>
          <TD vAlign=center align=left colSpan=2 height=5></TD></TR>
        <TR vAlign=center>
          <TD vAlign=center align=right colSpan=2>
            <TABLE cellSpacing=0 cellPadding=0 width="100%">
              <TBODY>
              <TR>
                <TD align=left><FONT color=#ff0000><B>! 
                  </B></FONT>快速查询：<SELECT class=flat_input id=whatdofindq 
                  style="FONT-SIZE: 12px" name=whatdofind[]> <OPTION value="" 
                    selected>-- 请选择查询类型 --</OPTION> <OPTION 
                    value=fd_account_no>帐号</OPTION><OPTION 
                    value=fd_account_name>户名</OPTION><OPTION 
                    value=fd_account_bank>开户银行</OPTION><OPTION 
                    value=fd_account_money>当前金额</OPTION><OPTION 
                    value=fd_account_principal>负责人</OPTION></SELECT>&nbsp;<INPUT 
                  id=howdofindq type=hidden value=like name=howdofind[]> <INPUT 
                  onkeypress="if (event.keyCode == 10 || event.keyCode == 13 ) cannotfind();" 
                  id=findwhatq title=输入关键字后,按ENTER或点击“确定”进行查询! 
                  style="FONT-SIZE: 12px" name=findwhat[]>&nbsp;&nbsp;<INPUT class=buttonsmall id=buttonq accessKey=s onclick=javascript:cannotfind(); type=button value=确定></TD>
                <TD align=right>&nbsp;<INPUT class=first_page_gray type=button name=first_page_gray> 
                  &nbsp;<INPUT class=front_page_gray type=button name=front_page_gray> 
                  &nbsp;<INPUT class=next_page_gray type=button name=next_page_gray> 
                  &nbsp;<INPUT class=last_page_gray type=button name=last_page_gray> 
                  页码：0/0页 
  &nbsp;&nbsp;</TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></DIV>
<TABLE class=tableframe id=contenttableid style="WORD-BREAK: break-all" 
width="99%" align=center>
  <TBODY>
  <TR class=listtitle>
    <TD class=listcelltitle align=middle><INPUT onclick=CheckAll(this.form) 
      type=checkbox value=on name=chkall></TD>
    <TD class=listcelltitle align=middle height=25>
      <DIV onMouseOver="ddrivetip('点击标题可以对列表进行升序，降序，重新排序',100)" 
      onmouseout=hideddrivetip() ;><A class=title 
      href="javascript:submit_order('fd_account_no')">机构代码</A></DIV></TD>
    <TD class=listcelltitle align=middle height=25>
      <DIV onMouseOver="ddrivetip('点击标题可以对列表进行升序，降序，重新排序',100)" 
      onmouseout=hideddrivetip() ;><A class=title 
      href="javascript:submit_order('fd_account_name')">机构名称</A></DIV></TD>
    <TD class=listcelltitle align=middle height=25>
      <DIV onMouseOver="ddrivetip('点击标题可以对列表进行升序，降序，重新排序',100)" 
      onmouseout=hideddrivetip() ;><A class=title 
      href="javascript:submit_order('fd_account_bank')">类型</A></DIV></TD>
    <TD class=listcelltitle align=middle height=25>
      <DIV onMouseOver="ddrivetip('点击标题可以对列表进行升序，降序，重新排序',100)" 
      onmouseout=hideddrivetip() ;><A class=title 
      href="javascript:submit_order('fd_account_money')">电话</A></DIV></TD>
    <TD class=listcelltitle align=middle height=25>
      <DIV onMouseOver="ddrivetip('点击标题可以对列表进行升序，降序，重新排序',100)" 
      onmouseout=hideddrivetip() ;><A class=title 
      href="javascript:submit_order('fd_account_principal')">负责人</A></DIV></TD>
    <TD class=listcelltitle align=middle height=25>
      <DIV onMouseOver="ddrivetip('点击标题可以对列表进行升序，降序，重新排序',100)" 
      onmouseout=hideddrivetip() ;>操作区</DIV></TD></TR>
  <TR class=listrow1 onDblClick="javascript:editdata('account.php?id=')" 
  onmouseover="changecolor(this,'#FFCCCC','','#FFEA96')" 
  onclick="changecolor(this,'','','#FFEA96');" 
  onmouseout="changecolor(this,'','','#FFEA96')"><!--<TR class=listrow1 onMouseOver="this.style.backgroundColor='#DAE2ED';" onMouseOut="this.style.backgroundColor=''" bgcolor="" onclick="this.style.backgroundColor='#99FF33';">--></TR>
  <!-- BEGIN agency -->
 <TR class=listrow1 onDblClick="javascript:editdata('storage.php?id=')" 
  onmouseover="changecolor(this,'#FFCCCC','1','#FFEA96')" 
  onclick="changecolor(this,'#FFFFFF','1','#FFEA96');" 
  onmouseout="changecolor(this,'#FFFFFF','1','#FFEA96')" bgColor=#ffffff><LABEL 
    oncontextmenu=showMenu() for=arrlabel[1]>
    <TD class=listcellrow style="WIDTH: 10px"><input name="The_ID[]" type="hidden" value="[#agent_id#]" />
     <input name="TheID[]" type="checkbox" value="[#agent_id#]" /></TD>
    <TD class=listcellrow noWrap align=left height=23>[#agency_no#]</TD>
    <TD class=listcellrow noWrap align=left height=23>[#agency_name#]</TD>
    <TD class=listcellrow noWrap align=left height=23>[#agencytype_name#]</TD>
    <TD class=listcellrow noWrap align=left height=23><FONT 
      color=#0000ff>[#tel1#]</FONT></TD>
    <TD class=listcellrow noWrap align=left height=23>[#principal#]</TD>
    <TD class=listcellrow noWrap align=middle><A 
      href='javascript:location.href="?action=upd&updid=[#agency_id#]"'>修改</A></TD></TR> 
 <!-- END agency --> 
  
  </TBODY></TABLE>
<TABLE class=tableend height=26 cellSpacing=0 cellPadding=0 width="99%" 
align=center border=0>
  <TBODY>
  <TR vAlign=center>
    <TD class=listtail align=left>&nbsp;&nbsp;共0条记录, 每页显示 <INPUT class=input 
      onkeypress="if ((event.keyCode < 48 &amp;&amp; event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;if (event.keyCode == 10 || event.keyCode == 13 ) chgrows()" 
      title=输入后直接按回车与点击“转换”同等效果! style="IME-MODE: disabled" maxLength=5 size=4 
      value=30 name=pagerows>&nbsp;条记录 <SPAN 
      onmouseover="ddrivetip('可以增减显示你所浏览的条数（上限为99条）；增减为本次操作，下次进入同样为你设定的固定值；如需更改固定值在系统管理中的“个人设置”！',200)" 
      onmouseout=hideddrivetip() ;><INPUT class=button_changesmall onclick=chgrows() type=button></SPAN> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
    <TD class=listtail align=right>&nbsp;<INPUT class=first_page_gray type=button name=first_page_gray> 
      &nbsp;<INPUT class=front_page_gray type=button name=front_page_gray> 
&nbsp;<INPUT class=next_page_gray type=button name=next_page_gray> &nbsp;<INPUT class=last_page_gray type=button name=last_page_gray> 
      到第<INPUT class=input 
      onkeypress="if ((event.keyCode < 48 &amp;&amp; event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;if (event.keyCode == 10 || event.keyCode == 13 ) viewPage(this.form.Page.value)" 
      title=输入后直接按回车与点击“转到”同等效果! style="IME-MODE: disabled; HEIGHT: 17px" 
      maxLength=10 size=3 value=0 name=Page><LABEL 
      class=browse_pagelable><B>&nbsp; 页</B><SPAN 
      onmouseover="ddrivetip('转换到第几页，在右边的输入框输入页数后，点击“转到”按钮，就可以转到你所要的页面里！',100)" 
      onmouseout=hideddrivetip() ;><INPUT class=buttonsmall id=buttonq accessKey=s onclick=viewPage(this.form.Page.value) type=button value=转到> 
      </SPAN>&nbsp;&nbsp;页码：0/0页 &nbsp;&nbsp; </LABEL></TD></TR></TBODY></TABLE>
<CENTER>
<DIV id=exceltype 
style="DISPLAY: none; LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 20%; HEIGHT: 95%">
<TABLE class=InputFrameMain height=80 cellSpacing=0 cellPadding=0 width=400 
border=0>
  <TBODY>
  <TR>
    <TD align=middle>本页数据：<INPUT type=radio value=0 name=outputexceldate> 
  </TD></TR>
  <TR>
    <TD align=middle>全部数据：<INPUT type=radio CHECKED value=1 
      name=outputexceldate> </TD></TR>
  <TR>
    <TD class=bottombotton align=middle><INPUT class=buttonsmall onclick=javascript:showexcledata() type=button value=确定 name=outputexceldates> 
<INPUT class=buttonsmall onclick=javascript:closeexceldate() type=button value=取消 name=closeexceldates> 
    </TD></TR></TBODY></TABLE></DIV>
<DIV id=sendingbg 
style="DISPLAY: none; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%"></DIV>
<DIV id=excelselect 
style="DISPLAY: none; Z-INDEX: 105; LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 20%; HEIGHT: 95%">
<TABLE class=InputFrameMain cellSpacing=0 cellPadding=0 width=400 border=0>
  <TBODY>
  <TR>
    <TD height=5></TD></TR>
  <TR>
    <TD align=left>&nbsp;&nbsp;打勾的属性代表导出。</TD></TR>
  <TR>
    <TD align=left>&nbsp;&nbsp;<INPUT type=checkbox CHECKED 
      value=fd_account_no^帐号 name=outputfield> 数据:帐号 </TD></TR>
  <TR>
    <TD align=left>&nbsp;&nbsp;<INPUT type=checkbox CHECKED 
      value=fd_account_name^户名 name=outputfield> 数据:户名 </TD></TR>
  <TR>
    <TD align=left>&nbsp;&nbsp;<INPUT type=checkbox CHECKED 
      value=fd_account_bank^开户银行 name=outputfield> 数据:开户银行 </TD></TR>
  <TR>
    <TD align=left>&nbsp;&nbsp;<INPUT type=checkbox CHECKED 
      value=fd_account_money^当前金额 name=outputfield> 数据:当前金额 </TD></TR>
  <TR>
    <TD align=left>&nbsp;&nbsp;<INPUT type=checkbox CHECKED 
      value=fd_account_principal^负责人 name=outputfield> 数据:负责人 </TD></TR>
  <TR>
    <TD align=left>&nbsp;&nbsp;<INPUT type=checkbox CHECKED 
      value=fd_account_memo^备注 name=outputfield> 数据:备注 </TD></TR>
  <TR>
    <TD class=bottombotton align=middle><INPUT class=buttonsmall onClick="javascript:outtoexcledata('')" type=button value=导出 name=outputexceldates> 
<INPUT class=buttonsmall onclick=javascript:closeexcelselect() type=button value=取消 name=closeexceldates> 
    </TD></TR></TBODY></TABLE></DIV></CENTER>
<DIV id=itemMenu style="DISPLAY: none">
<TABLE 
style="BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid" 
cellSpacing=0 width=100 bgColor=#f4f4f4>
  <TBODY>
  <TR>
    <TD 
    style="CURSOR: default; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid" 
    vAlign=bottom align=middle bgColor=#eaeaea height=18><B>功能菜单</B> </TD></TR>
  <TR>
    <TD style="CURSOR: default" 
    onclick="javascript:parent.newdata('account.php')" align=left 
      height=18>&nbsp; 新增 </TD></TR>
  <TR>
    <TD style="CURSOR: default" onClick="parent.editdata('account.php?id=')" 
    align=left height=18>&nbsp; 修改 </TD></TR>
  <TR>
    <TD style="DISPLAY: none; CURSOR: default" 
    onclick=javascript:parent.submit_del() align=left height=18>&nbsp; 删除 
  </TD></TR>
  <TR>
    <TD style="CURSOR: default" 
    onclick="javascript:parent.inputfiledata('input_account.php')" align=left 
    height=18>&nbsp; 导入文件 </TD></TR>
  <TR>
    <TD style="DISPLAY: none; CURSOR: default" 
    onclick=javascript:parent.openexcledata() align=left height=18>&nbsp; 
      导出EXCEL </TD></TR>
  <TR>
    <TD style="DISPLAY: none; CURSOR: default" 
    onclick="javascript:parent.editdata('')" align=left height=18>&nbsp; 
</TD></TR>
  <TR>
    <TD style="DISPLAY: none; CURSOR: default" 
    onclick="javascript:parent.editdata('')" align=left height=18>&nbsp; 
</TD></TR>
  <TR>
    <TD style="CURSOR: default" onclick=javascript:parent.mainfind() align=left 
    height=18>&nbsp; 查询 </TD></TR>
  <TR>
    <TD style="CURSOR: default" onclick=javascript:parent.help() align=left 
    height=18>&nbsp; 帮助 </TD></TR>
  <TR>
    <TD style="CURSOR: default" 
    onclick="parent.document.execCommand('Copy','false',null)" align=left 
    height=18>&nbsp; 复制文字 </TD></TR>
  <TR>
    <TD style="CURSOR: default" onclick=parent.browsezhantie() align=left 
    height=18>&nbsp; 粘贴文字 </TD></TR></TBODY></TABLE></DIV></FORM>
<DIV id=helpid 
style="DISPLAY: none; LEFT: 1%; WIDTH: 500px; POSITION: absolute; TOP: 70px; HEIGHT: 0px">
<DIV style="RIGHT: 15px; LEFT: 15px; POSITION: absolute; TOP: 15px" 
align=left>帮助(Alt+h)：显示帮助信息；<BR><BR>查询(Alt+f)：查询所要显示的相关内容；<BR><BR>新增(Alt+n)：连接到新增页面中；<BR><BR>删除(Alt+d)：即删除不再使用的相关信息；<BR><BR>导入文件(Alt+i)：导入所需要的相关信息。<BR><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
导入文件类型分为：excel、csv格式、文本文档；<BR><BR>导出excel(Alt+o)：把当前页面的数据或者全部数据导出到excel表格当中；<BR><BR>每页显示多少条数据：默认是在系统管理中的个人设置中修改默认浏览数量，也可以直接在输入框里输入记录数，最大99条，然后按下转换按钮，系统就会显示你需要浏览的数量。<BR><BR>在转到几页的输入款输入想要转到的页数，然后按下转到按钮，系统就会跳转到你想要看第几页<BR><BR>点击标题可以对列表进行升序，降序排序。在本页新增、修改操作后，排序不变。 
</DIV></DIV></body></HTML>
