<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<LINK href="{path}/css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}/css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}/css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}/css/css.css" rel="stylesheet" type="text/css">
<script language="javascript">
function dispattrib(){
	var cn = document.getElementById('configname').value;
	if(document.getElementById('nameSql').checked) cn = 'sql语句查询出的名字';
	document.getElementById('dispvarname').innerHTML = cn;
	document.getElementById('dispcontent').innerHTML = getdispcontent();
}
function getdispcontent(){
	var st = document.getElementById('configtype').value;
	var na = document.getElementById('configvarname').value;
	var vs = document.getElementById('configvalue').value.split("\r\n");
	var dv = document.getElementById('configdefault').value;
	if(document.getElementById('valueSql').checked)		vs=new Array('sql语句查询出来的值列表');
	if(document.getElementById('defaultSql').checked)	dv=new Array('sql语句查询出来的默认值列表');
	var sr = '';
	var ss = '<select id="'+na+'">';
	for(var i=0; i<vs.length; i++){
		var ns = vs[i].split('=');
		switch(st){
			case 'radio':
				sr += ' <input type=radio id='+na+' value='+ns[1]+' />'+ns[0];
			break;
			case 'checkbox':
				sr += ' <input type="checkbox" id="'+na+'" value="'+ns[1]+'" />'+ns[0];
			break;
			case 'text':
				var mn = document.getElementById('maxlength').value;
				sr = ' <input type="text" id="'+na+'" value="'+dv+'" maxlength="'+mn+'" />';
			break;
			case 'select':
				ss += ' <option value="'+ns[1]+'">'+ns[0]+'</option>';
			break;
		}
	}
	return (st=='select')?ss:sr;
}
function init(){
	if(document.getElementsByName('isrule')[0].checked){
		document.getElementById('tdType').style.display='';
	}
	if(document.getElementById('configtype').value == 'text'){
		document.getElementById('tdMax').style.display='';
	}
}
function selectType(){
	if(document.getElementById('configtype').value == 'text'){
		document.getElementById('tdMax').style.display='';
	}else{
		document.getElementById('tdMax').style.display='none';
	}
}
function checkSubmit(){
	var df = document.forms['form1'];
	if(df.configname.value == ''){
		alert('请输入附加值名称！');
		return false;
	}else if(df.configvarname.value == ''){
		alert('请输入附加值变量名！');
		return false;
	}else if(df.configdefault.value == ''){
		alert('请设置一个默认值！');
		return false;
	}else if(df.configtype.value == 'text' && df.maxlength.value ==''){
		alert('请设置文本框的长度！');
		return false;
	}else if(df.configtype.value != 'text' && df.configvalue == ''){
		alert('请设置附加值的值文本');
		return false;
	}
	if(df.nameSql.checked)df.configname.value = '[sql]' + df.configname.value;
	if(df.defaultSql.checked)df.configdefault.value = '[sql]' + df.configdefault.value;
	if(df.valueSql.checked)df.configvalue.value = '[sql]' + df.configvalue.value;
	return true;
}
function checkRuel(){
	document.getElementById('tdType').style.display='none';
	var df = document.forms['form1'];
	df.issystemvar[0].checked = false;
	df.issystemvar[1].checked = false;
}
function checkAttrib(){
	document.getElementById('tdType').style.display='';
	var df = document.forms['form1'];
	df.issystemvar[0].checked = false;
	df.issystemvar[1].checked = true;
}
</script>
<title>无标题文档</title>
</head>

<body onLoad="init();">
<h4>{actionName}附加值</h4>
<form name="form1" method="post" action="attach.php" onSubmit="return checkSubmit();">
<input name="action" value="{action}" type="hidden">
<input name="updid" value="{updid}" type="hidden">
  <table width="100%"  border="0" cellspacing="0" cellpadding="5">
    <tr>
      <td width="50%" valign="top"><table width="100%"  border="0" cellspacing="1" cellpadding="3" class="borderStyle">
        <tr class="tdBgColor">
          <td width="60" align="right">附属菜单</td>
          <td><select name="ruleid" id="ruleid">
              <option value="0">全局</option>
<!-- BEGIN row -->
              <{option} value="{ruleid}"{ruselect} label='{space}{rulename}'>{space}{rulename}</{option}>
<!-- END row -->
          </select></td>
        </tr>
        <tr class="tdBgColor">
          <td align="right">作 用 域</td>
          <td><input type="radio" name="isrule" value="0"{pchecked} onClick="checkAttrib();">
            属性              
              <input type="radio" name="isrule" value="1"{rchecked} onClick="checkRuel();">
            权限 </td>
        </tr>
        <tr class="tdBgColor" id="tdType" style="display:none; ">
          <td align="right">类　　型 </td>
          <td><input type="radio" name="issystemvar" value="1" onClick="document.getElementById('ruleid').value=0;"{schecked}>
      系统
        <input name="issystemvar" type="radio" value="0"{uchecked}>
      用户 </td>
        </tr>
        <tr class="tdBgColor">
          <td align="right">名　　称</td>
          <td>            <input name="configname" type="text" id="configname" onChange="dispattrib();" value="{configname}">
            <input name="nameSql" type="checkbox" id="nameSql" value="1"{nSqlChk}>SQL语句</td></tr>
        <tr class="tdBgColor">
          <td align="right">变 量 名</td>
          <td><input name="configvarname" type="text" id="configvarname" onChange="dispattrib();" value="{configvarname}"></td>
        </tr>
        <tr class="tdBgColor">
          <td align="right">选择方式</td>
          <td><select name="configtype" id="configtype" onChange="selectType();dispattrib();">
              <option value="text"{tselected}>文本框</option>
              <option value="radio"{rselected}>单选框</option>
              <option value="checkbox"{cselected}>复选框</option>
              <option value="select"{sselected}>下拉列表</option>
          	  </select>
		  </td>
        </tr>
        <tr class="tdBgColor" id="tdMax" style="display:none; ">
          <td align="right"> 最大长度</td>
          <td><input name="maxlength" type="text" id="maxlength" onChange="dispattrib();" value="{maxlength}" size="7"></td>
        </tr>
        <tr class="tdBgColor">
          <td align="right">默 认 值</td>
          <td>            <input name="configdefault" type="text" id="configdefault" onChange="dispattrib();" value="{configdefault}">
            <input name="defaultSql" type="checkbox" id="defaultSql" value="1"{dSqlChk}>SQL语句</td>
        </tr>
        <tr class="tdBgColor">
          <td align="right">值 文 本</td>
          <td>            <textarea name="configvalue" rows="3" wrap="VIRTUAL" id="configvalue" onChange="dispattrib();">{configvalue}</textarea>
            <input name="valueSql" type="checkbox" id="valueSql" value="1"{vSqlChk}>SQL语句</td>
        </tr>
        <tr class="tdBgColor">
          <td>&nbsp;</td>
          <td><input type="submit" value="提交">
            <input type="button" value="预览" onClick="dispattrib();"></td>
        </tr>
      </table></td>
    <td align="center" valign="top"><table width="100%"  border="0" cellspacing="1" cellpadding="3" class="borderStyle">
      <tr class="tabTh">
        <td height="20" colspan="2">附加值预览</td>
      </tr>
      <tr align="left" class="tdBgColor">
        <td align="right" id="dispvarname">&nbsp;</td>
        <td id="dispcontent">&nbsp;</td>
      </tr>
    </table>      <p align="left"><b>说　明：</b><br>
      　<b>作用域</b><br>
      　　属性：表示用户可以自行设置的值；<br>
      　　权限：由管理者分配给用户的具体值。<br>
      <br>
      　<b>类型</b>：只针对作用域为属性的附加值<br>
      　　系统：只针对全局菜单，用于配置系统；<br>
      　　用户：用于用户自行配置的值。<br>
      <br>
      　<b>默认值</b>：允许多值，多值请用&quot;#&quot;号分隔。<br>
      <br>
      　<b>值文本</b>：用于设置可选值。一行表示一个项目；形式为：name=value<br>
      <br>
      　<b>SQL语句</b>：表示数据来源为SQL语句查询的结果<br>
      　　名称：SQL语句只返回第一行的第一个字段；<br>
      　　默认值：SQL语句允许返回多行，取第一个字段；<br>
      　　值文本：SQL语句允许返回多行，取前二个字段。<br>
      <br>
      　<b>SQL特殊词</b>：用于表示特定含义<br>
      　　　
      特殊词有：当前时间，当前用户(用户ID)，当前权限(当前用户所能浏览的菜单集，形式为：菜单ID,菜单ID..)</p>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
