<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<title>系统反馈</title>
<style type="text/css">
<!--
body,td,th {
	font-size: 9pt;
}
.style2 {color: #0000FF}
.style3 {color: #FF0000}
.style4 {
	font-size: 12pt;
	font-weight: bold;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:CEEBCE;
}
-->
</style>
<script language="javascript">
function goupdate(id,p){
	var state = document.getElementById('state'+id).value;
	var title = document.getElementById('title'+id).value;
	var content = document.getElementById('content'+id).value;
	location.href = 'feedback.php?action=upd&updid='+id+'&state='+state+'&title='+title+'&content='+content+'&p='+p;
}
</script>
</head>

<body>
<table width="100%"  border="0" cellpadding="0" cellspacing="5" bgcolor="#FFFFFF">
  <tr>
    <td height="30" align="center" bgcolor="#EBEBEB"><span class="style4">系统反馈</span></td>
  </tr>
<!-- BEGIN row -->
  <tr>
    <td bgcolor="#EBEBEB"><table width="100%"  border="0" cellpadding="5" cellspacing="1">
      <tr>
        <td><span class="{msgStyle}"><b>{msgState}</b></span> <i>{senddate}</i>　<b>{msgTitle}</b></td>
      </tr>
      <tr>
        <td>{msgUser}（{msgUserGroup}）</td>
      </tr>
      <tr>
        <td>{msgContent}</td>
      </tr>
      <tr style="display:{msgDisp}">
        <td>{msgAccepterStr}<span class="style2">{msgAccepter}</span>　{msgDoneStr}<span class="style2">{msgDone}</span>　 {msgOkStr}<span class="style2">{msgOk}</span>　<span class="style2">{msgIsOk}</span></td>
      </tr>
    </table></td>
  </tr>
<!-- END row -->
  <tr style="display:{pagesDisp};">
    <td align="right" bgcolor="#EBEBEB">{pages}&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB"><table width="100%"  border="0" cellpadding="5" cellspacing="1">
<form action="feedback.php" method="get">
<input type="hidden" name="action" value="add">
      <tr>
        <td>{stateString}
          <input name="title" type="text" id="title" value="标题"{disabled}>        </td>
      </tr>
      <tr>
        <td><textarea name="content" cols="40" rows="2" wrap="VIRTUAL" id="content"{disabled}>内容</textarea>
          <input type="submit" value="新增"{disabled}></td>
        </tr>
</form>
    </table></td>
  </tr>
</table>
</body>
</html>
