<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style4 {	font-size: 12pt;
	font-weight: bold;
}
body,td,th {
	font-size: 9pt;
}
body {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
{ajaxstr}
</head>

<body>
<div align="center"><span class="style4">信息栏</span>
</div>
<table width="100%"  border="0" cellpadding="0" cellspacing="5" bgcolor="#FFFFFF">
<!-- BEGIN row -->
  <tr>
    <td bgcolor="#EBEBEB"><table width="100%"  border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC" class="borderStyle">
      <tr>
        <td bgcolor="#FFFFFF"><b>{msgtitle}</b>　{msgdate}　From:{username} {del}</td>
      </tr>
      <tr style="display:{dispOther}">
        <td bgcolor="#DDDDDD">其它接收者：{otherName}</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF">{msgtext}</td>
      </tr>
    </table></td>
  </tr>
<!-- END row -->
  <tr>
    <td align="right">{pages}&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB"><table width="100%"  border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC" class="borderStyle">
<form action="message.php" method="post">
<input name="action" type="hidden" id="action" value="add">
<input name="userid" type="hidden" id="userid" value="{curuser}">
        <tr>
          <td bgcolor="#FFFFFF">标题：
            <input name="msgtitle" type="text" id="msgtitle" value="标题"{disabled}>         
              &nbsp;范围：
              <select name="field" id="field" onChange="xajax_getList(document.getElementById('field').value)"{disabled}>
                <option value="global">全局用户</option>
                <option value="current">组内用户</option>
              </select>
            <input type="submit" value="发送"{disabled}></td>
        </tr>
        <tr>
          <td bgcolor="#DDDDDD">请选择：<span id="touser">{defuser}</span></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF"><textarea name="msgtext" cols="45" rows="5" wrap="VIRTUAL" id="msgtext"{disabled}>内容</textarea>
          </td>
        </tr>
</form>
    </table></td>
  </tr>
</table>
</body>
</html>
