<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>角色管理</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<form name="form1" method="post" action="role.php">
<input type="hidden" name="action" value="{action}">
<input type="hidden" name="updid" value="{updid}">
<h3>{actionName}角色权限</h3>
   <p><b>角色名</b>     
     <input type="text" name="rolename" value="{rolename}">
       <input type="submit" value="提交">
  </p>
   <a href="group.php?action=add">新建工作组</a>
<table width="100%"  border="0" cellspacing="1" cellpadding="2" class="borderStyle">
     <tr>
       <td width="10%" height="23" class="colBgColor" align="right">绑定到工作组</td>
       <td class="tdBgColor"><table width="100%"  border="0" cellspacing="0" cellpadding="2">
         <!-- BEGIN gtr -->
         <tr>
           <!-- BEGIN gtd -->
           <td><input type="checkbox" name="groups[]" value="{groupid}"{gchecked}>
             {groupname}</td>
           <!-- END gtd -->
         </tr>
         <!-- END gtr -->
       </table></td>
     </tr>
   </table>
   <br>
   <b>全局权限</b> <a href="attach.php?action=add">增加附加权限</a>  
   <table width="100%"  border="0" cellpadding="2" cellspacing="1" class="borderStyle">
     <tr height="23" class="tabTh">
       <td width="20%">权限名称</td>
       <td width="30%">权限设置值</td>
       <td width="20%">权限名称</td>
       <td>权限设置值</td>
     </tr>
     <!-- BEGIN ttr -->
     <tr height="23" class="tdBgColor">
       <!-- BEGIN ttd -->
       <td align="right" class="colBgColor">{name}</td>
       <td><table width="100%">
		     <tr><td width="25%">{value}</td>
	      </tr></table></td>
       <!-- END ttd -->
     </tr>
     <!-- END ttr -->
   </table>
   <br>
   <b>页面权限</b>  <a href="rule.php?action=add">增加菜单</a> <a href="attach.php?action=add"></a><table width="100%" border="0" cellpadding="2" cellspacing="1" class="borderStyle">
     <tr class="tabTh">
       <td width="200" height="25">菜单名称</td>
       <td width="50">超用户</td>
       <td width="50">浏览</td>
       <td width="50">增加</td>
       <td width="50">修改</td>
       <td width="50">删除</td>
       <td width="50">导入</td>
       <td width="50">导出</td>
       <td width="50">反冲</td>
       <td width="50">审核</td>
       <td>附加值</td>
     </tr>
<!-- BEGIN ruleList -->
     <tr class="tdBgColor">
       <td height="25">{space}{rulename}</td>
       <td align="center"><span style="display:'{display}';"><input type="checkbox" name="rules[{ruleid}][S]" value="1"{rschecked}></span></td>
       <td align="center"><span style="display:'{display}';"><input type="checkbox" name="rules[{ruleid}][B]" value="1"{rbchecked}></span></td>
       <td align="center"><span style="display:'{display}';"><input type="checkbox" name="rules[{ruleid}][A]" value="1"{rachecked}></span></td>
       <td align="center"><span style="display:'{display}';"><input type="checkbox" name="rules[{ruleid}][M]" value="1"{rmchecked}></span></td>
       <td align="center"><span style="display:'{display}';"><input type="checkbox" name="rules[{ruleid}][D]" value="1"{rdchecked}></span></td>
       <td align="center"><span style="display:'{display}';"><input type="checkbox" name="rules[{ruleid}][I]" value="1"{richecked}></span></td>
       <td align="center"><span style="display:'{display}';"><input type="checkbox" name="rules[{ruleid}][E]" value="1"{rechecked}></span></td>
       <td align="center"><span style="display:'{display}';"><input type="checkbox" name="rules[{ruleid}][R]" value="1"{rrchecked}></span></td>
       <td align="center"><span style="display:'{display}';"><input type="checkbox" name="rules[{ruleid}][H]" value="1"{rhchecked}></span></td>
       <td><table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#FFFFFF">
         <!-- BEGIN attachList -->
         <tr>
           <td align="right" class="colBgColor">{name}:</td>
           <td class="tdBgColor"><table width="100%">
		     <tr><td width="50%">{value}</td>
	      </tr></table></td>
         </tr>
         <!-- END attachList -->
       </table></td>
     </tr>
<!-- END ruleList -->
  </table>
   </form>
</body>
</html>
