<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align="left">{addstr}</div>
<table border="0" cellpadding="2" cellspacing="1" class="borderStyle">
  <tr class="tabTh">
    <td>菜单名</td>
    <td>命令地址</td>
    <td>修改</td>
    <td>删除</td>
  </tr>
<!-- BEGIN row -->
  <tr class="tdBgColor">
    <td>{space}{rulename}</td>
    <td>{ruleurl}</td>
    <td align="center">{updstr}</td>
    <td align="center">{delstr}</td>
  </tr>
<!-- END row -->
</table>
</body>
</html>
