
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
 	function TrOver(o)
	{
	o.style.backgroundColor='#F3F3F3'
	o.style.cursor="hand"
	}
	function TrOut(o)
	{
	o.style.backgroundColor=''
	}
  function  CloseSelf(customerid,customername,address,tel,handphone){  

    window.opener.document.form.customerid.value=customerid; 
    window.opener.document.form.customername.value=customername;  
    window.opener.document.form.address.value=address;  
	
    window.opener.document.form.tel.value=tel; 
   window.opener.document.form.handphone.value=handphone;  
    window.close();   
  }   

function to_modify(id)
{
	tourl("admin.php?file=article&act=modify&id="+id);
}
function to_delete(id)
{
	var question = confirm("确认删除该内容信息吗？特别说明，删除后无法恢复！");
	if (question != "0")
	{
		tourl("admin.php?file=article&act=delete&id="+id);
	}
}
function qg_pl(qgtype)
{
	var idarray = new Array();//定义一个数组
	var cv = document.getElementsByTagName("input");
	var m = 0;
	for(var i=0; i<cv.length; i++)
	{
		if(cv[i].type.toLowerCase() == "checkbox")
		{
			if(cv[i].checked)
			{
				idarray[m] = cv[i].value;
				m++;
			}
		}
	}
	var id = idarray.join(",");
	if(!id || id == "0")
	{
		alert("没有勾选要操作的主题！");
		return false;
	}
	var url = "?action=del&delid="+id+"&qgtype="+qgtype;
	if(qgtype == "delete")
	{
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{
			tourl(url);
		}
	}
	else if(qgtype=="Move")
	{v=document.getElementById("Sale_ID").value;
	 url="Acion=Move&id="+id+"Sale_id="+v;
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{
			tourl(url);
		}
	}
	else
	{
		tourl(url);
	}
}

function cg_pl(qgtype)
{
 	var idarray = new Array();//定义一个数组
	var id = document.getElementsByID("Sale_ID").value;
	var url = "?action="+qgtype+"&id="+id+"&qgtype="+qgtype;
 
	tourl(url);
	
}


function tourl(url)
{
	window.location.href=url;
}
	function CheckAll(checkBoxName){
			var checkBox = document.getElementsByName(checkBoxName);
			for (var i = 0; i < checkBox.length; i++){
				var temp = checkBox[i];
				temp.checked = true;
			}
	}
	function CheckReverse(checkBoxName){
		var checkBox = document.getElementsByName(checkBoxName);
		for (var i = 0; i < checkBox.length; i++){
			var temp = checkBox[i];
			temp.checked = !temp.checked;
		}
	}
	
	
	
	
	


		function PPClass_IsNextClass_85(ClassID){
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][0]==ClassID){return true;}
			}
			return false;
		}
		
		function PPClass_GetParentID_85(ClassID){
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][1]==ClassID){return PPClass_Array_85[i][0];}
			}
			return -1;
		}
		
		function PPClass_DrawLists_85(SelectName,ClassID,Mode,Html,TheOption){
			var ParentID=PPClass_GetParentID_85(ClassID);
			var TheSelected="";
			var HtmlCode="";
			PPClass_AllID_85+="," + ClassID;
			ParentID=(ParentID==0) ? -1:ParentID;
			HtmlCode="<select name=\""+SelectName+"_PPST_85\" id=\""+SelectName+"_PPST_85\"  onChange={javascript:PPClass_DrawLists_85(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n";
			HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_85+"</option>\n";
			ParentID=(ParentID==-1) ? 0:ParentID;
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][1]==ClassID){
					TheSelected=" selected";
					switch(Mode){
					case 0:
						PPClass_Value_85+="," + PPClass_Array_85[i][1];
						break;
					case 1:
						PPClass_Value_85+="," + PPClass_Array_85[i][2];
						break;
					case 2:
						PPClass_Value_85+="," + PPClass_Array_85[i][1] + "|" + PPClass_Array_85[i][2];
					break;
					}
				}else{
					TheSelected="";
				}
				if(PPClass_Array_85[i][0]==ParentID){HtmlCode+="<option value=\""+PPClass_Array_85[i][1]+"|"+PPClass_Array_85[i][2]+"\""+TheSelected+">"+PPClass_Array_85[i][2]+"</option>\n";}
			}
			HtmlCode+="</select>\n"+Html
			if(ParentID==0){
				if(PPClass_IsNextClass_85(PPClass_AllID_85.split(",")[1])){
					HtmlCode+="<select name=\""+SelectName+"_PPST_85\"  id=\""+SelectName+"_PPST_85\" onChange={javascript:PPClass_DrawLists_85(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n"
					HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_85+"</option>\n";
					for(var i=0;i<PPClass_Array_85.length;i++){
						if(PPClass_Array_85[i][0]==PPClass_AllID_85.split(",")[1]){HtmlCode+="<option value=\""+PPClass_Array_85[i][1]+"|"+PPClass_Array_85[i][2]+"\">"+PPClass_Array_85[i][2]+"</option>\n";}
					}
					HtmlCode+="</select>\n"
				}
				PPClass_AllID_85="";
				var Value=PPClass_Value_85.split(",")[1];
				if(Value==null) Value="";
				HtmlCode+="<input type=\"hidden\" name=\""+SelectName+"\" id=\""+SelectName+"\" value=\""+Value+"\" />"
				PPClass_Value_85="";
				document.getElementById("PPClass_Container85_"+SelectName).innerHTML=HtmlCode;
			}else{
				PPClass_DrawLists_85(SelectName,ParentID,Mode,HtmlCode,TheOption);
			}
		}
 
		function ListInClass(o){
		var v=document.getElementById("Sale_ID").value;
		if (v==""){
			alert("你还没有选择分类");
			return false;
		}else if(o=="listclass"){
			window.location.href="?qgtype="+o+"&Sale_ID="+v;
		}else{
			return true;
		}
	} 
	
	
	
		
		function PPClass_IsNextClass_13(ClassID){
			for(var i=0;i<PPClass_Array_13.length;i++){
				if(PPClass_Array_13[i][0]==ClassID){return true;}
			}
			return false;
		}
		
		function PPClass_GetParentID_13(ClassID){
			for(var i=0;i<PPClass_Array_13.length;i++){
				if(PPClass_Array_13[i][1]==ClassID){return PPClass_Array_13[i][0];}
			}
			return -1;
		}


		function PPClass_DrawLists_13(SelectName,ClassID,Mode,Html,TheOption){
		
		
		    if(!arguments[1])ClassID=-1;
			var ParentID=PPClass_GetParentID_13(ClassID);
			var TheSelected="";
			var HtmlCode="";
			PPClass_AllID_13+="," + ClassID;
			ParentID=(ParentID==0) ? -1:ParentID;
			HtmlCode="<select name=\""+SelectName+"_PPST_13\" id=\""+SelectName+"_PPST_13\"  onChange={javascript:PPClass_DrawLists_13(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n";
			HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_13+"</option>\n";
			ParentID=(ParentID==-1) ? 0:ParentID;
			for(var i=0;i<PPClass_Array_13.length;i++){
				if(PPClass_Array_13[i][1]==ClassID){
					TheSelected=" selected";
					switch(Mode){
					case 0:
						PPClass_Value_13+="," + PPClass_Array_13[i][1];
						break;
					case 1:
						PPClass_Value_13+="," + PPClass_Array_13[i][2];
						break;
					case 2:
						PPClass_Value_13+="," + PPClass_Array_13[i][1] + "|" + PPClass_Array_13[i][2];
					break;
					}
				}else{
					TheSelected="";
				}
				if(PPClass_Array_13[i][0]==ParentID){HtmlCode+="<option value=\""+PPClass_Array_13[i][1]+"|"+PPClass_Array_13[i][2]+"\""+TheSelected+">"+PPClass_Array_13[i][2]+"</option>\n";}
			}
			HtmlCode+="</select>\n"+Html
			if(ParentID==0){
				if(PPClass_IsNextClass_13(PPClass_AllID_13.split(",")[1])){
					HtmlCode+="<select name=\""+SelectName+"_PPST_13\"  id=\""+SelectName+"_PPST_13\" onChange={javascript:PPClass_DrawLists_13(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n"
					HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_13+"</option>\n";
					for(var i=0;i<PPClass_Array_13.length;i++){
						if(PPClass_Array_13[i][0]==PPClass_AllID_13.split(",")[1]){HtmlCode+="<option value=\""+PPClass_Array_13[i][1]+"|"+PPClass_Array_13[i][2]+"\">"+PPClass_Array_13[i][2]+"</option>\n";}
					}
					HtmlCode+="</select>\n"
				}
				PPClass_AllID_13="";
				var Value=PPClass_Value_13.split(",")[1];
				if(Value==null) Value="";
				HtmlCode+="<input type=\"hidden\" name=\""+SelectName+"\" id=\""+SelectName+"\" value=\""+Value+"\" />"
				PPClass_Value_13="";
				document.getElementById("PPClass_Container13_"+SelectName).innerHTML=HtmlCode;
			}else{
				PPClass_DrawLists_13(SelectName,ParentID,Mode,HtmlCode,TheOption);
			}
		}

	function CheckSubmitOne(o){
		var checkBox = document.getElementsByName("TheID[]");
		var temp = false;
		for (var i = 0; i < checkBox.length; i++){
			if (checkBox[i].checked){temp=true;}
		}
		if (temp==false){alert("你需要至少选择一条信息..");return false;
		}else{return confirm("你确认你要执行该操作吗？");	}
	}

</script>
<style type="text/css">
<!--
body {
	margin: 10px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}
form {
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
-->
</style>
</head>
<body>
<form  name="search" method="POST" action="select_customer.php">
 搜索：
<select name="cateid" id="cateid">		
<option value=""> 请选择分类</option>	 
<option value="customerid" >ID</option>
<option value="handphone">手机</option>
<option value="customername">姓名</option>
<option value="idnumber">身份证</option>
</select>	
	<input type="text" name="keywords" id="keywords" value="">
	  <input type="submit" value="搜索">
<input type=button onclick=window.location.href('select_customer.php') value='显示全部'>
<div align="right">{add}</div>
</form>
<form action="?Action=DoAllNews" method="post" onsubmit="return CheckSubmitOne()">
<table width="100%" border="0" cellpadding="5" cellspacing="1" class="borderStyle">
   <tr align="center" class="tabTh">
     <td width="5%">ID</td>
     <td width="5%">客户姓名</td>
     <td width="20%">地址</td>
     <td width="10%">手机</td>
     <td width="10%"><select onchange="tourl('?cateid=areaid&keywords='+this.value)"><option value='0' selected>按区域查看</option><!-- BEGIN arealist -->{arr};<!-- END arealist --><option value='0' >不详</option></select></td>
     <td width="10%"><select name="select2" onchange="tourl('?cateid=userid&keywords='+this.value)">
       <option value='0' selected>按负责人查看</option>
	   <!-- BEGIN sale -->
       {arr};
       <!-- END sale -->
	   <option value='0' >不详</option>
     </select></td>
     <td width="15%">E_mail</td>
     <td width="5%">选择</td>


   </tr>
<!-- BEGIN customer -->
   <tr class="tdBgColor"  onMouseOver="TrOver(this)" onMouseOut="TrOut(this)"  onclick="CloseSelf('{customerid}','{customername}','{address}','{tel}','{handphone}');">
     <td>{customerid}<input name="The_ID" type="hidden" value="{customerid}" /></td>
     <td>{customername}</td>
     <td>{address}</td>
     <td>{handphone}</td>
     <td>
	 <!-- BEGIN area -->
	 {area_name}<br>
	<!-- END area --></td>
     <td><!-- BEGIN user1 -->
	{username}<br>
	<!-- END user1 --></td>
     <td>
	 {email} </td>
     <td align="center"><a href="" id="td14"  onclick="CloseSelf('{customerid}','{customername}','{address}','{tel}','{handphone}');">选择</a></td>
 
  </tr>
     
<!-- END customer -->
<tr class="tdBgColor">
     <td width="5%">ID</td>
     <td colspan="10">
 
		<select name="Sale_ID"   id="Sale_ID" >
          <option value='0' selected>按负责人查看</option>
          <!-- BEGIN sale -->
		  
       {arr};
       
		  <!-- END sale -->
        </select>
		<input name="button" type="button" onclick="return ListInClass('listclass')" value="查看该分类">
		&nbsp;&nbsp;
        <input type=button onclick=window.location.href('select_customer.php') value=' 显示全部 '>
      &nbsp;</td>
    </tr>
</table>
</form>
<div align="right">
{pagelist}
</div>
</body>
</html>