
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
  	function TrOver(o)
	{
	o.style.backgroundColor='#F3F3F3'
	o.style.cursor="hand"
	}
	function TrOut(o)
	{
	o.style.backgroundColor=''
	}
  function  CloseSelf(userid,username){  
    window.opener.document.form.userid.value=userid; 
    window.opener.document.form.username.value=username;   
    window.close();   
  } 
function tourl(url)
{
	window.location.href=url;
}
</script>  
</head>

<body>
<div align="right">{add}</div>
<table width="100%" border="0" cellpadding="5" cellspacing="1" class="borderStyle">
   <tr align="center" class="tabTh" >
     <td>用户名称</td>
     <td><select name="groupid" id="groupid" onchange="tourl('?groupid='+encodeURI(this.value))">
<!-- BEGIN grouprow -->
<option value="{groupid}"{gselected}>{groupname}</option>
<!-- END grouprow -->
</select></td>
     <td width="50">选择</td>
   </tr>
<!-- BEGIN user -->
   <tr onclick="CloseSelf('{userid}','{username}')" class="tdBgColor" onMouseOver="TrOver(this)" onMouseOut="TrOut(this)" >
     <td>{username}</td>
     <td>
	 <!-- BEGIN group -->
	 {groupname}<br>
	 <!-- END group -->	 </td>
     <td align="center"><a href="" id="td14"  onclick="CloseSelf('{userid}','{username}');">选择</a></td>
  </tr>
<!-- END user -->
</table>
</body>
</html>
