
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript src="{path}js/calendar.js" type=text/javascript></SCRIPT>
</head>

<body>
<form action="statistics.php" method="post">
<div align="center">从{datebg}到{dateend}客户跟进统计</div>
<table width="100%" border="0" cellpadding="5" cellspacing="1" class="borderStyle">
   <tr  class="tabTh">
     <td align="right">排序</td>
     <td align="left">客户名称</td>
     <td align="left">访问次数</td>
     <td align="left">上次拜访时间</td>
     <td align="left">下次拜访日期</td>
     <td align="left">客户等级</td>
     <td align="left">区域</td>
     <td align="left">负责人</td>
   </tr>
<!-- BEGIN customer -->
   <tr class="tdBgColor">
     <td align="right">{rank}</td>
     <td>{customername}</td>
     <td>{visitenumber}</td>
     <td>{lasttime}</td>
     <td>{nexttime}</td>
     <td>{degree}</td>
     <td>{areaname}</td>
     <td>{username}</td>
   </tr>
<!-- END customer -->
 <!-- BEGIN total -->
   <tr  class="tabTh">
     <td width="10%" align="right">总计</td>
     <td width="10%" align="left">&nbsp;</td>
     <td width="15%" align="left">&nbsp;</td>
     <td width="15%" align="left">&nbsp;</td>
     <td width="15%" align="left">&nbsp;</td>
     <td width="15%" align="left">&nbsp;</td>
     <td width="10%" align="left">&nbsp;</td>
     <td width="10%" align="left">&nbsp;</td>
   </tr>
<!-- END total -->
</table>
</form>
</body>
</html>
