
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<title>无标题文档</title>
</head>

<body>
<h4>系统配置</h4>
{form}
<input type="hidden" name="action" value="upd">
  <table  border="0" cellspacing="1" cellpadding="3" class="borderStyle">
<!-- BEGIN row -->
    <tr class="tdBgColor">
      <td align="right">{configname}</td>
      <td>{configvalue}</td>
    </tr>
<!-- END row -->
    <tr class="tdBgColor">
      <td colspan="2" align="center">
       <input type="reset" value="重置"{disabled}>
	   <input type="submit" value="提交"{disabled}>
	  </td>
    </tr>
  </table>
{endform}
</body>
</html>
