
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<link href="[#path#]css/css.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript src="[#path#]js/calendar.js" type=text/javascript></SCRIPT>
<script type="text/javascript">
function checkform()
{
	var email = document.getElementById("email").value;
	var customername = document.getElementById("customername").value;
	var areaid = document.getElementById("areaid").value;
	var birthday = document.getElementById("birthday").value;
	var idnumber = document.getElementById("idnumber").value;
	var tel = document.getElementById("tel").value;
	var qq = document.getElementById("qq").value;
	var handphone = document.getElementById("handphone").value;
	var address = document.getElementById("address").value;
	var zipcode = document.getElementById("zipcode").value;
	var userid= document.getElementById("userid").value;
	var re = /^[a-zA-Z0-9]([a-zA-Z0-9]*[-_.]?[a-zA-Z0-9]+)+@([a-zA-Z0-9]+\.)+[a-zA-Z]{2,}$/;

	if(customername==null||customername=="")
	{
		alert("姓名不能为空!");
		return false;
	}
	if(tel==null||tel=="")
	{
		alert("固定电话不能为空!");
		return false;
	}
	if(areaid==null||areaid=="-1")
	{
		alert("请选择区域!");
		return false;
	}	

	if(handphone==null||handphone=="")
	{
		alert("手机不能为空!");
		return false;
	}
	if(address==null||address=="")
	{
		alert("通信地址不能为空!");
		return false;
	}
	if(idnumber==null||idnumber=="")
	{
		alert("身份证号不能为空!");
		return false;
	}



	if(email==null||email=="")
	{
		alert("EMail不能为空!");
		return false;
	}


	if(birthday==null||birthday=="")
	{
		alert("出生年月不能为空!");
		return false;
	}
	if(userid==null||userid=="-1")
	{
		alert("请选择负负责人!");
		return false;
	}
	document.form1.submit();
}
function getqqemail(o)
{
if (o.checked == true )
{
document.getElementById("email").value = document.getElementById("qq").value+o.value;
}
else{
document.getElementById("email").value="";
 }
}

	 

		
		function PPClass_IsNextClass_13(ClassID){
			for(var i=0;i<PPClass_Array_13.length;i++){
				if(PPClass_Array_13[i][0]==ClassID){return true;}
			}
			return false;
		}
		
		function PPClass_GetParentID_13(ClassID){
			for(var i=0;i<PPClass_Array_13.length;i++){
				if(PPClass_Array_13[i][1]==ClassID){return PPClass_Array_13[i][0];}
			}
			return -1;
		}


		function PPClass_DrawLists_13(SelectName,ClassID,Mode,Html,TheOption){
		
		
		    if(!arguments[1])ClassID=-1;
			var ParentID=PPClass_GetParentID_13(ClassID);
			var TheSelected="";
			var HtmlCode="";
			PPClass_AllID_13+="," + ClassID;
			ParentID=(ParentID==0) ? -1:ParentID;
			HtmlCode="<select name=\""+SelectName+"_PPST_13\" id=\""+SelectName+"_PPST_13\"  onChange={javascript:PPClass_DrawLists_13(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n";
			HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_13+"</option>\n";
			ParentID=(ParentID==-1) ? 0:ParentID;
			for(var i=0;i<PPClass_Array_13.length;i++){
				if(PPClass_Array_13[i][1]==ClassID){
					TheSelected=" selected";
					switch(Mode){
					case 0:
						PPClass_Value_13+="," + PPClass_Array_13[i][1];
						break;
					case 1:
						PPClass_Value_13+="," + PPClass_Array_13[i][2];
						break;
					case 2:
						PPClass_Value_13+="," + PPClass_Array_13[i][1] + "|" + PPClass_Array_13[i][2];
					break;
					}
				}else{
					TheSelected="";
				}
				if(PPClass_Array_13[i][0]==ParentID){HtmlCode+="<option value=\""+PPClass_Array_13[i][1]+"|"+PPClass_Array_13[i][2]+"\""+TheSelected+">"+PPClass_Array_13[i][2]+"</option>\n";}
			}
			HtmlCode+="</select>\n"+Html
			if(ParentID==0){
				if(PPClass_IsNextClass_13(PPClass_AllID_13.split(",")[1])){
					HtmlCode+="<select name=\""+SelectName+"_PPST_13\"  id=\""+SelectName+"_PPST_13\" onChange={javascript:PPClass_DrawLists_13(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n"
					HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_13+"</option>\n";
					for(var i=0;i<PPClass_Array_13.length;i++){
						if(PPClass_Array_13[i][0]==PPClass_AllID_13.split(",")[1]){HtmlCode+="<option value=\""+PPClass_Array_13[i][1]+"|"+PPClass_Array_13[i][2]+"\">"+PPClass_Array_13[i][2]+"</option>\n";}
					}
					HtmlCode+="</select>\n"
				}
				PPClass_AllID_13="";
				var Value=PPClass_Value_13.split(",")[1];
				if(Value==null) Value="";
				HtmlCode+="<input type=\"hidden\" name=\""+SelectName+"\" id=\""+SelectName+"\" value=\""+Value+"\" />"
				PPClass_Value_13="";
				document.getElementById("PPClass_Container13_"+SelectName).innerHTML=HtmlCode;
			}else{
				PPClass_DrawLists_13(SelectName,ParentID,Mode,HtmlCode,TheOption);
			}
		}






		function PPClass_IsNextClass_85(ClassID){
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][0]==ClassID){return true;}
			}
			return false;
		}
		
		function PPClass_GetParentID_85(ClassID){
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][1]==ClassID){return PPClass_Array_85[i][0];}
			}
			return -1;
		}
		
		function PPClass_DrawLists_85(SelectName,ClassID,Mode,Html,TheOption){
			var ParentID=PPClass_GetParentID_85(ClassID);
			var TheSelected="";
			var HtmlCode="";
			PPClass_AllID_85+="," + ClassID;
			ParentID=(ParentID==0) ? -1:ParentID;
			HtmlCode="<select name=\""+SelectName+"_PPST_85\" id=\""+SelectName+"_PPST_85\"  onChange={javascript:PPClass_DrawLists_85(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n";
			HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_85+"</option>\n";
			ParentID=(ParentID==-1) ? 0:ParentID;
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][1]==ClassID){
					TheSelected=" selected";
					switch(Mode){
					case 0:
						PPClass_Value_85+="," + PPClass_Array_85[i][1];
						break;
					case 1:
						PPClass_Value_85+="," + PPClass_Array_85[i][2];
						break;
					case 2:
						PPClass_Value_85+="," + PPClass_Array_85[i][1] + "|" + PPClass_Array_85[i][2];
					break;
					}
				}else{
					TheSelected="";
				}
				if(PPClass_Array_85[i][0]==ParentID){HtmlCode+="<option value=\""+PPClass_Array_85[i][1]+"|"+PPClass_Array_85[i][2]+"\""+TheSelected+">"+PPClass_Array_85[i][2]+"</option>\n";}
			}
			HtmlCode+="</select>\n"+Html
			if(ParentID==0){
				if(PPClass_IsNextClass_85(PPClass_AllID_85.split(",")[1])){
					HtmlCode+="<select name=\""+SelectName+"_PPST_85\"  id=\""+SelectName+"_PPST_85\" onChange={javascript:PPClass_DrawLists_85(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n"
					HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_85+"</option>\n";
					for(var i=0;i<PPClass_Array_85.length;i++){
						if(PPClass_Array_85[i][0]==PPClass_AllID_85.split(",")[1]){HtmlCode+="<option value=\""+PPClass_Array_85[i][1]+"|"+PPClass_Array_85[i][2]+"\">"+PPClass_Array_85[i][2]+"</option>\n";}
					}
					HtmlCode+="</select>\n"
				}
				PPClass_AllID_85="";
				var Value=PPClass_Value_85.split(",")[1];
				if(Value==null) Value="";
				HtmlCode+="<input type=\"hidden\" name=\""+SelectName+"\" id=\""+SelectName+"\" value=\""+Value+"\" />"
				PPClass_Value_85="";
				document.getElementById("PPClass_Container85_"+SelectName).innerHTML=HtmlCode;
			}else{
				PPClass_DrawLists_85(SelectName,ParentID,Mode,HtmlCode,TheOption);
			}
		}
 
	 
	 </script>
</head>
<body>
<h3>[#actionName#]<span class="left_title_1">商品</span></h3>
<FORM id='form1' style="DISPLAY: inline" name='form1' method="post"  action="customer.php"  >
   <TABLE width="99%" align=center border=0> <TBODY>
  <TR>
    <TD class=left_title_1 align=middle><input name='action' type="hidden" value="[#action#]">
      <input name='updid' type='hidden' value='[#updid#]'></TD>
  </TR>
  <TR>
    <TD>
      <TABLE cellSpacing=0 cellPadding=0 width="99%" align=center border=0>
        <TBODY>
        <TR>
          <TD align=left bgColor=lightsteelblue colSpan=4>客户信息 [#produre_id#]</TD>
        </TR>
        <TR>
          <TD align=right width="10%" height=30>条形码：</TD>
          <TD align=left width="40%"><input id='produre_no' name='produre_no' type="text" maxLength=100 size=40 value='[#produre_no#]'>
            <FONT color=red>*</FONT> &nbsp;</TD>
          <TD align=right width="10%" height=30>性别：</TD>
          <TD align=left width="40%"><select  name="gender" id="gender">
            <!-- BEGIN gender -->
            [#arr#];
            <!-- END gender -->
          </select>
            <FONT color=red>*</FONT></TD>
        </TR>
        <TR>
          <TD align=right width="10%" height=30>商品名称：</TD>
          <TD align=left width="40%"><INPUT class=INPUT id=tel maxLength=100 
            size=40 name=produre_name value="[#produre_name#]"></TD>
          <TD align=right width="10%" height=30>区域：</TD>
          <TD align=left width="40%"><select  name="areaid" id="areaid">
            <option value='-1' selected>请选择区域</option>
            <!-- BEGIN area -->
            [#arr#];
            <!-- END area -->
			<option value='0'>不详</option>
          </select>
            <FONT color=red>*</FONT> </TD>
        </TR>
          
        <TR>
          <TD align=right width="10%" height=30>手机：</TD>
          <TD align=left width="40%"><INPUT class=INPUT id=handphone maxLength=100 
            size=40 name=handphone value="[#handphone#]">
              <FONT color=red>*</FONT></TD>
          <TD align=right width="10%" height=30>通讯地址：</TD>
          <TD align=left width="40%"><INPUT class=INPUT id=address maxLength=100 
            size=40 name=address value="[#address#]">
            <FONT color=red>*</FONT></TD></TR><!-- 20090323 -->
        <TR>
          <TD align=right width="10%" height=30>QQ：</TD>
          <TD align=left width="40%"><INPUT class=INPUT id=qq maxLength=100 
            size=40 name=qq value="[#qq#]"></TD>
          <TD align=right width="10%" height=30>身份证号：</TD>
          <TD align=left width="40%"><INPUT class=INPUT id=idnumber maxLength=100 
            size=40 name=idnumber value="[#idnumber#]">
            <FONT color=red>*</FONT></TD></TR>
         <TR>
           <TD align=right width="10%" height=30>电子邮件：</TD>
           <TD align=left width="40%"><INPUT id=email name=email size=40 value='[#email#]' >
               <FONT color=red>* </FONT> 
			  <input type="checkbox"  name="useqqemail" id="useqqemail" value="@qq.com" onclick="getqqemail(this)">
               使用QQ邮箱               </TD>
           <TD align=right width="10%" height=30>邮政编码：</TD>
          <TD align=left width="40%"><INPUT class=INPUT id=zipcode maxLength=100 
            size=40 name=zipcode value="[#zipcode#]"></TD>
         </TR>			
			
        <TR>
          <TD align=right width="10%" height=30>生日：</TD>
          <TD align=left width="40%"><INPUT class=INPUT id=birthday maxLength=100 
            size=40 name=birthday value="[#birthday#]" onfocus="calendar(EventUtil.getEvent().target)"></TD>
          <TD align=right width="10%" height=30>民族：</TD>
          <TD align=left width="40%"><INPUT class=INPUT id=national maxLength=100 
            size=40 name=national value="[#national#]"></TD>
        </TR>
		  <TR>
		    <TD align=right height=30 >创建时间</TD>
		    <TD align=left><LABEL for="checkbox_row_17">
              <INPUT  class=INPUT  id=createtime maxLength=100 size=40 name=createtime value="[#createtime#]"  readonly="readonly" />
            </LABEL></TD>
          <TD align=right width="10%" height=30>负责人</TD>
          <TD align=left width="40%"><select  name="userid" id="userid">
            <option value='-1' selected>请选择负责人</option>
            <!-- BEGIN sale -->
            
       [#arr#];
       
            <!-- END sale -->
            <option value='0' >不详</option>
          </select>
            <FONT color=red>*</FONT> </TD>
		  </TR>
        <TR>
          <TD align=right height=30 >&nbsp;</TD>
          <TD align=left>&nbsp;</TD>
          <TD align=right width="10%" height=30>&nbsp;</TD>
          <TD align=left width="40%">&nbsp;</TD>
        </TR>
        <TR>
          <TD align=left bgColor=lightsteelblue colSpan=4>描述信息</TD></TR>
        <TR>
          <TD align=right width="10%" height=30>备注：</TD>
          <TD align=left colSpan=3><p>&nbsp;
            </p>
            <p>
              <TEXTAREA name=describes rows=5 cols=90></TEXTAREA>
              </p>
            <p>&nbsp;</p></TD></TR><!-- 20090323 -->
        <TR>
          <TD align=middle colSpan=4><input type="button" name="Submit2" value=" 提 交 " onclick="return checkform();">
            &nbsp; 
<INPUT class=button id=re type=reset value=" 重 置 " name=re>  &nbsp;  <INPUT class=button id=re2 type=button value=" 返回 " onclick="window.location ='customer.php'"></TD>
        </TR></TBODY></TABLE></TD></TR>  </TABLE></FORM>
</body>
</html>
