
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
</head>
<body><h3>{actionName}<span class="left_title_1">拜访记录</span></h3>
 <FORM id=form1 style="DISPLAY: inline" name="form1" method="post"  action="visiterecord.php" >
<table cellSpacing=0 cellPadding=0 width="99%" align=center border=0>

    <TR>
      <TD align=left bgColor=lightsteelblue colSpan=4>计划信息{planid}
        <input name='planid' type='hidden' value='{planid}'>
          <input name='action' type="hidden" value="{action}">
          <input name='updid' type='hidden' value='{updid}'></TD>
    </TR>
    <TR>
      <TD align=right height=30>客户名称：</TD>
      <TD align=left>{customername}&nbsp;
          <input name='customerid' type='hidden' value='{customerid}'>
          <input name='customername' type='hidden' value='{customername}'></TD>
      <TD align=right height=30>实际执行人：</TD>
      <TD align=left><!-- BEGIN user -->
          <input  type="hidden" class=INPUT id='userid' maxlength=7 
            size=3 name='userid' value="{userid}">
        {username}
        <INPUT  type="hidden" class=INPUT id='username' maxLength=100 
            size=40 name='username' value=" {username}" readonly="readonly" >
          <!-- END user --></TD>
    </TR>
    <TR>
      <TD align=right height=30>计划时间：</TD>
      <TD align=left>{plantime}
        <input name='plantime' type='hidden' value='{plantime}'></TD>
      <TD align=right height=30>创建时间：</TD>
      <TD align=left>{creattime}
        <input name='creattime' type='hidden' value='{creattime}'></TD>
    </TR>
    <TR>
      <TD align=right width="10%" height=30>计划标题：</TD>
      <TD align=left width="40%">{plantitle}
        <input name='plantitle' type='hidden' value='{plantitle}'></TD>
      <TD align=right width="10%" height=30>拜访时间：</TD>
      <TD align=left width="40%">{visitetime}
        <input name='visitetime' type='hidden' value='{visitetime}'></TD>
    </TR>
    <tr>
      <TD align=left bgColor=lightsteelblue colSpan=4>&nbsp;</TD>
    </TR>
    <TR>
      <TD align=right width="10%" height=80>计划内容：</TD>
      <TD align=left colSpan=3>
        <TEXTAREA name='plan_content'  readonly="readonly"  rows=3 cols=90>{plan_content}</TEXTAREA></TD>
    </TR>
    <TR>
    <TR>
      <TD align=right width="10%" height=80>拜访结果：</TD>
      <TD align=left colSpan=3><TEXTAREA id=visiteresult  name=visiteresult  rows=3 cols=90>{visiteresult}</TEXTAREA></TD>
    </TR>
    <TR>
    <TR>
      <TD align=right width="10%" height=30>备注：</TD>
      <TD align=left colSpan=3><TEXTAREA id=visitememo name=visitememo rows=3 cols=90 >{visitememo}</TEXTAREA></TD>
    </TR>
    <TR>
    <TR>
    <TR>
      <TD align=right width="10%" height=30>重要程度：</TD>
      <TD align=left colSpan=3><select id="importance" name="importance">
		<!-- BEGIN importancere -->   <!-- END importancere -->
      </select>
      </TD>
    </TR>
    <TR>
      <TD align=right width="10%" height=30>计划完成状态：</TD>
      <TD align=left colSpan=3><select id="planstatus" name="planstatus">
		<!-- BEGIN planstatus -->   <!-- END planstatus -->
      </select>
      </TD>
    </TR>
    <TR>
      <TD align=left bgColor=lightsteelblue colSpan=4>&nbsp;</TD>
    </TR>
    <TR>
      <TD align=left colSpan=4><p>
        <input type="submit" name="Submit2" value=" 提 交 ">
        &nbsp;
        <INPUT class=button id=re type=reset value=" 重 置 " name=re>
        &nbsp;
        <INPUT name="button2" type=button class=button id=re2 onClick="history.go(-1)"  value=" 返回 ">
      </p>
          <p>&nbsp;</p></TD>
    </TR>

  
</TABLE>
</FORM>
<TABLE cellSpacing=0 cellPadding=0 width="99%" align=center border=0>
        <TBODY><TR>
          <TD align=left bgColor=lightsteelblue colSpan=4>客户信息 
            {customername}          </TD>
        </TR>
        <TR>
          <TD align=right width="10%" height=30>客户名称：</TD>
          <TD align=left width="40%"><!-- BEGIN customer -->
            <input class=INPUT  type="hidden" id=customerid 
            maxlength=100 size=40 value="{customerid}" name=customerid>
          {customername}  
          <!-- END customer --></TD>
          <TD align=right height=30>性别：</TD>
          <TD align=left><select  name="gender" id="gender" disabled="disabled">
             <!-- BEGIN gender -->   <!-- END gender --><!-- BEGIN xingbie -->   <!-- END xingbie -->
            </select></TD>
        </TR>

        <TR>
          <TD align=right width="10%" height=30>客户电话：</TD>
          <TD align=left width="40%">{tel}</TD>
          <TD align=right width="10%" height=30>区域：</TD>
          <TD align=left width="40%"><select  name="areaid" id="areaid" disabled="disabled">
            <option value='-1' selected>请选择区域</option>
            <!-- BEGIN area -->
            {arr};
            <!-- END area -->
			<option value='0'>不详</option>
          </select></TD>
        </TR>
          
        <TR>
          <TD align=right width="10%" height=30>手机：</TD>
          <TD align=left width="40%">{handphone}</TD>
          <TD align=right width="10%" height=30>通讯地址：</TD>
          <TD align=left width="40%">{address}</TD></TR><!-- 20090323 -->
        <TR>
          <TD align=right width="10%" height=30>QQ：</TD>
          <TD align=left width="40%">{qq}</TD>
          <TD align=right width="10%" height=30>身份证号：</TD>
          <TD align=left width="40%">{idnumber}</TD></TR>
         <TR>
           <TD align=right width="10%" height=30>电子邮件：</TD>
           <TD align=left width="40%">{email}<FONT color=red>&nbsp; </FONT></TD>
           <TD align=right width="10%" height=30>邮政编码：</TD>
          <TD align=left width="40%">{zipcode}</TD>
         </TR>			
			
        <TR>
          <TD align=right width="10%" height=30>生日：</TD>
          <TD align=left width="40%">{birthday}</TD>
          <TD align=right width="10%" height=30>民族：</TD>
          <TD align=left width="40%">{national}</TD>
        </TR>
		  <TR>
		    <TD align=right height=30 >创建时间:：</TD>
		    <TD align=left><LABEL for="checkbox_row_17">
            {createtime}
          </LABEL></TD>
          <TD align=right width="10%" height=30>负责人：</TD> 
          <TD align=left width="40%"><select  name="saleid" id="saleid"  disabled="disabled">
            <option value='-1' selected>请选择负责人</option>
            <!-- BEGIN sale --><!-- END sale -->
            <option value='0' >不详</option>
          </select></TD>

</TR>
</TBODY></TABLE>

<table width="100%" border="0" cellpadding="5" cellspacing="1" class="borderStyle">
   <tr align="center" class="tabTh">
     <td width="5%">ID:     </td>
     
     <td width="17%">主题</td>
     <td width="50%">内容</td>
     <td width="8%">执行人</td>
     <td width="12%">访问时间</td>
     <td width="8%">重要程度</td>
   </tr>

<!-- BEGIN visiterecord -->

<!-- END visiterecord -->

<tr class="tdBgColor">
    <td width="5%">&nbsp;</td>
    <td colspan="7">&nbsp;</td>
  </tr>
</table>
</body>
</html>
