
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript src="{path}js/calendar.js" 
type=text/javascript></SCRIPT>
<script type="text/javascript">
 	function TrOver(o)
	{
	o.style.backgroundColor='#F3F3F3'
	}
	function TrOut(o)
	{
	o.style.backgroundColor=''
	}
function tourl(url)
{
	window.location.href=url;
}

	function CheckAll(checkBoxName){
			var checkBox = document.getElementsByName(checkBoxName);
			for (var i = 0; i < checkBox.length; i++){
				var temp = checkBox[i];
				temp.checked = true;
			}
	}
	function CheckReverse(checkBoxName){
		var checkBox = document.getElementsByName(checkBoxName);
		for (var i = 0; i < checkBox.length; i++){
			var temp = checkBox[i];
			temp.checked = !temp.checked;
		}
	}	


		function PPClass_IsNextClass_85(ClassID){
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][0]==ClassID){return true;}
			}
			return false;
		}
		
		function PPClass_GetParentID_85(ClassID){
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][1]==ClassID){return PPClass_Array_85[i][0];}
			}
			return -1;
		}
		
		function PPClass_DrawLists_85(SelectName,ClassID,Mode,Html,TheOption){
			var ParentID=PPClass_GetParentID_85(ClassID);
			var TheSelected="";
			var HtmlCode="";
			PPClass_AllID_85+="," + ClassID;
			ParentID=(ParentID==0) ? -1:ParentID;
			HtmlCode="<select name=\""+SelectName+"_PPST_85\" id=\""+SelectName+"_PPST_85\"  onChange={javascript:PPClass_DrawLists_85(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n";
			HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_85+"</option>\n";
			ParentID=(ParentID==-1) ? 0:ParentID;
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][1]==ClassID){
					TheSelected=" selected";
					switch(Mode){
					case 0:
						PPClass_Value_85+="," + PPClass_Array_85[i][1];
						break;
					case 1:
						PPClass_Value_85+="," + PPClass_Array_85[i][2];
						break;
					case 2:
						PPClass_Value_85+="," + PPClass_Array_85[i][1] + "|" + PPClass_Array_85[i][2];
					break;
					}
				}else{
					TheSelected="";
				}
				if(PPClass_Array_85[i][0]==ParentID){HtmlCode+="<option value=\""+PPClass_Array_85[i][1]+"|"+PPClass_Array_85[i][2]+"\""+TheSelected+">"+PPClass_Array_85[i][2]+"</option>\n";}
			}
			HtmlCode+="</select>\n"+Html
			if(ParentID==0){
				if(PPClass_IsNextClass_85(PPClass_AllID_85.split(",")[1])){
					HtmlCode+="<select name=\""+SelectName+"_PPST_85\"  id=\""+SelectName+"_PPST_85\" onChange={javascript:PPClass_DrawLists_85(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n"
					HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_85+"</option>\n";
					for(var i=0;i<PPClass_Array_85.length;i++){
						if(PPClass_Array_85[i][0]==PPClass_AllID_85.split(",")[1]){HtmlCode+="<option value=\""+PPClass_Array_85[i][1]+"|"+PPClass_Array_85[i][2]+"\">"+PPClass_Array_85[i][2]+"</option>\n";}
					}
					HtmlCode+="</select>\n"
				}
				PPClass_AllID_85="";
				var Value=PPClass_Value_85.split(",")[1];
				if(Value==null) Value="";
				HtmlCode+="<input type=\"hidden\" name=\""+SelectName+"\" id=\""+SelectName+"\" value=\""+Value+"\" />"
				PPClass_Value_85="";
				document.getElementById("PPClass_Container85_"+SelectName).innerHTML=HtmlCode;
			}else{
				PPClass_DrawLists_85(SelectName,ParentID,Mode,HtmlCode,TheOption);
			}
		}
		function ListInClass(o){
		var v=document.getElementById("userid").value;
		if (v==""){
			alert("你还没有选择分类");
			return false;
		}else if(o=="listclass"){

			window.location.href="?qgtype="+o+"&Sale_ID="+v;
		}else{
			return true;
		}
	   } 
	function CheckSubmitOne(o){
		var checkBox = document.getElementsByName("TheID[]");
		var temp = false;
		for (var i = 0; i < checkBox.length; i++){
			if (checkBox[i].checked){temp=true;}
		}
		if (temp==false){alert("你需要至少选择一条信息..");return false;
		}else{return confirm("你确认你要执行该操作吗？");	}
	}
function qg_pl(qgtype)
{
	var idarray = new Array();//定义一个数组
	var cv = document.getElementsByName("TheID[]");
	var m = 0;
	for(var i=0; i<cv.length; i++)
	{
		if(cv[i].type.toLowerCase() == "checkbox")
		{
			if(cv[i].checked)
			{
				idarray[m] = cv[i].value;
				m++;
			}
		}
	}
	var id = idarray.join(",");
	if(!id || id == "0")
	{
		alert("没有勾选要操作的主题！");
		return false;
	}
	var url = "?action=del&delid="+id+"&qgtype="+qgtype;
	if(qgtype == "delete")
	{
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{
			tourl(url);
		}
	}
	else if(qgtype=="Move")
	{v=document.getElementById("Sale_ID").value;
	 url="Acion=Move&id="+id+"Sale_id="+v;
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{
			tourl(url);
		}
	}
	else
	{
		tourl(url);
	}
}

function datesearch()
{ 
    var datebg=document.getElementById("datebg").value;
	var dateend=document.getElementById("dateend").value;
	window.location.href="?datebg="+datebg+"&dateend="+dateend;
	
}

</script>
<style type="text/css">
<!--
body {
	margin: 0px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}
form {
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
-->
</style>
</head>
<body>


<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="90%"><form  name="search" method="POST" action="visiterecord.php">
 关键字搜索：
     <select name="cateid" id="cateid">
     <option value=""> 请选择分类</option>
     <option value="recordid" >ID</option>
	 <option value="customername" >客户姓名</option>
	 <option value="username">执行人姓名</option>
     <option value="planid">主题ID</option>
     <option value="visiteresult">结果</option>
     <option value="userid">执行人ID</option>
	 <option value="customerid">客户ID</option>
   </select>	
  <input type="text" name="keywords" id="keywords" value="">
	  <input type="submit" value="搜索">

    按时间搜索：从
      <input name="datebg" type="text" id="datebg" onfocus="calendar(EventUtil.getEvent().target)" size="15" value="{datebg}">
      到
      <input name="dateend" type="text" id="dateend" onfocus="calendar(EventUtil.getEvent().target)" size="15" value="{dateend}">
    <input name="button" type="button" value="搜索" onClick="datesearch()"> 
    <input name="button2" type=button onclick=window.location.href('visiterecord.php') value='显示全部'>
    </form></td>
    <td width="10%"><div align="right">
      <DIV align="right"><A href="visiteplan.php"><IMG alt="增加" src="{path}img/add.gif" align="middle" border="0"></A></DIV>
      </div></td>
  </tr>
</table>
<form action="?Action=DoAllNews" method="post" onsubmit="return CheckSubmitOne()">
<table width="100%" border="0" cellpadding="5" cellspacing="1" class="borderStyle">
   <tr align="center" class="tabTh">
     <td width="5%">ID:
     <input name="checkbox" type="checkbox" onclick="
	 javascript:if(this.checked)
	 {
	 CheckAll('TheID[]')
	 }
	 else
	 {CheckReverse('TheID[]')
	 }" /></td>
     <td width="10%">客户名称</td>
     <td width="15%">主题</td>
     <td width="30%">内容</td>
     <td width="10%"><select name="select2" onchange="tourl('?cateid=userid&keywords='+this.value)">
       <option value='0' selected>按执行人查看</option>
	   <!-- BEGIN sale -->
       <!-- END sale -->
     </select></td>
	  <td width="15%">访问时间</td>
     <td width="5%"><select id="importance" name="importance" onchange="tourl('?cateid=importance&keywords='+encodeURI(this.value))">
        <option value="一般">按重要程度查看</option>
        <option value="一般">一般</option>
        <option value="重要">重要</option>
        <option value="很重要">很重要</option>
        <option value="紧急">紧急</option>
        <option value="不重要">不重要</option>
      </select></td>

     <td width="5%">修改</td>
     <td width="5%">删除</td>
   </tr>
<!-- BEGIN visiterecord -->
   <tr class="tdBgColor"  onMouseOver="TrOver(this)" onMouseOut="TrOut(this)">
     <td>{recordid}<input name="The_ID[]" type="hidden" value="{recordid}" /><input name="TheID[]" type="checkbox" value="{recordid}" /></td>
     <td><!-- BEGIN customer -->
	 <a href="visiterecord.php?cateid=customerid&keywords={customerid}">	
	 {customername}
	<!-- END customer --></a></td>
     <td><!-- BEGIN plan -->
	 {plantitle}<br>
	<!-- END plan --></td>

     <td>{visiteresult}       </td>
     <td><!-- BEGIN user -->  {username}<br>
	<!-- END user -->	</td>
	    
         <td align="center">{visitetime}</td>
     <td align="center">{importance}</td>

     <td align="center">{upd}</td>
     <td align="center">{del}</td>
  </tr>
<!-- END visiterecord -->

<tr class="tdBgColor">
     <td width="5%">ID:<input type="checkbox" onclick="
	 javascript:if(this.checked)
	 {
	 CheckAll('TheID[]')
	 }
	 else
	 {CheckReverse('TheID[]')
	 }" /></td>
     <td colspan="11">

	<select  name="userid" id="userid" >
      <option value='-1' selected>请选择执行人</option>
      <!-- BEGIN sale -->
	  <!-- END sale -->
    </select> 
	<SPAN id=PPClass_Container85_Sale_ID>&nbsp;</SPAN>
     <SCRIPT language=javascript>
 	    var PPClass_Array_85 = new Array(<!-- BEGIN sale -->{arrs};<!-- END sale -->);
		
		var PPClass_AllID_85="";     //所有类别ID集合
		var PPClass_Value_85="";  // 存储最终取得的类别的值
		var PPClass_Tips_85="选择执行人";    //提示字符
 		PPClass_DrawLists_85("Sale_ID",-1,0,"","");
		</SCRIPT>
		<input name="button" type="button" onclick="return ListInClass('listclass')" value="查看该员工记录">
		&nbsp;
       <input type="submit" name="submit" class="InputSubmit"  onclick="return ListInClass('Move')" value="移至该员工" {batchmovedisabled}> 
	     &nbsp;
        <input type=button onclick=window.location.href('visiterecord.php') value=' 显示全部 '>
        &nbsp;&nbsp;
      <input name="button" type="button" onclick="qg_pl('delete')" value="批量删除" {batchdeletedisabled}>      </td>
    </tr>
</table>
</form>
<div align="right">{pagelist}</div>
</body>
</html>