<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html style="overflow-x:hidden;overflow-y:hidden">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>cml5.5 crm客户关系管理系统</title>
<link href="{path}css.css" rel="stylesheet" type="text/css">
<script language='javaScript' src="{path}js.js"></script>
{ajaxstr}
</head>
<body onLoad="init();window.frames['inwin'].window.location.href='{startUrl}';">
<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#EFF3FF">
  <tr>
    <td width="180" rowspan="3" align="center"><span class="style3">CML5.5 CRM</span></td>
    <td height="30" valign="bottom">
	  <table border="0" cellpadding="0" cellspacing="0" id="topMenu">
        <tr align="center">
<!-- BEGIN mainMenu -->
          <td width="2"></td><td height="22" class="{style}" id="{ruleid}" title="{ruleurl}">{img}{rulename}</td>
<!-- END mainMenu -->
        </tr>
        <tr align="center" height="2">
<!-- BEGIN mainMenu2 -->
		<td></td><td class="{style2}"></td>
<!-- END mainMenu2 -->
		</tr>
      </table>
	</td>
    <td align="right" valign="bottom"><span class="topInfo"><span onClick="history.back()"><img src="{path}/img/back_m1bt2.gif" alt="后退" border="0" align="middle" style="cursor:pointer;" /></span> <span onClick="history.forward()"><img src="{path}/img/back_m2bt2.gif" alt="前进" border="0" align="middle" style="cursor:pointer;" /></span><a href="?logout"> <img src="{path}img/exit.gif" align="absmiddle" alt="退出" border="0" /></a></span></td>
  </tr>
  <tr>
    <td height="22" colspan="2" bgcolor="#EDEFF1" class="subMenu" id="menuSubId"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr valign="middle">
        <td width="1"><div id="submenu" style="white-space:nowrap; display:none;margin-left: 5px;">{subMenuInfo}</div></td>
        <td width="1"><div id="mdivl" style="cursor:pointer; display:none" onMouseOver="gogo('-')" onMouseOut="soso()"><img src="{path}/img/left.gif" align="absmiddle" /></div></td>
        <td>
		  <table width="100%" cellpadding="0" cellspacing="1" style='table-layout:fixed;'>
  		  <tr><td>
		  <div id="subSubMenu">
<!-- BEGIN subMenu -->
		   {spacestr} <a id="{ruleid}" onClick="gotoUrl('{ruleurl}',this.id,{isdir})" class="{substyle}">{rulename}</a>
<!-- END subMenu -->
		  </div>
		  </td></tr></table>
		</td>
        <td width="1"><div id="mdivr" style="cursor:pointer; display:none" onMouseOver="gogo('+')" onMouseOut="soso()"><img src="{path}/img/right.gif" align="absmiddle" /></div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" colspan="2">当前位置：<span id="currentPag">{currentpage}</span><div id="loading"><img src="{path}/img/wait.gif" align="middle" />&nbsp;&nbsp;正在载入，请等待……</div></td>
  </tr>
   <tr bgcolor="#999999">
    <td colspan="5" align="center" height="1"></td>
  </tr>
</table>
<div id="foot">
  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left">&nbsp;&nbsp;<span onClick="history.back()"><img src="{path}/img/back.gif" alt="后退" align="middle" style="cursor:pointer;" /></span> <span onClick="history.forward()"><img src="{path}/img/forward.gif" alt="前进" align="middle" style="cursor:pointer;" /></span></td>
<form action='relogin.php' method='post' onSubmit="return checklogin();">
      <td height="20" align="right">欢迎您：{username} &nbsp;
<span style="display:{dispgo}">
跳转至
<select name="subname" id="subname">
<option value=''>请选择</option>
<!-- BEGIN subUser -->
  <{optname} {attrib}='{subusername}'>{subusername}</{optname}>
<!-- END subUser -->
</select>
<input name="msg" type="text" value="test" size="15">
<input type="submit" value="GO">&nbsp;
</span>
	  </td>
</form>
<script language="javascript">
function checklogin(){
	if(document.forms[0].subname.value == ''){
		alert('请需要跳转的用户');
		return false;
	}
	var msg = document.forms[0].msg;
	if(msg.value==''){
		alert('请输入登录理由');
		msg.focus();
		return false;
	}
	return true;
}
</script>
    </tr>
  </table>
</div>
<iframe id="inwin" frameborder="0" width="100%" name="inwin"></iframe>
</body>
</html>