<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>会员信息</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<META http-equiv=empiresoft content=no-cache><LINK 
href="[#path#]css/button_css.css" type=text/css rel=stylesheet><LINK 
href="[#path#]css/page_title.css" type=text/css rel=stylesheet><LINK 
href="[#path#]css/browse.css" type=text/css rel=stylesheet><LINK href="../common/css/css.css" rel=stylesheet type=text/css>
<SCRIPT language=javascript src="[#path#]js/dateobject.js"></SCRIPT>

<SCRIPT language=javascript src="[#path#]js/datepicker.js"></SCRIPT>

<SCRIPT language=javascript src="[#path#]js/editlib.js"></SCRIPT>

<SCRIPT language=javascript src="[#path#]js/initcity.js"></SCRIPT>
<SCRIPT language=javascript src="[#path#]js/calendar.js" type=text/javascript></SCRIPT>
<script type="text/javascript" src="../common/js/jquery-1.2.1.pack.js"></script>
<STYLE type=text/css>.STYLE2 {
	FONT-SIZE: 12px
}
</STYLE>

<SCRIPT language=javascript>
var requestSubmitted = false;

	function InitAjax()
   {
　var ajax=false; 
　try { 
　　ajax = new ActiveXObject("Msxml2.XMLHTTP"); 
　} catch (e) { 
　　try { 
　　　ajax = new ActiveXObject("Microsoft.XMLHTTP"); 
　　} catch (E) { 
　　　ajax = false; 
　　} 
　} 
　if (!ajax && typeof XMLHttpRequest!='undefined'){ 
　　ajax = new XMLHttpRequest(); 
　} 
　return ajax;
}


function submit_save(){
	  
	  if(form1.membercard_no.value==""){
	 	  alert("请输入会员卡号！");
	 	  form1.membercard_no.focus();
	 	  return;
	  }
   
    	   if(form1.customer_id.value==""){
	 	  alert("请选择会员！");
	 	  form1.customer_name.focus();
	 	  return;
	  }
	  
	 	 if(form1.cardlevel_id.value==""){
	 	  alert("请选择卡组！");
	 	  form1.cardlevel_id.focus();
	 	  return;
	  }
	 	 	 if(form1.man.value==""){
	 	  alert("请选择开卡人！");
	 	  form1.man.focus();
	 	  return;
	  }
    requestSubmitted = true;
   sending.style.visibility="visible";
	 sendingbg.style.visibility="visible";  
	form1.submit();
}

function putsta(){
   var arrItems=new Array();
   var strItem ;
   var szRef = "../getdata/getstaff.html" ;
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   arrItems = strItem.split("@@@");
   form1.man.value = arrItems[1] ;    
}

function getcard(){
   var arrItems=new Array();
   var strItem ;

   var szRef = "../getdata/getcustomer.php" ;
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   arrItems = strItem.split("@@@");
   
   form1.oldcardid.value = arrItems[0] ;  
   //form1.no.value = arrItems[1] ;
   form1.cardlevel_id.value = arrItems[2] ;
   form1.membername.value = arrItems[3] ;
   form1.customer_id.value = arrItems[4] ;  
   form1.score.value = arrItems[5] ;
   form1.maincost.value = arrItems[6] ;
   form1.freecost.value = arrItems[7] ;
   form1.sercost.value = arrItems[8] ;
   form1.commcost.value = arrItems[9] ;
}


function promem(){
   var arrItems=new Array();
   var strItem ;
//   var addbutton = 1;
   var szRef = "../getdata/getcustomer.html";
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   
     arrItems = strItem.split("@@@");
     form1.customer_id.value    = arrItems[0];     
     form1.membername.value  = arrItems[1];

}

function submit_del(){
    if (confirm("是否删除该记录？")) {
      getNews(form1.id.value);
    }
} 

function getNews(newsID)
{
　//如果没有把参数newsID传进来
　if (typeof(newsID) == 'undefined')
　{
　　return false;
　}
  var postStr = "id="+ newsID;
　//需要进行Ajax的URL地址
　var url = "../ajaxread/readdelmembercard.php";
　//实例化Ajax对象

　var ajax = InitAjax();
　//使用POST方式进行请求
 　ajax.open("POST", url, true); 
  //定义传输的文件HTTP头信息
　ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
　//发送POST数据
　ajax.send(postStr);
　//获取执行状态
　ajax.onreadystatechange = function() { 
　　//如果执行是状态正常，那么就把返回的内容赋值给上面指定的层
　　if (ajax.readyState == 4 && ajax.status == 200) {   
       if(ajax.responseText==0){
          form1.action.value = "delete";
          sendingbg.style.display ="";  
          sendingdel.style.display ="";
	        form1.submit();
       }else{
          alert("该卡已经过帐，不能删除!");
       }
　　}
　}
  //发送空
　ajax.send(null); 
}

function changelistno(){
	form1.ischangelistno.value="1";
}


function help(){  
   if(document.getElementById("helpid").style.pixelHeight == 0 &&  document.getElementById("helpid").style.visibility == "hidden"){      
       document.getElementById("helpid").style.visibility = "visible";
	  ChS();
   }else{   
	   HhS();    	  
   }
}

function ChS(){
if(helpid.style.pixelHeight<250){helpid.style.pixelHeight+=10;setTimeout("ChS()",0.5);
} 
}
function HhS(){
if(helpid.style.pixelHeight > 0){helpid.style.pixelHeight-=10;setTimeout("HhS()",0.5);
}
if(helpid.style.pixelHeight == 0){
 document.getElementById("helpid").style.visibility = "hidden";
 }
}

function selectradio(){
var temp=document.getElementsByName("cardtype");  
for (i=0;i<temp.length;i++){  //遍历Radio   
 if(temp[i].checked)      {  
             if(temp[i].value == 2){ 
				getcard();
                 
                }else if(temp[i].value == 1){
                 form1.reset();				 
                }
		 } 
   }
}
	function changeno(inputString) {

		if(inputString.length == 0) {
			// Hide the suggestion box.
			
			$('#suggestions').hide();
		} else {

			$.post("../ajax/uniqueness.php", {testname: ""+inputString+"",table: "s_membercard",ziduan: "membercard_no"}, function(data){
				if(data.length >0) {	
					$('#suggestions').show();
					$('#suggestions').html(data);
				}
			});
			
		}
	} // lookup
// -->


</SCRIPT>

<META content="MSHTML 6.00.2900.6003" name=GENERATOR></HEAD>
<BODY leftMargin=2 topMargin=0 onload=input_focus() width="100%">
<TABLE height=30 cellSpacing=0 cellPadding=0 width="100%" border=0>
  <TBODY>
  <TR>
    <TD class=pagetitle vAlign=center width="100%" height=30>&nbsp;&nbsp;<IMG 
      src="[#path#]img/nowspace.jpg" align=absMiddle>会员卡信息</TD>
  <TR>
    <TD align=left>
      <DIV style="MARGIN: 0px 0px 0px 12px"><IMG 
    src="[#path#]img/line.jpg"></DIV></TD></TR></TBODY></TABLE>
<CENTER>
<FORM name=form1 action="membercard.php" method=post>
  <input name='action' type="hidden" value="[#action#]">
  <input name='updid' type='hidden' value='[#updid#]'>
  <INPUT type=hidden 
name=picpath >
<TABLE height=31 cellSpacing=0 cellPadding=0 width="98%" border=0>
  <TBODY>
  <TR>
    <TD class=button_labelleft></TD>
    <TD class=button_label>
      <DIV style="MARGIN: 0px" align=left><INPUT class=button_new onMouseOver="this.style.backgroundImage='url([#path#]/img/new_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=h onclick=javascript:help() onMouseOut="this.style.backgroundImage='url([#path#]/img/new.jpg)'" type=button value="     帮助" name=save32> 
<INPUT class=button_save onMouseOver="this.style.backgroundImage='url([#path#]/img/save_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=s onclick=javascript:submit_save() onMouseOut="this.style.backgroundImage='url([#path#]/img/save.jpg)'" type=button value="     保存" name=save3> 
<INPUT class=button_delete onMouseOver="this.style.backgroundImage='url([#path#]/img/delete_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=d onclick=javascript:submit_del() onMouseOut="this.style.backgroundImage='url([#path#]/img/delete.jpg)'" type=button value="     删除" name=end> 
<INPUT class=button_reset onMouseOver="this.style.backgroundImage='url([#path#]/img/reset_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=z onMouseOut="this.style.backgroundImage='url([#path#]/img/reset.jpg)'" type=reset value="     撤销" name=qqq> 
<INPUT class=button_recovery onMouseOver="this.style.backgroundImage='url([#path#]/img/recovery_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=q onClick="javascript:location='membercard.php?now=&amp;pagerows=30&amp;order=fd_membercard_begindate&amp;upordown=desc'" onMouseOut="this.style.backgroundImage='url([#path#]/img/recovery.jpg)'" type=button value="     返回" name=rst> 
      </DIV></TD>
    <TD class=button_labelright></TD></TR></TBODY></TABLE>
<TABLE class=InputFrameMain cellSpacing=0 cellPadding=0 width=750 border=0>
  <TBODY>
  <TR>
    <TD align=left colSpan=5 height=13>
      <TABLE cellSpacing=0 cellPadding=0 border=0>
        <TBODY>
        <TR>
          <TD class=inputtitle align=middle width=150>资料输入</TD>
          <TD class=inputtitleright align=middle 
            width=42>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
          <TD align=middle><FONT 
      color=#ff0000><B></B></FONT></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD colSpan=4 height=10></TD></TR>
  <TR>
    <TD class=form_label align=right width=94 height=30>会员卡号：</TD>
    <TD align=left width=233 height=30><INPUT name=membercard_no type="text" class=input 
      value="[#membercard_no#]" size="12" maxLength=35 onKeyUp="changeno(this.value)"/> 
    <SPAN class=form_label>*</SPAN><span class="suggestionsBox" id="suggestions" style="display: none;">&nbsp;</span> </TD>
    <TD class=form_label align=right width=117 height=30>卡内码：</TD>
    <TD align=left width=305 height=30><INPUT name=code type="text" class=input 
      value="[#code#]" size="20" maxLength=35 onFocus=this.select() />
      <SPAN class=form_label>*</SPAN><span class="suggestionsBox" id="suggestions2" style="display: none;">&nbsp;</span></TD>
  </TR>
  <TR>
    <TD class=form_label align=right height=30>会员卡组：</TD>
    <TD align=left height=30><SELECT name=cardlevel_id><OPTION value=2 
        selected>-请选择-</OPTION>[#memcardlevellist#]</SELECT> <SPAN class=form_label>*</SPAN></TD>
    <TD class=form_label align=right height=30>所属会员：</TD>
    <TD align=left height=30><INPUT type=hidden name=customer_id value="[#customer_id#]"> <INPUT 
      class=input_disabled readOnly maxLength=35 size=10 name=membername value="[#customer_name#]"> <INPUT class=buttonsmall style="FONT-SIZE: 9pt" onclick=javascript:promem() type=button value=选择顾客 name=save2> 
      <SPAN class=form_label>*</SPAN></TD></TR>
  <TR>
    <TD class=form_label align=right width=94 height=30>开卡日期：</TD>
    <TD align=left height=30>
      <INPUT class=INPUT id=startdate maxLength=30 
            size=20 name=startdate value="[#startdate#]" onFocus="calendar(EventUtil.getEvent().target)"></TD>
    <TD class=form_label align=right width=117 height=30>有效日期：</TD>
    <TD align=left height=30>

      <INPUT class=INPUT id=overdate maxLength=30 
            size=20 name=overdate value="[#overdate#]" onFocus="calendar(EventUtil.getEvent().target)"></TD></TR>
  <TR>
    <TD class=form_label align=right height=30>消费帐户：</TD>
    <TD align=left height=30><INPUT class=inputright_disabled 
      onkeypress="if ((event.keyCode < 48 &amp;&amp; event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" 
      readOnly name=maincost></TD>
    <TD class=form_label align=right height=30>赠送帐户：</TD>
    <TD align=left height=30><INPUT class=inputright_disabled 
      onkeypress="if ((event.keyCode < 48 &amp;&amp; event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" 
      readOnly name=freecost></TD></TR>
  <TR>
    <TD class=form_label align=right height=30>服务帐户：</TD>
    <TD align=left height=30><INPUT class=inputright_disabled 
      onkeypress="if ((event.keyCode < 48 &amp;&amp; event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" 
      readOnly name=sercost></TD>
    <TD class=form_label align=right height=30>产品帐户：</TD>
    <TD align=left height=30><INPUT class=inputright_disabled 
      onkeypress="if ((event.keyCode < 48 &amp;&amp; event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" 
      readOnly name=commcost></TD></TR>
  <TR>
    <TD class=form_label align=right width=94 height=30>积分：</TD>
    <TD align=left height=30><INPUT class=inputright value="[#score#]" 
      onkeypress="if ((event.keyCode < 48 &amp;&amp; event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" 
      size=10 name=score ></TD>
    <TD class=form_label align=right width=117 height=30>开卡人：</TD>
    <TD align=left height=30><INPUT class=input_disabled readOnly maxLength=35 value="[#man#]"
      size=10 name=man > <INPUT class=buttonsmall style="FONT-SIZE: 9pt" onclick=javascript:putsta() type=button value=查找 name=xuan><SPAN 
      class=form_label>*</SPAN></TD></TR>
  <TR>
    <TD height=30></TD></TR></TBODY></TABLE>
</FORM>
<DIV id=sending 
style="LEFT: 0px; VISIBILITY: hidden; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%">
<TABLE height=80 cellSpacing=2 cellPadding=0 width=400 border=0>
  <TBODY>
  <TR>
    <TD align=middle bgColor=#f1f4f9>正在保存数据，请稍候...</TD></TR></TBODY></TABLE></DIV>
<DIV id=sendingdel 
style="LEFT: 0px; VISIBILITY: hidden; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%">
<TABLE height=80 cellSpacing=2 cellPadding=0 width=400 border=0>
  <TBODY>
  <TR>
    <TD align=middle bgColor=#f1f4f9>正在删除数据，请稍候...</TD></TR></TBODY></TABLE></DIV>
<DIV id=sendingbg 
style="LEFT: 0px; VISIBILITY: hidden; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%"></DIV>
<DIV id=helpid 
style="LEFT: 1%; VISIBILITY: hidden; WIDTH: 450px; POSITION: absolute; TOP: 86px; HEIGHT: 0px">
<DIV style="RIGHT: 15px; LEFT: 15px; POSITION: absolute; TOP: 15px" 
align=left>会员卡信息在建立会员开卡或修改卡资料时会使用上。<BR>操作：基本信息－会员卡信息；<BR><BR>保存(Alt+s)：添加新会员卡信息和修改会员卡信息；<BR><BR>删除(Alt+d)：即删除不再使用的会员卡信息；<BR><BR>撤销(Alt+z)：撤销回去会员卡没有修改的状态；<BR><BR>返回(Alt+q)：返回会员卡信息列表；<BR><BR>帮助(Alt+h)：显示帮助信息； 
</DIV></DIV></CENTER></BODY></HTML>
