<HTML><HEAD>
<TITLE> 服务项目基本资料</TITLE>
<META HTTP-EQUIV="empiresoft" CONTENT="no-cache">
<link href="[#path#]css/button_css.css" rel="stylesheet" type="text/css">
<link href="[#path#]css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/browse.css" type=text/css rel=stylesheet>
<LINK href="[#path#]css/DatePicker.css" rel=stylesheet type=text/css>
<SCRIPT language=javascript src="[#path#]js/editlib.js"></SCRIPT>
<SCRIPT language=javascript src="[#path#]js/calendar.js" type=text/javascript></SCRIPT>
<style type="text/css">
<!--
-->
</style>
</HEAD>
<script language=javascript>
<!-- 

function tourl(url)
{
	window.location.href=url;
}

function submit_save(){

	 if(form1.number.value==""){
	 	  alert("请输入数量");
	 	  form1.number.focus();
	 	  return;
	 }
	// url='?action=add&warehouse_id='+form1.warehouse_id.value;
	// tourl(url);
	 form1.action.value='printbills';
     form1.submit();

}


// -->
</script>
<BODY onload=input_focus() topmargin="0" leftMargin="2" width="100%">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
       <tr>
         <td height="30" class="pagetitle"  width="100%" valign="middle">
          &nbsp;&nbsp;<img src="[#path#]img/nowspace.jpg" align="absmiddle">打印销售单</td>
       </tr>
       <tr>
         <td align="left"><div style="margin:0px 0px 0px 12px;"><img src="[#path#]img/line.jpg" ></div></td>
      </tr>
  </table>
  
  <center>
<form action="?action=printbills" method="post"  target="_blank" name="form1">
  <table width="730" class=InputFrameMain cellspacing="0" cellpadding="0" border="0" height="104">
      <tbody>
	     <tr>
          <td colspan="4" align="left"><TABLE cellSpacing=0 cellPadding=0 border=0>
        <TBODY>
        <TR>
          <TD class=inputtitle align=middle width=150>资料输入</TD>
          <TD class=inputtitleright align=middle 
            width=60>&nbsp;</TD>
          <TD width="305" align=middle><FONT 
      color=#ff0000><B>
            <input name='action' type="hidden" value="[#action#]">
            <input name='updid' type='hidden' value='[#updid#]'>
          </B></FONT></TD>
        </TR></TBODY></TABLE></td>
        </tr>
      <tr> 
        <td colspan="4" height="10"></td>
      </tr>
        <tr class=InputFrameLine>
          <td width=371 height="46" align=right class=form_label>请输入打印数量：
          <input class=input type="text" name="number" size="10" maxlength="20" value="[#number#]" >            <span class=form_label>*</span>          </td>
          <td width="359" >起始单号：
          <input class=input_disabled type="text" name="sell_no" size="10" maxlength="20" value="[#sell_no#]" readonly="1"></td>
        </tr>
  <tr>
    <td colspan="2" class=bottombotton  align="center" ><input type=button name=save style="CURSOR: hand"  class=buttonsmall value="确定" AccessKey=t  onClick="submit_save()"   ></td>
    </tr>
      </tbody>
    </table>
</form>




</center>
</BODY>
</HTML>

