<HTML><HEAD>
<TITLE> 服务项目基本资料</TITLE>
<META HTTP-EQUIV="empiresoft" CONTENT="no-cache">
<link href="[#path#]css/button_css.css" rel="stylesheet" type="text/css">
<link href="[#path#]css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/browse.css" type=text/css rel=stylesheet>
<LINK href="[#path#]css/DatePicker.css" rel=stylesheet type=text/css>
<SCRIPT language=javascript src="[#path#]js/editlib.js"></SCRIPT>
<SCRIPT language=javascript src="[#path#]js/calendar.js" type=text/javascript></SCRIPT>
<style type="text/css">
<!--
-->
</style>
</HEAD>
<script language=javascript>
<!-- 
var stmp = "";
function nst(t)
{
if(t.value==stmp) return;
if(isNaN(t.value))
{
alert("请输入数字");
}
else
{
var ms = t.value.replace(/[^\\d\\.]/g,"").replace(/(\\.\\d{2}).+$/,"$1").replace(/^0+([1-9])/,"$1").replace(/^0+$/,"0");
var ms = t.value;
var txt = ms.split(".");
while(/\\d{4}(,|$)/.test(txt[0]))
txt[0] = txt[0].replace(/(\\d)(\\d{3}(,|$))/,"$1,$2");
t.value = stmp = txt[0]+(txt.length>1?"."+txt[1]:"");
document.getElementById("input13").value = number2num1(ms-0,t);
}

}

function number2num1(strg,obj)
{
var number = Math.round(strg*100)/100;
number = number.toString(10).split(".");
var a = number[0];
if (a.length > 12)
{
obj.value = obj.value.substring(0,12);
return "数值超出范围！支持的最大数值为 999999999999.99";
}
else
{
var e = "零壹贰叁肆伍陆柒捌玖";
var num1 = "";
var len = a.length-1;
for (var i=0 ; i<=len; i++)
num1 += e.charAt(parseInt(a.charAt(i))) + [["元","万","亿"][Math.floor((len-i)/4)],"拾","佰","仟"][(len-i)%4];
if(number.length==2 && number[1]!="")
{
var a = number[1];
for (var i=0 ; i<a.length; i++)
num1 += e.charAt(parseInt(a.charAt(i))) + ["角","分"][i]; 
}
num1 = num1.replace(/零佰|零拾|零仟|零角/g,"零");
num1 = num1.replace(/零{2,}/g,"零");
num1 = num1.replace(/零(?=元|万|亿)/g,"");
num1 = num1.replace(/亿万/,"亿");
num1 = num1.replace(/^元零?/,"");

if(num1!="" && !/分$/.test(num1))
num1 += "整";
return num1;
}
}
function tourl(url)
{
	window.location.href=url;
}

function submit_save(){

 
	// url='?action=add&warehouse_id='+form1.warehouse_id.value;
	// tourl(url);
	 form1.action.value='printbill';
     form1.submit();

}


// -->
</script>
<BODY onload=input_focus() topmargin="0" leftMargin="2" width="100%">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
       <tr>
         <td height="30" class="pagetitle"  width="100%" valign="middle">
          &nbsp;&nbsp;<img src="[#path#]img/nowspace.jpg" align="absmiddle">打印销售单</td>
       </tr>
       <tr>
         <td align="left"><div style="margin:0px 0px 0px 12px;"><img src="[#path#]img/line.jpg" ></div></td>
      </tr>
  </table>
  
  <center>
<form action="?action=printbill" method="post"  target="_blank" name="form1">
  <table width="730" class=InputFrameMain cellspacing="0" cellpadding="0" border="0" height="104">
      <tbody>
	     <tr>
          <td colspan="6" align="left"><TABLE cellSpacing=0 cellPadding=0 border=0>
        <TBODY>
        <TR>
          <TD class=inputtitle align=middle width=150>资料输入</TD>
          <TD class=inputtitleright align=middle 
            width=60>&nbsp;</TD>
          <TD width="305" align=middle><FONT 
      color=#ff0000><B>
            <input name='action' type="hidden" value="[#action#]">
            <input name='updid' type='hidden' value='[#updid#]'>
          </B></FONT></TD>
        </TR></TBODY></TABLE></td>
        </tr>
      <tr> 
        <td colspan="6" height="10"></td>
      </tr>
        <tr class=InputFrameLine>
          <td width="115" height="25" align=right class=form_label>普通/加急：</td>
          <td width="250" align=left  ><INPUT name="input1" type="checkbox" id="input1">
普通    
  <INPUT name="input1" type="checkbox" id="input1">
  加急</td>
          <td width="123" align=right class=form_label>日期：</td>
          <td width="242" align=left  ><label>
              <select name="Y" id="Y">
                <option value="贰零壹零">2010</option>
                <option value="贰零壹壹">2011</option>
                <option value="贰零壹贰">2012</option>
                <option value="贰零壹叁">2013</option>
                <option value="贰零壹肆">2014</option>
                <option value="贰零壹伍">2015</option> 
                <option value="贰零壹陆">2016</option>
                <option value="贰零壹柒">2017</option>
                <option value="贰零壹捌">2018</option>
                <option value="贰零壹玖">2019</option>
                <option value="贰零贰零">2020</option>
                          
              </select>
              <select name="m" id="m">
                <option value="零壹">01</option>
                <option value="零贰">02</option>
                <option value="零叁">03</option>
                <option value="零肆">04</option>
                <option value="零伍">05</option>
                <option value="零陆">06</option>
                <option value="零柒">07</option>
                <option value="零捌">08</option>
                <option value="零玖">09</option>
                <option value="零拾">10</option>
                <option value="拾壹">11</option>
                <option value="拾贰">12</option>
              </select>
              <select name="d" id="d">
                <option value="零壹">01</option>
                <option value="零贰">02</option>
                <option value="零叁">03</option>
                <option value="零肆">04</option>
                <option value="零伍">05</option>
                <option value="零陆">06</option>
                <option value="零柒">07</option>
                <option value="零捌">08</option>
                <option value="零玖">09</option>
                <option value="壹拾">10</option>
                <option value="拾壹">11</option>
                <option value="拾贰">12</option>
                <option value="拾叁">13</option>
                <option value="壹拾肆">14</option>
                <option value="壹拾伍">15</option>
                <option value="壹拾陆">16</option>
                <option value="壹拾柒">17</option>
                <option value="壹拾捌">18</option>
                <option value="壹拾玖">19</option>
                <option value="贰拾">20</option>
                <option value="贰拾壹">21</option>
                <option value="贰拾贰">22</option>
                <option value="贰拾叁">23</option>
                <option value="贰拾肆">24</option>
                <option value="贰拾伍">25</option>   
                <option value="贰拾陆">26</option>
                <option value="贰拾柒">27</option>
                <option value="贰拾捌">28</option>
                <option value="壹拾玖">29</option>
                <option value="叁拾">30</option>     
                <option value="叁拾壹">31</option>            
              </select>
          </label></td>
        </tr>
        <tr class=InputFrameLine>
          <td height="25" colspan="2" align=center >汇款人</td>
          <td colspan="2" align=center  >收款人</td>
        </tr>
        <tr class=InputFrameLine>
          <td height="25" align=right class=form_label>全称：</td>
          <td align=left  ><input class=input type="text" name="input3" size="20" maxlength="20" value="" ></td>
          <td align=right class=form_label>全称：</td>
          <td align=left ><input class=input type="text" name="input8" size="20" maxlength="20" value="" ></td>
        </tr>
        <tr class=InputFrameLine>
          <td align=right class=form_label>帐号：</td>
          <td align=left  ><input class=input type="text" name="input4" size="20" maxlength="20" value="" ></td>
          <td align=right class=form_label>帐号：</td>
          <td align=left ><input class=input type="text" name="input9" size="20" maxlength="20" value="" ></td>
        </tr>
        <tr class=InputFrameLine>
          <td height="25" align=right class=form_label>地点：</td>
          <td align=left ><input class=input type="text" name="input5" size="5" maxlength="20" value="" >
            省
<input class=input type="text" name="input6" size="10" maxlength="20" value="" >
          市/县</td>
          <td align=right class=form_label>汇入地点：</td>
          <td align=left  ><input class=input type="text" name="input10" size="5" maxlength="20" value="" >
            省
            <input class=input type="text" name="input11" size="10" maxlength="20" value="" >
      市/县</td></tr> 
        
        <tr class=InputFrameLine>
          <td height="25" align=right class=form_label>汇出行名称：</td>
          <td align=left  ><input class=input type="text" name="input7" size="20" maxlength="20" value="" ></td>
          <td align=right class=form_label>汇入行名称：</td>
          <td align=left  ><input class=input type="text" name="input12" size="20" maxlength="20" value="" ></td>
        </tr>
        <tr class=InputFrameLine>
          <td height="25" align=right class=form_label>&nbsp;</td>
          <td align=left  >&nbsp;</td>
          <td align=right class=form_label>&nbsp;</td>
          <td align=left >&nbsp;</td>
        </tr>
        <tr class=InputFrameLine>
          <td height="25" align=right class=form_label>大写金额：</td>
          <td align=left  ><input class=input type="text" name="input13" size="20" maxlength="20" value="" ></td>
          <td align=right class=form_label>金额：</td>
          <td align=left ><input class=input type="text" name="input14" size="20" maxlength="20" value="" onkeyup="nst(this);"></td>
        </tr>
        <tr class=InputFrameLine>
          <td height="25" align=right class=form_label>支付密码：</td>
          <td colspan="3" align=left ><input class=input type="text" name="input15" size="20" maxlength="20" value="" ></td>
        </tr>
        <tr class=InputFrameLine>
          <td width=115 height="25" align=right class=form_label>附加信息及用途：</td>
          <td colspan="3" align=left ><input class=input type="text" name="input16" size="60" maxlength="100" value="" ></td>
        </tr>
  <tr>
    <td colspan="4" class=bottombotton  align="center" ><input type=button name=save style="CURSOR: hand"  class=buttonsmall value="确定" AccessKey=t  onClick="submit_save()"   ></td>
    </tr>
      </tbody>
    </table>
</form>




</center>
</BODY>
</HTML>

