<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="[#path#]css/style.css" media="screen" />
<link rel="stylesheet" type="text/css"  href="[#path#]css/style_print.css" media="print" />
<title>无标题文档</title>
</head>

<body>
<div id="wrapper">
	<div id="turecenter">
    	<div id="header">
            <table width="100%" height="100%" cellpadding="0" cellspacing="0">
            	<tr>
                	<td valign="bottom" class="cellwide_22 tdleft noprint"><input type="checkbox" /> 普通&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" />加急</td>
                    <td class="cellwide_28">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr class="cellhight_13">
                            	<td class="headertitle noprint">中国银行电汇凭证<span style="font-size:14px;">(回&nbsp;&nbsp;单)</span></td>
                            </tr>
                            <tr class="cellhight_8">
                            	<td class="headerbottomline"></td>
                            </tr>
                            <tr class="cellhight_14">
                            	<td>
                                	<table class="cellwide_12" width="100%" height="100%" cellpadding="0" cellspacing="0">
                                    	<tr>
                                        	<td style="width:1.85cm;" class="tdright noprint">委托日期</td>
                                    		<td style="width:1.7cm;">[#Y#]</td>
                                    		<td class="cellwide_1 noprint">年</td>
                                    		<td style="width:0.8cm;">[#m#]</td>
                                   			<td class="cellwide_1 noprint">月</td>
                                    		<td style="width:0.8cm;">[#d#]</td>
                                    		<td style="width:1.35cm;" class="tdleft noprint">日</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table> 
                    </td>
                    <td class="cellwide_29 noprint" style="text-align:center; font-size:24px;"><span style=" font-weight:bold">1</span><span>XV18773638</span></td>
                </tr>
            </table>
        </div>
        <div id="maincontent">
        	<div class="maincontentone">
        	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
            	<tr height="100%">
                	<td class="cellwide_1 noprint tdbordertop">汇款人</td>
                    <td class="cellwide_2">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="noprint tdbordertop">全称</td></tr>
                            <tr><td class="noprint tdborder">账号</td></tr>
                            <tr><td class="noprint tdborder">汇出地点</td></tr>
                        </table>
                    </td>
                    <td class="cellwide_23">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="tdleft tdbordertop">&nbsp;[#input3#]</td></tr>
                            <tr><td class="tdleft tdborder">&nbsp;[#input4#]</td></tr>
                            <tr>
                            	<td class="tdborder">
                                	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                                    	<tr>
                                        	<td width="28%">[#input5#]</td>
                                            <td width="7%" class="noprint">省</td>
                                            <td width="29%">[#input6#]</td>
                                            <td width="15%" class="noprint">市/县</td>
                                            <td width="21"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="cellwide_1 noprint tdbordertop">收款人</td>
                    <td class="cellwide_2">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="noprint tdbordertop">全称</td></tr>
                            <tr><td class="noprint tdborder">账号</td></tr>
                            <tr><td class="noprint tdborder">汇入地点</td></tr>
                        </table>
                    </td>
                     <td class="cellwide_23">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="tdleft tdbordertopright">&nbsp;[#input8#]</td></tr>
                            <tr><td class="tdleft tdborderright">&nbsp;[#input9#]</td></tr>
                            <tr>
                            	<td class="tdborderright">
                                	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                                    	<tr>
                                        	<td width="28%">[#input10#]</td>
                                            <td width="7%" class="noprint">省</td>
                                            <td width="29%">[#input11#]</td>
                                            <td width="15%" class="noprint">市/县</td>
                                            <td width="21"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </table>
                </div>
                <div class="maincontenttwo">
                <table width="100%" height="100%" cellpadding="0" cellspacing="0">
                <tr>
                		<td class="cellwide_3 noprint tdborder">汇出行名称</td>
                    	<td class="cellwide_23 tdleft tdborder">&nbsp;[#input7#]</td>
                    	<td class="cellwide_3 noprint tdborder">汇入行名称</td>
                    	<td class="cellwide_23 tdleft tdborderright">&nbsp;[#input12#]</td>  
                </tr>
                </table>
                </div>
                <div class="maincontentthree">
                <table width="100%" height="100%" cellpadding="0" cellspacing="0">
                <tr>
                	<td class="cellwide_1 noprint tdborder">金额</td>
                    <td class="cellwide_2 noprint tdborder">人民币<br />(大写)</td>
                    <td class="cellwide_24 tdleft tdborder">&nbsp;[#input13#]</td>
                    <td class="cellwide_25">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr class="cellhight_1">
                            	<td class="noprint tdborder">亿</td>
                                <td class="noprint tdborder">千</td>
                                <td class="noprint tdborder">百</td>
                                <td class="noprint tdborder">十</td>
                                <td class="noprint tdborder">万</td>
                                <td class="noprint tdborder">千</td>
                                <td class="noprint tdborder">百</td>
                                <td class="noprint tdborder">十</td>
                                <td class="noprint tdborder">元</td>
                                <td class="noprint tdborder">角</td>
                                <td class="noprint tdborderright">分</td>
                            </tr>
                            <tr class="cellhight_2">
                            	<td class="tdborder">[#k1#]</td>
                                <td class="tdborder">[#j1#]</td>
                                <td class="tdborder">[#i1#]</td>
                                <td class="tdborder">[#h1#]</td>
                                <td class="tdborder">[#g1#]</td>
                                <td class="tdborder">[#f1#]</td>
                                <td class="tdborder">[#e1#]</td>
                                <td class="tdborder">[#d1#]</td>
                                <td class="tdborder">[#c1#]</td>
                                <td class="tdborder">[#b1#]</td>
                                <td class="tdborderright">[#a1#]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </table>
                </div>
                <div class="maincontentfour">
                <table width="100%" height="100%" cellpadding="0" cellspacing="0">
               	 <tr height="100%">
                 	<td width="50%">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr class="cellhight_3">
                            	<td colspan="2" class="tdborder" style="border-bottom:none;">&nbsp;</td>
                            </tr>
                            <tr class="cellhight_1">
                            	<td class="tdright noprint tdborder" width="90%">汇出行签章</td>
                                <td width="10%" class="tdborderbottom">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
         			 <td width="50%" >
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0" >
                        	<tr class="cellhight_2">
                            	<td class="cellwide_7 noprint tdborder">支付密码</td>
                                <td class="cellwide_26 tdleft tdborderright">&nbsp;[#input15#]</td>
                            </tr>
                            <tr class="cellhight_4">
                            	<td colspan="2" >
                                <table width="100%" height="100%" cellpadding="0" cellspacing="0">
                                	<tr class="cellhight_1">
                            			<td class="tdleft noprint" style="border-left:#000 1px solid; border-right:#000 1px solid;">附加信息及用途：</td>
                                    </tr>
                                    <tr class="cellhight_12">
                                    	<td height="100%" class="tdborderright" style="border-bottom:none;">&nbsp;[#input16#]</td>
                                    </tr>
                                </table>
                                </td>
                            </tr>
                            <tr class="cellhight_1">
                            	<td colspan="2">
                                <table width="100%" height="100%" cellpadding="0" cellspacing="0" class="tdborderright">
                                <tr>
                            	<td width="38%">&nbsp;</td>
                                <td width="10%" class="noprint">复核</td>
                                <td width="21%">&nbsp;</td>
                                <td width="10%" class="noprint">记账</td>
                                <td width="21%">&nbsp;</td>
                                </tr>
                                </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                 </tr>
            	</table>
                </div>
        </div>
        <div id="footer"> </div>
  </div>
</div>

</body>
</html>
