@charset "utf-8";
body{
	font-size: 9pt;
	font-family: "Courier New", Courier, mono;
	background-color: #CEEBCE;
}

.tdBgColor{
	background-color: #E8F0FF;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
}
.tabTh {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0066CC;
	background-position: center;
	text-align: center;
}
.borderStyle {
	border: 1px solid #003366;
}
.colBgColor {
	background-color: #CEDFFF;
}