@import url( ../../../common/css/css.css );
BODY {
	MARGIN: 0px; CURSOR: default
}
#head {
	WIDTH: 100%; BORDER-BOTTOM: 2px inset; HEIGHT: 53px; BACKGROUND-COLOR: #87c0f0
}
#foot {
	BORDER-TOP: 1px outset; WIDTH: 100%; BOTTOM: 0px; LINE-HEIGHT: 18px; POSITION: absolute; HEIGHT: 18px; BACKGROUND-COLOR: #e7e4e0
}
#left {
	FLOAT: left; TEXT-ALIGN: left
}
#right {
	FLOAT: right; TEXT-ALIGN: right
}
.clickOK {
	BORDER-RIGHT: 1px inset; PADDING-RIGHT: 4px; BORDER-TOP: 1px inset; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px inset; PADDING-TOP: 2px; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: #e7e4e0; TEXT-ALIGN: center
}
.none {
	BORDER-RIGHT: #e7e4e0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e7e4e0 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #e7e4e0 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e7e4e0 1px solid; BACKGROUND-COLOR: #bddbf7; TEXT-ALIGN: center
}
.overthe {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 4px; BORDER-TOP: 1px outset; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px outset; PADDING-TOP: 2px; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #bddbf7; TEXT-ALIGN: center
}
#menu {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; BORDER-LEFT: 1px outset; WIDTH: 142px; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #bddbf7
}
.subMenuSelected {
	COLOR: #ffffff; BACKGROUND-COLOR: #1c3ab7
}
#hand-obj {
	BACKGROUND-IMAGE: url(img/stem.gif); WIDTH: 7px; POSITION: absolute; TOP: 58px
}
#hand-in {
	BACKGROUND-POSITION: center center; LEFT: 0px; BACKGROUND-IMAGE: url(img/handle-in.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; TOP: 45%; HEIGHT: 50px
}
.leftMain {
	LEFT: 0px; POSITION: absolute; TOP: 58px; HEIGHT: 900px; BACKGROUND-COLOR: #eff3ff
}
.leftButton {
	PADDING-LEFT: 5px; POSITION: relative; BACKGROUND-COLOR: #eff3ff
}
.leftButton SPAN {
	CURSOR: hand; COLOR: #000000
}
.leftItems {
	PADDING-LEFT: 0px; WIDTH: auto; POSITION: relative
}
.leftTitle {
	BORDER-TOP: 1px outset; BORDER-LEFT-WIDTH: 1px; LINE-HEIGHT: 20px; BORDER-BOTTOM: 1px outset; HEIGHT: 20px; BACKGROUND-COLOR: #e7e4e0; BORDER-RIGHT-WIDTH: 1px
}
.leftContent {
	
}
#rightMain {
	POSITION: absolute; TOP: 58px; BACKGROUND-COLOR: #efefef
}
#rightMain #rightButton {
	PADDING-LEFT: 5px; POSITION: relative; HEIGHT: 25px; BACKGROUND-COLOR: #e7e4e0
}
#rightTitle {
	PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BORDER-BOTTOM: 1px outset; POSITION: relative; HEIGHT: 20px; BACKGROUND-COLOR: #abb5be
}
#rightCenter {
	LEFT: 0px; WIDTH: 100%; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: #e7e4e0
}
.subWinTitle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; COLOR: #ffffff
}
.subWinSelect {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% top; PADDING-LEFT: 5px; FLOAT: left; BACKGROUND-IMAGE: url(img/subWinTitle.gif); BORDER-LEFT: #000000 1px solid; COLOR: #000000; BACKGROUND-REPEAT: repeat-x
}
.subWin {
	WIDTH: 100%; POSITION: absolute; HEIGHT: 100%
}
.style3 {
	font-size: 14pt;
	font-weight: bold;
	color: #5E687B;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}
