<HTML><HEAD><TITLE>服务项目管理</TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<META HTTP-EQUIV="empiresoft" CONTENT="no-cache">
<link href="{skin}button_css.css" rel="stylesheet" type="text/css">
<link href="{skin}page_title.css" rel="stylesheet" type="text/css">
<LINK href="{skin}browse.css" type=text/css rel=stylesheet>
<LINK href="../include/DatePicker.css" rel=stylesheet type=text/css>
<SCRIPT language=javascript src="../include/editlib.js"></SCRIPT>
<style type="text/css">
<!--
.STYLE2 {font-size: 12px}
-->
</style>
</HEAD>
<script language=javascript>
<!-- 

function input_focus(){
var gg = 1;
if (gg == 1){
form1.serno.focus();
 }
 MoveLayer('AdLayer'); 
}


var requestSubmitted = false;

function submit_save(){
		if(form1.serno.value==""){
	 	  alert("请输入服务编号");
	 	  form1.serno.focus();
	 	  return;
	    }

		if(form1.name.value==""){
	 	  alert("请输入服务项目名称");
	 	  form1.name.focus();
	 	  return;
	    }
		 if(form1.sortid.value==""){
	 	  alert("请选择服务类别");
	 	  form1.sortid.focus();
	 	  return;
	    }		
			
	    
		
	 if(requestSubmitted == true){
    alert("你已经提交，请等待一下");
    return (false);
   } 
     requestSubmitted = true;
     form1.end_action.value ="endsave";
     sending.style.display="";
	 sendingbg.style.display="";  
	 form1.submit();
}

function submit_del(){
    if (confirm("是否删除该记录？")) {
        getSer(form1.id.value);
    }
} 

function changeno(){
	form1.ischangeno.value="1";
}


function InitAjax()
{
　var ajax=false; 
　try { 
　　ajax = new ActiveXObject("Msxml2.XMLHTTP"); 
　} catch (e) { 
　　try { 
　　　ajax = new ActiveXObject("Microsoft.XMLHTTP"); 
　　} catch (E) { 
　　　ajax = false; 
　　} 
　} 
　if (!ajax && typeof XMLHttpRequest!='undefined') { 
　　ajax = new XMLHttpRequest(); 
　} 
　return ajax;
}

function getSer(serID)
{
　//如果没有把参数newsID传进来
　if (typeof(serID) == 'undefined')
　{
　　return false;
　}
  var postStr = "id="+ serID;
　//需要进行Ajax的URL地址
　var url = "../ajaxread/readdelser.php";
　//实例化Ajax对象
　var ajax = InitAjax();
　//使用POST方式进行请求
　ajax.open("POST", url, true); 
  //定义传输的文件HTTP头信息
　ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
　//发送POST数据
　ajax.send(postStr);
　//获取执行状态
　ajax.onreadystatechange = function() { 
　　//如果执行是状态正常，那么就把返回的内容赋值给上面指定的层
　　if (ajax.readyState == 4 && ajax.status == 200) {   
       if(ajax.responseText==0){
          form1.end_action.value = "dellist";
          sendingbg.style.display="";  
          sendingdel.style.display="";
	        form1.submit();
       }else{
          alert("该服务已经有历史记录，不能删除");
       }
　　}
　}
  //发送空
　//ajax.send(null); 
}


function CheckAll(form){
     for (var i=0;i<form.elements.length;i++){ 
         var strelement = form.elements[i];
         if (strelement.name != 'chkall' && !strelement.disabled){
             strelement.checked = form.chkall.checked;
         }
      }
   }

function bb(obj1,obj2)
{
		if(obj1.style.display == "none"){
			obj1.style.display = "";
			obj2.src = "../Images/menu_open.gif";
		}else{
			obj1.style.display="none";
			obj2.src = "../Images/menu_close.gif";
		}
}

function proadd(){
   if(form1.commno.value!=""){
     likecomm();
   }else{
     var arrItems=new Array();
     var strItem ;
     var szRef = "../getdata/getpro.html";
     var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
     
     arrItems = strItem.split("@@@");
     form1.commid.value          = arrItems[0];   
     form1.commno.value          = arrItems[1]; 
     form1.commname.value        = arrItems[2];
     form1.commbar.value         = arrItems[3];
     form1.commprice.value       = arrItems[4];
     form1.unit.value            = arrItems[5];	 
	 form1.capunitid.value      =  arrItems[6];

	 ajaxgetcapunit();  
     

   }
}



var kk=0;

function viewall(count)
{
	if(kk == 0){
		for (i=1;i<=count;i++){
			temptr = "tr" + i;
			tempimg = "img" + i;
				document.getElementById(temptr).style.display = "";
				document.getElementById(tempimg).src = "../Images/menu_open.gif";
		}
		imgb = "imgb";
		imgb1 = "imgb1";
		document.getElementById(imgb).src = "../Images/openb.gif";
		document.getElementById(imgb1).src = "../Images/openb.gif";
		kk = 1;
	}else{
		for (i=1;i<=count;i++){
			temptr = "tr" + i;
			tempimg = "img" + i;
				document.getElementById(temptr).style.display = "none";
				document.getElementById(tempimg).src = "../Images/menu_close.gif";
		}
		imgb = "imgb";
		imgb1 = "imgb1";
		document.getElementById(imgb).src = "../Images/closeb.gif";
		document.getElementById(imgb1).src = "../Images/closeb.gif";
	    kk = 0;
	}
}

function submit_savet() {
	if(form1.serno.value==""){
	   alert("服务编号不能为空");
	   form1.serno.focus();
	   return;
	}
	/*if(form1.commid.value==""){
	    alert("请选择产品");
	 	  return;
	 }
	if(form1.commno.value==""){
	    alert("请选择产品");
		form1.commno.focus();
	 	  return;
	 }	 
	 */
	 if(form1.name.value==""){
	  alert("请输入服务项目名称");
	  form1.name.focus();
	  return;
	}	 
	/*
	 if(form1.price.value==""){
	  alert("请输入价格");
	  form1.price.focus();
	  return;
	}	
	
	 if(form1.zdprice.value==""){
	  alert("请输入自带价格");
	  form1.zdprice.focus();
	  return;
	}		
    if(form1.wastage.value == 0||form1.wastage.value == ""){
	    alert("请输入标准消耗量或标准消耗量不能为0");
	 	  return;
	 } 	
	 	*/
	 form1.submit();
}

function submit_checkdel(){
   if (confirm("是否删除所选记录？")) {
        form1.action.value = "del";
	      form1.submit();
    }
} 

function edit_p(lid2){
		form1.vid.value =lid2;
		form1.action.value ="";
		form1.submit();
}



function keypresscomm(){
  if(event.keyCode==13){
     checkisonecomm();
  }
}

function likecomm(){
     var strcommno = form1.commno.value;
     var arrItems=new Array();
     var strItem ;
     var szRef = "../getdata/likegetcomm.php?commno="+strcommno;
     var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
     
     arrItems = strItem.split("@@@");
     form1.commid.value          = arrItems[0];   
     form1.commno.value          = arrItems[1]; 
     form1.commname.value        = arrItems[2];
     form1.commbar.value         = arrItems[3];
	 form1.commprice.value       = arrItems[4];
     form1.unit.value            = arrItems[5];
	 form1.capunitid.value       =  arrItems[6];
	 
	 ajaxgetcapunit();  
    
}

function checkisonecomm(){
  var strcommno = form1.commno.value;
  var postStr = "commno="+ strcommno;
　//需要进行Ajax的URL地址
　var url = "../ajaxread/checkisonecomm.php";
　//实例化Ajax对象
　var ajax = InitAjax();
　//使用POST方式进行请求
　ajax.open("POST", url, true);
  //定义传输的文件HTTP头信息
　ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
　//发送POST数据
　ajax.send(postStr);
　//获取执行状态
　ajax.onreadystatechange = function() { 
　　//如果执行是状态正常，那么就把返回的内容赋值给上面指定的层
　　if (ajax.readyState == 4 && ajax.status == 200) { 
       var strcommArray = new Array();   
       strcommArray = ajax.responseText.split("&");  
       if(strcommArray[0]==0){
         alert("没有该产品！请查证！");
         form1.commno.focus();
       }else if(strcommArray[0]==1){
         form1.commid.value          = strcommArray[1];
         form1.commno.value          = strcommArray[2];
         form1.commname.value        = strcommArray[3];
         form1.commbar.value         = strcommArray[4];
		 form1.commprice.value       = strcommArray[5];
         form1.unit.value            = strcommArray[6];    
		 form1.capunitid.value       = strcommArray[9];  
		 ajaxgetcapunit();    
       }else{
         likecomm();
       }
　　}
　}
}

function ajaxgetcapunit(){

  var strunitid = form1.capunitid.value;
  var postStr = "unitid="+ strunitid;
　//需要进行Ajax的URL地址
　var url = "../ajaxread/ajaxgetcapunit.php";
　//实例化Ajax对象
　var ajax = InitAjax();
　//使用POST方式进行请求
　ajax.open("POST", url, true);
  //定义传输的文件HTTP头信息
　ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
　//发送POST数据
　ajax.send(postStr);
　//获取执行状态
　ajax.onreadystatechange = function() { 
　　//如果执行是状态正常，那么就把返回的内容赋值给上面指定的层
　　if (ajax.readyState == 4 && ajax.status == 200) { 
         document.getElementById("uid").innerHTML = ajax.responseText + "*"; 
	 }

　}
 
}

function submit_addpro(){
  form1.action.value="";
  form1.vid.value="";
  form1.submit();
}

function iscollect(){
   if(parseFloat(form1.zdprice.value) > parseFloat(form1.price.value)){
       alert("自带价格不能大于价格!");
	   form1.zdprice.value="";
   }
}

function   roundAmount(n)   {   
      var   s   =   ""   +   Math.round(n   *   100)   /   100   
      var   i   =   s.indexOf('.')   
      if   (i   <   0)   return   s   +   ".00"   
      var   t   =   s.substring(0,   i   +   1)   +     
              s.substring(i   +   1,   i   +   3)   
      if   (i   +   2   ==   s.length)   t   +=   "0"   
        
      return   t   
  }   

function changetich(){
     //指名美容师服务提成
     var strmfstich = form1.mfstichpcent.value ;
	 form1.mfstich.value =(strmfstich/100) * form1.price.value;
	 var temptich = form1.mfstich.value;
	 form1.mfstich.value=roundAmount(temptich);
	 //非指名美容师服务提成
	 var strpcentmfs = form1.undesignatemfstichpcent.value;
	 form1.undesignatemfstich.value = (strpcentmfs/100) * form1.price.value;
	 form1.undesignatemfstich.value=roundAmount(form1.undesignatemfstich.value);
	 //指名助理服务提成
     var strastich = form1.astichpcent.value ;
	 form1.astich.value =(strastich/100) * form1.price.value;
	 var tempastich = form1.astich.value;
	 form1.astich.value=roundAmount(tempastich);	
	 //指名助理服务提成
     var strunastich = form1.undesignateastichpcent.value ;
	 form1.undesignateastich.value =(strunastich/100) * form1.price.value;
	 var tempunastich = form1.undesignateastich.value;
	 form1.undesignateastich.value=roundAmount(tempunastich);	  
}


function help(){  
   if(document.getElementById("helpid").style.pixelHeight == 0 &&  document.getElementById("helpid").style.display == "none"){      
       document.getElementById("helpid").style.display = "";
	  ChS();
	 
   }else{   
	   HhS();    	  
   }
}

function ChS(){
if(helpid.style.pixelHeight<250){helpid.style.pixelHeight+=10;setTimeout("ChS()",0.5);
} 
// document.getElementById("fid").style.display = "none";
}
function HhS(){
if(helpid.style.pixelHeight > 0){helpid.style.pixelHeight-=10;setTimeout("HhS()",0.5);
}
if(helpid.style.pixelHeight == 0){
 document.getElementById("helpid").style.display = "none";
 }
//  document.getElementById("fid").style.display = "";
}
// -->
</script>

<BODY  onload=input_focus() topmargin="0" leftMargin="2" width="100%">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
                 <td height="30" class="pagetitle"  width="100%" valign="middle">
          &nbsp;&nbsp;<img src="{skin}nowspace.jpg" align="absmiddle">
        	单项项目资料</td>
			<tr>
           <td align="left"><div style="margin:0px 0px 0px 12px;"><img src="{skin}line.jpg" ></div></td>
          </tr>	
  </table>
  <center>
  <form action="" method="post" name="form1">
    <input type=hidden name=action value="{action}">
	<input type=hidden name=end_action value="">
    <input type=hidden name=id value="{id}">
	<input type=hidden name=listid value="{listid}">
	<input type=hidden name=vid value="">
	<input type=hidden name=count value="{count}">
    <input type=hidden name=checkid value="">
	<input type="hidden" name="capunitid" value="{capunitid}">
	<input type="hidden" name="capcityunit" value="">
	<input type=hidden name=ischangeno value=""> 
    <table width="98%" border="0" cellspacing="0" cellpadding="0" height="31">
      <tr>
        <td class=button_labelleft></td>
        <td class=button_label><div align="left" style="margin:0px 0px 0px 0px">
          <input type=button name=save32 class=button_new value="     帮助" AccessKey=h  onClick="javascript:help()" style="font-size:9pt"  onMouseOver="this.style.backgroundImage='url({skin}new_sel.jpg)'"  onmouseout="this.style.backgroundImage='url({skin}new.jpg)'">
          <input type=button name=save3 class=button_save value="     保存" AccessKey=s  onClick="javascript:submit_save()" style="font-size:9pt" {dissave} onMouseOver="this.style.backgroundImage='url({skin}save_sel.jpg)'"  onmouseout="this.style.backgroundImage='url({skin}save.jpg)'">
          <input class=button_delete name=end type=button value="     删除" AccessKey=d  onClick="javascript:submit_del()" style="font-size:9pt" {disdel} onMouseOver="this.style.backgroundImage='url({skin}delete_sel.jpg)'"  onmouseout="this.style.backgroundImage='url({skin}delete.jpg)'">
		    <INPUT class=button_reset name=qqq type=reset value="     撤销" AccessKey=z style="font-size:9pt" onMouseOver="this.style.backgroundImage='url({skin}reset_sel.jpg)'"  onmouseout="this.style.backgroundImage='url({skin}reset.jpg)'">
          <input type=button name=rst class=button_recovery value="     返回" AccessKey=q style="font-size:9pt" onClick="javascript:location='{gotourl}'" onMouseOver="this.style.backgroundImage='url({skin}recovery_sel.jpg)'"  onmouseout="this.style.backgroundImage='url({skin}recovery.jpg)'">
        </div></td>
        <td class=button_labelright></td>
      </tr>
  </table>  
    <table width="750" class=InputFrameMain cellspacing="0" cellpadding="0" border="0" height="100">
      <TBODY> 
        <tr>
          <td align="left" colspan="4"><table cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td align="center" class=inputtitle width="106">资料输入</td>
                <td  align="center" class=inputtitleright >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td  align="center" ><b><font color="#FF0000" class="error">{error}</font></b></td>
              </tr>
          </table></td>
        </tr>
       <tr> 
           <td colspan="4" height="10"></td>
      </tr>
	  <tr> 
	  	<td class=form_label align="right"> 服务编号：</td>
        <td width="242" align="left"> 
          <input class=input type="text" name="serno" size="20" maxlength="20" value="{serno}" style="ime-mode:disabled" onChange="changeno()">
                    <span class=form_label>*</span></td>	
        <td width="133"  align="right" class=form_label> 服务名称：</td>
        <td width="246"  align="left"> 
          <input class=input type="text" name="name" size="20" maxlength="20" value="{name}">
          <span class=form_label>*</span></td>
	  </tr> 
	  <tr>
			<td   height="30" align="right" class=form_label >时长：</td>
			<td height="30" align="left">
				<input class=input type="text" name="miner1" size="5"  maxlength="2" style="ime-mode:disabled" onKeyPress="if (event.keyCode < 48  || (event.keyCode > 57 && event.keyCode != 58)) event.returnValue = false;" value="{miner1}" >
				：
				<input class=input type="text" name="miner2" size="5"  maxlength="2" style="ime-mode:disabled" onKeyPress="if (event.keyCode < 48  || (event.keyCode > 57 && event.keyCode != 58)) event.returnValue = false;" value="{miner2}" >
				<span class="form_label">* </span>格式为：时:分</td>				 
		   <td height="30" align=right class=form_label>价格：</td>
          <td height="30" ><input class=inputright type="text" name="price" size="10"  value="{price}" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" onFocus="this.select()">
          <span class="form_label">元*</span>          </td>
	  </tr> 
	  <tr> 
        <td align="right" class=form_label>所属类别：</td>
        <td  align="left"><select name="sortid">
          <option value="">选择服务类别</option>                
           {sortid}                             
        </select>
          <span class="STYLE2">*</span>  </td>
		   <td height="30" align=right class=form_label>自带价格：</td>
          <td height="30" ><input class=inputright type="text" name="zdprice" size="10"  value="{zdprice}" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" onFocus="this.select()" onChange="iscollect()">
          <span class="form_label">元</span>          </td>
	  </tr>
	  <tr> 
		   <td height="30" align=right class=form_label>美容师服务提成：</td>
          <td height="30" ><input class=inputright type="text" name="mfstichpcent" size="5"  value="{mfstichpcent}" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" onFocus="this.select()" maxlength="4"  onKeyUp="changetich();" >
            <span class="form_label">%  &nbsp;&nbsp;(指名)</span>
          <input class=input_disabled type="text" name="mfstich" size="8"  value="{mfstich}"  readonly> <span class="form_label">元</span></td>	  
        <td align="right" class=form_label>美容师服务提成：</td>
        <td  align="left"><input class=inputright type="text" name="undesignatemfstichpcent" size="5"  value="{undesignatemfstichpcent}" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" onFocus="this.select()" maxlength="4"  
		onKeyUp="changetich();">
          <span class="form_label">%   &nbsp;&nbsp;(非指名)</span>
		  <input class=input_disabled type="text" name="undesignatemfstich" size="8"  value="{undesignatemfstich}"  readonly> <span class="form_label">元</span>    
		  </td>
	  </tr>	  
	  <tr> 
		   <td height="30" align=right class=form_label>助理服务提成：</td>
          <td height="30" ><input class=inputright type="text" name="astichpcent" size="5"  value="{astichpcent}" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" onFocus="this.select()" maxlength="4"  onKeyUp="changetich();" >
          <span class="form_label">%  &nbsp;&nbsp;(指名)</span> 
		   <input class=input_disabled type="text" name="astich" size="8"  value="{astich}"  readonly> <span class="form_label">元</span> 
		  </td>	  
        <td align="right" class=form_label>助理服务提成：</td>
        <td  align="left"><input class=inputright type="text" name="undesignateastichpcent" size="5"  value="{undesignateastichpcent}" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" onFocus="this.select()" maxlength="4"  
		onKeyUp="changetich();">
          <span class="form_label">%   &nbsp;&nbsp;(非指名)</span>  
		  <input class=input_disabled type="text" name="undesignateastich" size="8"  value="{undesignateastich}"  readonly> <span class="form_label">元</span>   
		</td>
	  </tr>	 	  
	  
	  <tr> 
        <td width="129" height="45" align="right" class=form_label>备注：</td>
        <td height="45" colspan="3" align="left"><textarea class=inputarea name="remark"   wrap="virtual"  rows="6">{remark}</textarea></td>
      </tr>
      </TBODY> 
    </table>
    <table width="750" border="0" cellspacing="1"  style="display:{datashow}" class=tableborder>
	  <tr class=listtitle>
        <td width="22" align="center" >
		<a style="CURSOR: hand" onClick="viewall({count})"> 
		<img src="../Images/closeb.gif" width="16" height="16" id=imgb></a>		</td>
        <td align="center" ><INPUT onclick=CheckAll(this.form) type=checkbox value=on name=chkall></td>
        <td align="center" class="white_word">商品代码</td>
        <td align="center" class="white_word">产品名称</td>
        <td align="center" class="white_word">产品条码</td>
        <td align="center" class="white_word">消耗量</td>
		<td align="center" class="white_word">消耗单位</td>
        <td align="center" class="white_word">操作</td>
	  </tr>
      <!-- BEGIN prolist -->
	  <tr onMouseOver="this.style.backgroundColor='#DAE2ED';" onMouseOut="this.style.backgroundColor='{bgcolor}'" bgcolor="{bgcolor}">
        <td align="center" ><a style="CURSOR: hand" onClick="bb({trid},{imgid})"><img id={imgid} src="../Images/menu_close.gif" width="16" height="16" ></a></td>
	  	  <td width="20" align="center" >
	      <input type="checkbox" name="checkid[]" value="{vid}" >	    </td>
        <td align="center" >{vcommno}</td>
        <td align="center" >{vcommname}&nbsp;</td>
        <td align="center" >{vcommbar}&nbsp;</td>       
        <td align="center" >{vwastage}&nbsp;</td>
		<td align="center" >{vcapunit}&nbsp;</td>
        <td align="center" ><a href="#" onClick="edit_p('{vid}')">编辑</a></td>
	  </tr>
	   <tr id={trid} style="display:none">
        <td align="center" class=tdcolor></td>
        <td colspan="2" align="center" class=tdcolor>备注</td>
        <td colspan="5" align="left" class=tdcolor>{vmemo}&nbsp;</td>
      </tr>
    
	<!-- END prolist -->
    <tr>
        <td align="center" class=tdcolor>
		<a style="CURSOR: hand" onClick="viewall({count})"> 
		<img src="../Images/closeb.gif" width="16" height="16" id=imgb1>		</a>		</td>
        <td colspan="2" align="left" class=tdcolor>
          <input class=buttonsmall name=end2 type=button value="删   除"  onClick="javascript:submit_checkdel()" style="font-size:9pt" {discheckdel} {buttondisabled}>        </td>
        <td align="left" class=tdcolor>共&nbsp;{count}</font>&nbsp;条&nbsp;合计：</td>
        <td align="center" class=tdcolor></td>
        <td align="center" class=tdcolor>&nbsp;</td>
        <td align="center" class=tdcolor>&nbsp;</td>
        <td align="center" class=tdcolor><span onClick="submit_addpro()" style="CURSOR: hand">新增产品</span></td>
    </tr>
    </table>
	

    <table width="750" border="0" cellspacing="0" class=InputFrameMain>
      <tr>
        <a name="inputpro"><td align="center" class=inputtitle>消耗产品信息</td></a>
        <td width="238" align="center" class=inputtitleright>&nbsp;</td>
        <td width="90" align="center">&nbsp;</td>
        <td width="296" align="center">&nbsp;</td>
      </tr>
	  		 <tr> 
        <td colspan="4" height="10"></td>
      </tr>
      <tr>
        <td width="118" height="30" align="right" class=form_label>商品代码：</td>
        <td height="30" align="left"><input type="hidden" name="commid" value="{commid}">
          <input class=input style="ime-mode:disabled"  name="commno" type="text" value="{commno}" size="20" onKeyPress="keypresscomm()">
           
          
        <input  type=button name=save2 class=buttonsmall value="查找"  onClick="javascript:proadd()" style="font-size:9pt" ></td>
        <td height="30" align="left" class=form_label></td>
        <td height="30" align="left"></td>
      </tr>
      <tr>
        <td height="30" align="right"><span class="form_label">产品名称：</td>
        <td width="238" height="30">
          
          <input class=input_disabled  name="commname" type="text" value="{commname}" size="30" readonly >        </td>
        <td width="90" height="30" align="right"><span class="form_label">产品条码：</td>
        <td height="30" colspan="2">
          
          <input class=input_disabled name="commbar" type="text" value="{commbar}" size="20" readonly="1">        </td>
      </tr>
      <tr>
        <td height="30" align="right" class="form_label">标准单位：</td>
        <td height="30">
          
          <input class=input_disabled name="unit" type="text" value="{unit}" size="10" readonly="1">        </td>
        <td height="30" align="right" class="form_label">单价：</td>
        <td height="30" colspan="2"><input class=inputright_disabled style="ime-mode:disabled" name="commprice" type="text" value="{commprice}" size="10"  onChange="countAll(1)" readonly="1" >&nbsp;<span class="form_label">元</span></td>
      </tr>
      <tr>
        <td height="30" align="right"><span class="form_label">标准消耗量：</span></td>
        <td height="30"><input class=inputright  name="wastage" type="text" value="{wastage}" style="ime-mode:disabled"  size="10" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 46) || event.keyCode > 57 ) event.returnValue = false;"  onFocus="this.select()">	
        {capcityunit}</td>
        <td height="30" align="right">&nbsp;</td> 
        <td height="30">&nbsp;</td>
      </tr>
  <tr>
    <td height="45" align="right" class=form_label>备注：</td>
    <td height="45" colspan="3">
      
        <textarea class=inputarea name="memo"  wrap="virtual" rows="6">{memo}</textarea>    </td>
  </tr>
  <tr>
    <td colspan="5" class=bottombotton  align="center" ><input type=button name=save style="CURSOR: hand"  class=buttonsmall value="确定" AccessKey=t  onClick="javascript:submit_savet()"  {buttondisabled} ><INPUT class=buttonsmall style="CURSOR: hand"  name=qqq type=button value="撤销" AccessKey=z  onClick="submit_reset()">     </td>
    </tr>
    </table>	
	
</form>
<div id=AdLayer  style="top:42px; z-index:30; POSITION: absolute; visibility:visible "><img onClick="formhead()" style="CURSOR: hand" src="../include/images/top_allow.gif" title="跳转至顶部"><br><img onClick="lasthead()" style="CURSOR: hand" src="../include/images/bottom_allow.gif" title="跳转至底部" ></div>


<div id="sending" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display:none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在保存数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingdel" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%;  display:none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在删除数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingbg" STYLE="LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%;  display:none"> 
</div>
<div id="helpid" STYLE="left: 1%; WIDTH: 450px; POSITION: absolute; TOP: 86px; HEIGHT: 0;  display:none;"> 
 <div  align="left"   STYLE="position:absolute;left: 15px; top:15px;right:15px" >
  服务资料在设置服务属于哪个类别和设置哪些服务属于该疗程会使用上。<br><br>
  操作：基本资料－服务资料；<br><br>
  保存(Alt+s)：添加新服务资料和修改服务资料；<br><br>
  删除(Alt+d)：即删除不再使用的服务资料,如果已经有该服务资料的使用历史,就不能删除；<br><br>
  撤销(Alt+z)：撤销回去服务资料没有修改的状态；<br><br>
  返回(Alt+q)：返回服务资料列表；<br><br>
  帮助(Alt+h)：显示帮助信息；
</div>
</div>
{showeditdiv}
</center>
</body>
</html>

