<HTML><HEAD><TITLE>销售分析</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<META HTTP-EQUIV="zjw" CONTENT="no-cache">
<script>
</script>

<style type="text/css">
.NOPRINT {
 font-family: "宋体";
 font-size: 9pt;
}

-->
</style>
<style media=print>
.Noprint{
display:none;
}
</style>
<style type="text/css">
<!--
body,td,th {
	font-size: 12px;
}
.page_titlebar_bg {
	font-size: 16px;
	font-weight: bold;
}
-->
</style></HEAD>
<BODY>
<center>
  <form action="" method="post" name="form1">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
    
  </table>
  <span class="page_titlebar_bg"><span class="page_titlebar_bg">[#currentorganname#]报损登记单</span></span>
  <table width="250" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td bgcolor="#666666" height=1></td>
      </tr>
    <tr>
      <td height=2></td>
      </tr>
    <tr>
      <td bgcolor="#666666" height=1></td>
      </tr>
    <tr>
      <td align="center" height=30>日期：[#lossregister_time#]</td>
      </tr>
    <tr>
      <td align="center" height=30>报损单号：[#lossregister_no#]</td>
      </tr>      
      <tr>
      <td align="center" height=10></td>
      </tr>
</table>

<table width="98%" border="0" cellspacing="0" cellpadding="0">
 

  <tr>
    <td width="33%" align="left"><font color="#000000" class="table_bgshow">仓库：[#warehouse_name#]</font></b></td>
          <td width="35%" align="center">状态：[#status_name#]</td>
                <td width="33%" align="right"> 经手人：[#employee_name#]</td>
    
    
  </tr>
    <tr>
    <td colspan="3" align="left" height="25">
      <b><font color="#ff0000" class="error"></font></b>
      摘要：[#mmemo#]
      <b><font color="#ff0000" class="error"></font></b>
      <b><font color="#ff0000" class="error"></font></b></td>
      </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="12">
    <tr> 
      <td  class="table_bgcolor" align="left"></td>
      <!--<td align=right style="font-size:12px"><a href="#" onClick="doexport()" ><b>[导出]</b></a></td>-->
    </tr>
  </table>
 
  <table width="98%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <!--DWLayoutTable-->
    <tbody class=table_bgcolor>
      <tr bgcolor="#E7E7E7">
        <td width="195" height="30" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;"><span class="white_word">商品代码</span></td>

                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center"><span class="table_browse_titlebar_font">商品名称</span></td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center"><span class="table_browse_titlebar_font"><span class="white_word">条形码</span></span></td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center">数量&nbsp;</td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center"><span class="table_browse_titlebar_font">单位</span></td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center">单价</td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center">金额</td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center"><span class="table_browse_titlebar_font">备注</span></td>
                 
        </tr>
 <!-- BEGIN mainlist -->
      <tr >
        <td height="20" align="center" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;">&nbsp;<span style="white-space:nowrap">[#code#]</span></td>

        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#produce_name#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center"><span style="white-space:nowrap">[#produce_no#]</span><span style="white-space:nowrap">&nbsp;</span></td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#numbers#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#unit_name#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="right">[#price#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="right">[#totalacount#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="left">[#vmemo#]<span style="white-space:nowrap">&nbsp;</span></td>
        </tr>
	   <!-- END mainlist --> 
      <tr>
        <td height="28"  class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove">&nbsp;合计：</td>

        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><span class="tdcolor">[#acount#]</span></td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        </tr>
    </table>
  <table width="98%" border="0" cellspacing="0" cellpadding="0" height="25">
    <tr> 
      <td width="36%" align="left" class="table_bgcolor"><span class=onlyShow>&nbsp;制单人 ：[#man#]</span></td>
      <td width="20%" align="center" class="table_bgcolor">&nbsp;</td>
      <td width="44%" align="right" class="table_bgcolor" ><span class=onlyShow>&nbsp;审核人：[#auditor_name#]</span></td>
    </tr>
  </table>
  </form>
</center>
</BODY>
</HTML>