<div id="foot">
	<div id="left"></div>
<form action='relogin.php' method='post' onSubmit="return checklogin();">
	<div id="right">机构：{currentorganname} 您好！{username}&nbsp;
<span style="display:{dispgo}">
跳转至
<select name="subname" id="subname">
<option value=''>请选择</option>
<!-- BEGIN subUser -->
  <{optname} {attrib}='{subusername}'>{subusername}</{optname}>
<!-- END subUser -->
</select>
<input name="msg" type="text" value="test" size="15">
<input type="submit" value="GO">&nbsp;
</span>
	</div>
</form>
<script language="javascript">
function checklogin(){
	if(document.forms[0].subname.value == ''){
		alert('请需要跳转的用户');
		return false;
	}
	var msg = document.forms[0].msg;
	if(msg.value==''){
		alert('请输入登录理由');
		msg.focus();
		return false;
	}
	return true;
}
</script>
</div>