<HTML><HEAD><TITLE>销售分析</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<META HTTP-EQUIV="zjw" CONTENT="no-cache">
<script>
function viewbill(sellid){
   var arrItems=new Array();
   var strItem ;
   var szRef = "../analysis/viewbill.php?sellid="+sellid ;
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
 
				 
 }
function printbill(){
	
	url='?action=printbill&bgdate=[#bgdate#]&enddate=[#enddate#]';

	 window.open(url);
 
} 
</script>

<style type="text/css">
.NOPRINT {
 font-family: "宋体";
 font-size: 9pt;
}

-->
</style>
<style media=print>
.Noprint{
display:none;
}
</style>
<style type="text/css">
<!--
body,td,th {
	font-size: 12px;
}
.page_titlebar_bg {
	font-size: 16px;
	font-weight: bold;
}
-->
</style></HEAD>
<BODY>
<center>


  <form action="" method="post" name="form1">
 
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
    
  </table>
  <span class="page_titlebar_bg"><span class="page_titlebar_bg">资产负债表</span></span>
  <table width="250" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td bgcolor="#666666" height=1></td>
      </tr>
    <tr>
      <td height=2></td>
      </tr>
    <tr>
      <td bgcolor="#666666" height=1></td>
      </tr>
    <tr>
      <td align="center" height=30>时间：[#bgdate#]至[#enddate#]</td>
      </tr>
      <tr>
      <td align="center" height=10></td>
      </tr>
</table>
  <table width="98%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="27%" align="left" height="25">行业：[#hangye_name#]</td>
      <td width="29%" align="center">&nbsp;</td>
      <td width="37%" align="left"> 企业 01 表</td>
      <td width="7%" align="right"><a href="#" onClick="printbill();">打印</a></td>
    </tr>
       <tr>
      <td width="27%" align="left" height="25">编制单位：[#currentorganname#]</td>
      <td width="29%" align="center">&nbsp;</td>
      <td colspan="2" align="left"> 单位：元(RMB)</td>
    </tr> 
    <tr>
      <td colspan="4" align="left" > </td>
    </tr>
  </table>
  <table width="98%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <!--DWLayoutTable-->
    <tbody class=table_bgcolor>
      <tr bgcolor="#E7E7E7">
        <td width="203" height="30" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;">资产名称</td>
        <td width="78" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove">&nbsp;行次</td>
        <td width="121" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove">年初数</td>
        <td width="138" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"><span class="table_browse_titlebar_font"><span class="white_word">期末数</span></span></td>
        <td width="75" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"><!--DWLayoutEmptyCell-->&nbsp; </td>
        <td width="260" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove">负责及所有者权益&nbsp;</td>
        <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="63" class="table_browse_titlebar_bg" align="center"> 行次</td>
        <td width="99" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove">年初数</td>
        <td width="113" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"><span class="table_browse_titlebar_font"><span class="white_word">期末数</span></span></td>
        </tr>
    <!-- BEGIN main -->
      <tr >
        <td height="20" align="left" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;">&nbsp;&nbsp;&nbsp;[#zcname#]</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">&nbsp;&nbsp;[#zcno#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#zcbegining#]&nbsp;</td>

        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#zcend#]&nbsp;</td>
        <td align="center" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td align="left" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove">&nbsp;&nbsp;&nbsp;[#fzname#]</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">&nbsp;&nbsp;&nbsp; [#fzno#]</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#fzbegining#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#fzend#]&nbsp;</td>
        </tr>
 <!-- END main -->
    </table>
  <table width="98%" border="0" cellspacing="0" cellpadding="0" height="25">
    <tr>
      <td align="left" class="table_bgcolor"><span class="onlyShow">&nbsp;单位财务负责人:</span></td>
      <td align="left" class="table_bgcolor">&nbsp;</td>
      <td align="left" class="table_bgcolor" >编制人:</td>
    </tr>
    <tr> 
      <td width="29%" align="left" class="table_bgcolor">&nbsp;</td>
      <td width="42%" align="left" class="table_bgcolor">&nbsp;</td>
      <td width="29%" align="center" class="table_bgcolor" >&nbsp;</td>
    </tr>
  </table>
  </form>
  

</center>
</BODY>
</HTML>