<HTML>
<HEAD>
<TITLE>月结存</TITLE>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<META HTTP-EQUIV="dianduo" CONTENT="no-cache">
<META HTTP-EQUIV="empiresoft" CONTENT="no-cache">
<link href="[#path#]css/button_css.css" rel="stylesheet" type="text/css">
<link href="[#path#]css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/browse.css" type=text/css rel=stylesheet>
<LINK href="[#path#]css/css.css" rel="stylesheet" type="text/css">

</HEAD>
<SCRIPT language=javascript src="[#path#]js/editlib.js"></SCRIPT>
<SCRIPT language=javascript src="[#path#]js/calendar.js" type=text/javascript></SCRIPT>
<script language=javascript>
<!-- 
function InitAjax()
{
　var ajax=false; 
　try { 
　　ajax = new ActiveXObject("Msxml2.XMLHTTP"); 
　} catch (e) { 
　　try { 
　　　ajax = new ActiveXObject("Microsoft.XMLHTTP"); 
　　} catch (E) { 
　　　ajax = false; 
　　} 
　}
　if (!ajax && typeof XMLHttpRequest!='undefined') { 
　　ajax = new XMLHttpRequest(); 
　} 
　return ajax;
}
function promem(){
   var arrItems=new Array();
   var strItem ;
//   var addbutton = 1;
   var szRef = "../getdata/getaccounttitle.html";
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   
     arrItems = strItem.split("@@@");
     form1.accounttitle_id.value    = arrItems[0];     
     form1.accounttitle_name.value  = arrItems[1];
	  
}
function submit_openaccount(){
  if (confirm("是否进行统计？")) {
    form1.action.value = "balancesheet";
	url='?action=zongzhang&accounttitle_id='+form1.accounttitle_id.value+'&bgdate='+form1.bgdate.value+'&enddate='+form1.enddate.value+'&accounttitle_name='+encodeURI(form1.accounttitle_name.value);
    sending.style.display ="";
	sendingbg.style.display ="";
	tourl(url);
	 //form1.submit();
	}
}

function tourl(url)
{
	window.location.href=url;
}
// -->
</script>

<BODY>
  <form action="?action=zongzhang" method="post" name="form1">
     <input type="hidden" name="action" value="" >
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="50">
    <tr> 
      <td colspan="2" >&nbsp;&nbsp;<img src="[#path#]img/nowspace.jpg" align="absmiddle">总账</td>
    </tr>
	<tr>
	 <td height="10" align="left"><div style="margin:0px 0px 0px 12px;"><img src="[#path#]img/line.jpg" ></div></td>
	</tr>
</table>
<center>
<table width="700" class=InputFrameMain cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td height="13" colspan="2" align="center" class=inputtitle>总账</td>
          <td colspan="2" align="center" class=inputtitleright><b><font color="#ff0000" class="error">{error}</font></b></td>
        </tr>
        <tr>
          <td colspan="4" height="5" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
          <td height="19" colspan="3"  align="right"><span class="form_label"> </span></td>
          <td align="left">    <input type="hidden" name="monthlybatch_name" value="[#monthlybatch_name#]">      </td>
        </tr>      		
		<tr>
		  <td width="34" height="23"  align="right"  class = titlefont>&nbsp;</td>
		  <td width="61" align="left"  class = titlefont>选泽时间</td>
		  <td width="39" height="13" align="right">&nbsp;</td>
		  <td align="left">&nbsp;</td>
	    </tr>
		<tr>
		  <td height="5" colspan="4" valign="top"><img src="[#path#]img/shortline.jpg" ></td>
	    </tr>
		<tr>
		  <td height="19" colspan="3" align="right"  class="form_label">会计科目：</td>
		  <td><INPUT type="hidden" name="accounttitle_id" value="">
		    <input   style="FONT-SIZE: 12px" type="text" name="accounttitle_name" size="20" maxlength="20" value="" readonly="1">
		    <input class=buttonsmall style="FONT-SIZE: 9pt" onClick="javascript:promem()" type=button value="查找科目" name=save2 [#findcustomer#]>
&nbsp;&nbsp;</td>
	    </tr>
		<tr>
		  <td height="19" colspan="3" align="right"  class="form_label">开始日期：</td>
		   <td width="566"><input class=input_disabled type="text" name="bgdate" size="10"  value="[#bgdate#]"  onFocus="calendar(EventUtil.getEvent().target)"></td>
	    </tr>
		<tr>
          <td height="19" colspan="3" align="right" class="form_label">结束日期：</td>
          <td align="left"><input class=inputright type="text" name="enddate" size="10"  value="[#enddate#]" onFocus="calendar(EventUtil.getEvent().target)"></td>
        </tr>
		<tr>
		  <td  height="13" colspan="4" >&nbsp;</td>
	    <tr>
          <td  height="20" colspan="4" class=bottombotton><div align="center" >
            <input type=button name=save class=buttonsmall value="统  计" style="font-size:9pt" onClick="javascript:submit_openaccount()">
          </div></td>
    </table> 
  

  </form>
<div id="sending" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在统计，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingbg" STYLE="LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; display: none"> 
</div>
<DIV id=fadeinbox 
style="FILTER: progid:DXImageTransform.Microsoft.RandomDissolve(duration=1) progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); moz-opacity: 0">
<FIELDSET><LEGEND valign="top" align="center"><strong>提示</strong></LEGEND>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
<td height="10">
</td>
</tr>
<tr>
<td>
&nbsp;&nbsp; 
</td>
</tr>
<tr>
<td height="10">
</td>
</tr>
</table>
</FIELDSET>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
<td width="100%" align="right"><span title=" 关 闭 窗 口 " 
      onclick="hidefadebox();return false" ><IMG height=16 hspace=2 
      src="../Images/CrossRed_path.gif" 
      width=16 align=absMiddle border=0>Close
    </span></td>
</tr>
</table>
</DIV>
</BODY>
</HTML>
