<HTML>
<HEAD>
<TITLE>库存查询</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<META HTTP-EQUIV="zjw" CONTENT="no-cache">
<link href="{skin}button_css.css" rel="stylesheet" type="text/css">
<link href="{skin}page_title.css" rel="stylesheet" type="text/css">
<LINK href="{skin}browse.css" type=text/css rel=stylesheet>
<LINK href="../include/DatePicker.css" rel=stylesheet type=text/css>
<SCRIPT language=javascript src="../include/dateobject.js"></SCRIPT>
<SCRIPT language=javascript src="../include/datepicker.js"></SCRIPT>
<SCRIPT language=javascript src="../include/editlib.js"></SCRIPT>
</HEAD>
<script language=javascript>
<!-- 
function getpro(){
   var arrItems=new Array();
   var strItem ;
   var szRef = "../getdata/getpro.html" ;
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   arrItems = strItem.split("@@@");
   
   form1.proid.value = arrItems[0] ;  
   form1.prono.value = arrItems[1] ;   
   form1.proname.value = arrItems[2] ;    
}

function chaxun(){
  sending.style.display ="";
	sendingbg.style.display ="";
		form1.submit();
}
// -->
</script>
<BODY>
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="50">
    <tr> 
      <td colspan="2" >&nbsp;&nbsp;<img src="{skin}nowspace.jpg" align="absmiddle">调拨查询</td>
    </tr>
	<tr>
	 <td height="10" align="left"><div style="margin:0px 0px 0px 12px;"><img src="{skin}line.jpg" ></div></td>
	</tr>
</table>
<center>
  <form action="samepricemove_show.php" method="post" name="form1">
 
  <table width="700" class=InputFrameMain cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td align="left" colspan="4">
          <table cellspacing="0" cellpadding="0" border="0">
          <tr>
          <td align="center" class=inputtitle width="150">调拨查询</td>
          <td align="center" class=inputtitleright >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td align="center" ><font color="#FF0000" ><b>{error}</b></font></td>
          </tr>
          </table>
          </td>
        </tr>
        <tr>
          <td width="34" height="23"  align="left" class = titlefont >&nbsp;</td>
          <td height="13" colspan="2"  align="left" class = titlefont >按仓库</td>
          <td width="566" align="left">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4" height="5" align="left" valign="top"><img src="{skin}shortline.jpg" ></td>
        </tr>
        <tr>
          <td height="19" colspan="3"  align="right"><span class="form_label">仓库名称：</span></td>
          <td align="left">  	<select name="storageid">
			{storageid}
			</select>   </td>
        </tr>
		
 <tr>
          <td width="34" height="23"  align="left" class = titlefont >&nbsp;</td>
          <td height="13" colspan="2"  align="left" class = titlefont >按商品</td>
          <td width="566" align="left">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4" height="5" align="left" valign="top"><img src="{skin}shortline.jpg" ></td>
        </tr>
        <tr>
          <td height="19" colspan="3"  align="right"><span class="form_label">商品名称：</span></td>
          <td align="left">
          <input type=hidden name=proid value="">
         	<input type=hidden name=prono value="">
          	<input class=input_disabled maxlength=20 name=proname size="20" value="" readonly>
			<input type="button" name=query  onClick="javascript:getpro()" class=buttonsmall style="font-size:9pt" value="查找">    </td>
        </tr>		
		
		
<tr>
          <td width="34" height="23"  align="left" class = titlefont >&nbsp;</td>
          <td height="13" colspan="2"  align="left" class = titlefont >调拨类型</td>
          <td width="566" align="left">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4" height="5" align="left" valign="top"><img src="{skin}shortline.jpg" ></td>
        </tr>
        <tr>
          <td height="19" colspan="3"  align="right"><span class="form_label">调拨类型：</span></td>
          <td align="left">  	 
          	 		<input type="radio" name="spmstaus" value="0" checked >
          源仓库 
          <input type="radio" name="spmstaus" value="1" >
          目的仓库    </td>
        </tr>		
		

        		
		<tr>
		  <td height="23"  align="right"  class = titlefont>&nbsp;</td>
		  <td align="left"  class = titlefont>按时间</td>
		  <td height="13" align="right">&nbsp;</td>
		  <td align="left">&nbsp;</td>
	    </tr>
		<tr>
		  <td height="5" colspan="4" valign="top"><img src="{skin}shortline.jpg" ></td>
	    </tr>
		<tr>
		  <td height="19" colspan="3" align="right"  class="form_label">开始日期：</td>
		   
              <td width="566"> 
          <script language=javascript>
			var date=createDatePicker("begindate",{byear},{bmonth},{bday})
			</script>              </td>
	    </tr>
		<tr>
          <td height="19" colspan="3" align="right" class="form_label">结束日期：</td>
          <td align="left"><script language=javascript>
			var date=createDatePicker("enddate",{eyear},{emonth},{eday})
			</script></td>
        </tr>
		
		<tr>
		  <td  height="13" colspan="4" >&nbsp;</td>
	    <tr>
          <td  height="20" colspan="4" class=bottombotton><div align="center" >
            <input type=button name=save class=buttonsmall value="查   询" style="font-size:9pt" onClick="javascript:chaxun()">
          </div></td>
    </table> 
  </form>
 <div id="sending" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在处理数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingbg" STYLE="LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; display: none"> 
</div>
</center>
</BODY>
</HTML>
