<HTML><HEAD>
<TITLE> 帐户基本资料</TITLE>
<META HTTP-EQUIV="empiresoft" CONTENT="no-cache">
<link href="../common/css/button_css.css" rel="stylesheet" type="text/css">
<link href="../common/css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="../common/css/browse.css" type=text/css rel=stylesheet>
<SCRIPT language=javascript src="[#path#]js/calendar.js" type=text/javascript></SCRIPT>
<LINK href="../common/css/DatePicker.css" rel=stylesheet type=text/css>
<SCRIPT language=javascript src="../common/js/datepicker.js"></SCRIPT>
<SCRIPT language=javascript src="../common/js/editlib.js"></SCRIPT>
<SCRIPT language=javascript src="../common/js/dateobject.js"></SCRIPT>
<script type="text/javascript" src="../common/js/jquery-1.2.1.pack.js"></script>
<STYLE type=text/css>.sec1 {
	BACKGROUND-IMAGE: url(../skin/skin0/s2.jpg); CURSOR: hand
}
.sec2 {
	BACKGROUND-IMAGE: url(../skin/skin0/s1.jpg); CURSOR: hand
}
.main_tab {
	BORDER-RIGHT: #9f9e9e 1px solid; BORDER-LEFT: #9f9e9e 1px solid; BORDER-BOTTOM: #9f9e9e 1px solid; BACKGROUND-COLOR: #ffffff
}
</STYLE>
</HEAD>
<script language=javascript>
<!-- 
var m_iDatePickerCount=0;
var cl_dpMaxYear=9999;
var cl_dpMaxMonth=11;
var cl_dpMaxDay=31;
var cl_dpMinYear=1600;
var cl_dpMinMonth=0;
var cl_dpMinDay=1;
	function changeno(inputString) {
		if(inputString.length == 0) {
			// Hide the suggestion box.
			
			$('#suggestions').hide();
		} else {

			$.post("../ajax/uniqueness.php", {testname: ""+inputString+"",table: "s_employee",ziduan: "employee_no"}, function(data){
				if(data.length >0) {	
					$('#suggestions').show();
					$('#suggestions').html(data);
				}
			});
			
		}
	} // lookup

function createDatePicker(txtName,lYear,lMonth,lDay,flag)
{
	var dpID="dp_"+(m_iDatePickerCount++);
	var dt=dp_getValidDate(lYear,lMonth,lDay);
	if(dt==null)
		dt=new Date();
        if(flag==0)    //flag=0就日期就不可以修改,其它就可以修改
	{
           document.write("<span id="+dpID+">");
           document.write("<font class=DPYearDes>&nbsp;"+dt.getFullYear()+"</font>");
	   document.write("<font class=DPYearDes>&nbsp;年&nbsp;</font>");
	   document.write("<font class=DPMonthDes>"+(dt.getMonth()+1)+"</font>");
	   document.write("<font class=DPMonthDes>&nbsp;月&nbsp;</font>");
	   document.write("<font class=DPDayDes>"+dt.getDate()+"</font>");
	   document.write("<font class=DPDayDes>&nbsp;日</font>");
	   document.write("<span class=DPSep></span>");
        }else{          
	   document.write("<span class=DPFrame id="+dpID+">");
	   document.write("<input class=DPYear type=text value="+dt.getFullYear()+" size=4 maxlength=4 onfocus=\"return dp_focus('year');\" onblur=\"return dp_blur('year');\" onkeypress=\"return KeyFilter('number');\" onkeydown=\"return dp_keyDown('year');\">");
	   document.write("<font class=DPYearDes>年</font>");
	   document.write("<input class=DPMonth type=text value="+(dt.getMonth()+1)+" size=2 maxlength=2 onfocus=\"return dp_focus('month');\" onblur=\"return dp_blur('month');\" onkeypress=\"return KeyFilter('number');\" onkeydown=\"return dp_keyDown('month');\">");
	   document.write("<font class=DPMonthDes>月</font>");
	   document.write("<input class=DPDay type=text value="+dt.getDate()+" size=2 maxlength=2 onfocus=\"return dp_focus('day');\" onblur=\"return dp_blur('day');\" onkeypress=\"return KeyFilter('number');\" onkeydown=\"return dp_keyDown('day');\">");
	   document.write("<font class=DPDayDes>日</font>");
	   document.write("<span class=DPSep></span>");
	   document.write("<a class=DPDropBtn href=\"\" onclick=\"dp_DropClick();return false;\" title=\"选择日期\">▼</a>");
        }
	if(typeof(txtName)=="string" && txtName.length>0)
	{
		document.write("<input type=hidden value='"+dt.format("yyyy/mm/dd")+"' name="+txtName+">");
	}
	document.write("</span>");

	var dp=document.all(dpID);
	dp_initDatePicker(dp,dt);
										
	return dp;
}

function dp_getValidDate(lYear,lMonth,lDay)
{
	var dt=new Date();
	if(lYear==null || isNaN(parseInt(lYear,10)))
		lYear=dt.getFullYear();
	else
		lYear=parseInt(lYear,10);

	if(lMonth==null || isNaN(parseInt(lMonth,10)))
		lMonth=dt.getMonth();
	else
		lMonth=parseInt(lMonth,10)-1;

	if(lDay==null || isNaN(parseInt(lDay,10)))
		lDay=dt.getDate();
	else
		lDay=parseInt(lDay,10);
	
	dt=new Date(lYear,lMonth,lDay);
	var cdMax=new Date(cl_dpMaxYear,cl_dpMaxMonth,cl_dpMaxDay);
	var cdMin=new Date(cl_dpMinYear,cl_dpMinMonth,cl_dpMinDay);
	if(dt.compare(cdMax)>0 || dt.compare(cdMin)<0)
		dt=null;
	return dt;
}

function dp_initDatePicker(dp,dt)
{
	if(dp)
	{
		//Private Property
		dp.curDate=dt;
		dp.dpEnabled=true;
		dp.maxDay=cl_dpMaxDay;
		dp.maxMonth=cl_dpMaxMonth;
		dp.maxYear=cl_dpMaxYear;
		dp.minDay=cl_dpMinDay;
		dp.minMonth=cl_dpMinMonth;
		dp.minYear=cl_dpMinYear;
		dp.oldDate=dt.clone();

		//Private Method
		dp.getDropDownTable=dp_getDropDownTable;
		dp.getMonthName=dp_getMonthName;
		dp.hideDropDown=dp_hideDropDown;
		dp.initDropDown=dp_initDropDown;
		dp.onDateChange=dp_onDateChange;
		dp.refreshPostText=dp_refreshPostText;
		dp.showDropDown=dp_showDropDown;
		
		//Public Property
		//All Span Properties can be used;
		dp.offsetHor=0;
		
		//Public Method
		dp.setFocus=dp_setFocus;
		dp.format=dp_format;
		dp.getDateContent=dp_getDateContent;
		dp.getDay=dp_getDay;
		dp.getEnabled=dp_getEnabled;
		dp.getMonth=dp_getMonth;
		dp.getYear=dp_getYear;
		dp.refreshView=dp_refreshView;
		dp.setAccessKey=dp_setAccessKey;
		dp.setCurDate=dp_setCurDate;
		dp.setDateDes=dp_setDateDes;
		dp.setEnabled=dp_setEnabled;
		dp.setFormat=dp_setFormat;
		dp.setMaxDate=dp_setMaxDate;
		dp.setMinDate=dp_setMinDate;
		dp.setTabIndex=dp_setTabIndex;
		dp.setWeekName=dp_setWeekName;
		
		//Event
		dp.dateChanged=null;
		
		//Init View
		dp.refreshView();
	}
}

function dp_createDropDown()
{
	var ddt=getDropDownTable();
	if(ddt)
		return ddt;
	document.body.insertAdjacentHTML("BeforeEnd",
					"<TABLE id=dpDropDownTable CELLSPACING=0 "+
					"onclick=\"dp_ddt_click();\" "+
					"ondblclick=\"dp_ddt_dblclick();\">"+
					"<TR class=DPTitle>"+
					"<TD class=white_word><span onclick=\"dp_yearChange(-1);\" style=\"cursor:hand\" title=\"上一年\"><<</span>"+
					"&nbsp;<span  onclick=\"dp_monthChange(-1);\" style=\"cursor:hand\" title=\"上一月\"><</span></TD>"+
					"<TD align=center colspan=5 class=white_word></TD>"+
					"<TD class=white_word><span onclick=\"dp_monthChange(1);\" style=\"cursor:hand\" title=\"下一月\">></span>"+
					"&nbsp;<span onclick=\"dp_yearChange(1);\" style=\"cursor:hand\" title=\"下一年\">>></span></TD>"+
					"</TR>"+
					"<TR>"+
					"<TD class=DPWeekName>星期日</TD>"+
					"<TD class=DPWeekName>星期一</TD>"+
					"<TD class=DPWeekName>星期二</TD>"+
					"<TD class=DPWeekName>星期三</TD>"+
					"<TD class=DPWeekName>星期四</TD>"+
					"<TD class=DPWeekName>星期五</TD>"+
					"<TD class=DPWeekName>星期六</TD>"+
					"</TR>"+
					"<iframe src=\"javascript:false\" style=\"position:absolute;z-index:-1; width:250px ;height:140px\"></iframe></TABLE>");
	ddt=getDropDownTable();
	if(ddt)
	{
		var row=null;
		var cell=null;
		for(var i=2; i<8; i++)
		{
			row=ddt.insertRow(i);
			if(row)
			{
				for(var j=0; j<7; j++)
				{
					cell=row.insertCell(j);
//					if(cell)
//					{
//					}
				}
			}
		}
	}
	if(ddt.rows.length!=8)
		ddt=null;
	return ddt;
}

function dp_getYear()
{
	var dp=this;
	return dp.curDate.getFullYear();
}

function dp_getMonth()
{
	var dp=this;
	return dp.curDate.getMonth()+1;
}

function dp_getDay()
{
	var dp=this;
	return dp.curDate.getDate();
}

function dp_format(sFormat)
{
	var dp=this;
	return dp.curDate.format(sFormat);
}

function dp_setAccessKey(sKey)
{
	var dp=this;
	var src=dp.children[0];
	if(src && src.tagName=="INPUT")
	{
		src.accessKey=sKey;
	}
}

function dp_getEnabled()
{
	var dp=this;
	var val=false;
	
	if(dp.dpEnabled)
		val=true;
	else
		val=false;
	return val;
}

function dp_setEnabled(val)
{
	var dp=this;
	var hr=false;
	
	var src=dp.children[0];
	if(src && src.tagName=="INPUT")
	{
		src.disabled=!val;
		src=dp.children[2];
		if(src && src.tagName=="INPUT")
		{
			src.disabled=!val;
			src=dp.children[4];
			if(src && src.tagName=="INPUT")
			{
				src.disabled=!val;
				dp.dpEnabled=val;
				hr=true;
			}
		}
	}
	return hr;
}

function dp_setFocus()
{
	var dp=this;
	var src=dp.children[0];
	if(src && src.tagName=="INPUT" && !src.disabled)
	{
		src.focus();
	}
}

function dp_getDateContent()
{
	var dp=this;
	var con="";
	var sYearDes="";
	var sMonthDes="";
	var sDayDes="";
	var src=dp.children[1];
	
	if(src && src.tagName=="FONT")
	{
		sYearDes=src.innerText;
		src=dp.children[3];
		if(src && src.tagName=="FONT")
		{
			sMonthDes=src.innerText;
			src=dp.children[5];
			if(src && src.tagName=="FONT")
			{
				sDayDes=src.innerText;
				var dt=dp.curDate;
				con=dt.getFullYear()+sYearDes+(dt.getMonth()+1)+sMonthDes+dt.getDate()+sDayDes;
			}
		}
	}
	return con;
}

function dp_setFormat(sFormat)
{
	this.formatString=sFormat;
	this.refreshPostText();
}

function dp_refreshPostText()
{
	var dp=this;
	var sFormat="yyyy/mm/dd";
	
	if(typeof(dp.formatString)=="string")
		sFormat=dp.formatString;
	var txt=dp.children[8];
	if(txt && txt.tagName=="INPUT")
		txt.value=dp.format(sFormat);
}

function dp_initDropDown()
{
	var dp=this;
	var ddt=dp.getDropDownTable();
	if(ddt)
	{
		ddt.curCell=null;
		var cell=null;
		var dt=new Date(dp.curDate.getFullYear(),dp.curDate.getMonth(),1);
		cell=ddt.rows[0].cells[1];
		if(cell)
		{
			cell.innerText=dp.getMonthName(dt.getMonth())+" "+dt.getFullYear();
		}

		var wd=dt.getDay();
		dt=new Date(dt.getFullYear(),dt.getMonth(),1-wd);
		var day=dt.getDate();
		
		
		for(var i=2; i<8; i++)
		{
			for(var j=0; j<7; j++)
			{
				cell=ddt.rows[i].cells[j];
				if(cell)
				{
					if(dp.curDate.getMonth()!=dt.getMonth())
						cell.className="DPCellOther";
					else if(dp.curDate.getDate()!=dt.getDate())
						cell.className="DPCell";
					else
					{
						cell.className="DPCell";
						dp_onCell(cell);
					}
					cell.innerText=day;
					cell.year=dt.getFullYear();
					cell.month=dt.getMonth();
					dt.setDate(day+1);
					day=dt.getDate();
				}
			}
		}
	}
}

function dp_getMonthName(lMonth)
{
	var mnArr=new Array("一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月");
	return mnArr[lMonth];
}

function dp_setWeekName()
{
	var dp=this;
	var ddt=dp.getDropDownTable();
	if(ddt)
	{
		var cell=null;
		
		for(var j=0; j<7; j++)
		{
			cell=ddt.rows[1].cells[j];
			if(cell)
			{
				cell.innerText=arguments[j];
			}
		}
	}
}

function dp_showDropDown()
{
	var dp=this;
	var ddt=dp.getDropDownTable();

	if(ddt)
	{
		if(ddt.style.display=="block")
		{
			dp.hideDropDown();
		}
		else
		{
			dp.initDropDown();
			if(ddt.clientWidth==0)
			{
				ddt.style.pixelLeft=-500;
				ddt.style.pixelTop=-500;
				ddt.style.display="block";
			}

			var ddtWidth=ddt.clientWidth==0?266:ddt.clientWidth;
			var ddtHeight=ddt.clientHeight==0?133:ddt.clientHeight;

			var lLeft=getOffsetLeft(dp);
			var lTop=getOffsetTop(dp)+dp.offsetHeight;	
			if((lTop+ddtHeight)>(document.body.clientHeight+document.body.scrollTop))
			{
				lTop-=(ddtHeight+dp.offsetHeight+2);
			}

			if((lLeft+ddtWidth)>(document.body.clientWidth+document.body.scrollLeft))
			{
				lLeft=document.body.clientWidth+document.body.scrollLeft-ddtWidth-2;
			}

			var off=parseInt(dp.offsetHor,10);
			if(isNaN(off))
				off=0;
			ddt.style.pixelLeft=lLeft+off;
			ddt.style.pixelTop=lTop;
			ddt.dpOldDocClick=document.onclick;
			ddt.dpOldDocKeyDown=document.onkeydown;

			event.cancelBubble=true;
			event.returnValue=false;
			document.onclick=dp_sub_docClick;
			document.onkeydown=dp_sub_dockeydown;

			ddt.style.display="block";
		}
	}
}

function getDropDownTable()
{
	var ddt=document.all("dpDropDownTable");
	if(!(ddt && ddt.tagName=="TABLE"))
		ddt=null;
	return ddt;
}

function dp_hideDropDown()
{
	var ddt=getDropDownTable();
	if(ddt)
	{
		ddt.style.display="none";
		document.onclick=ddt.dpOldDocClick;
		document.onkeydown=ddt.dpOldDocKeyDown;
	}
}

function dp_getDropDownTable()
{
	var dp=this;
	dp.dropDownTable=dp_createDropDown();

	if(dp.dropDownTable && dp.dropDownTable.tagName=="TABLE")
	{
		dp.dropDownTable.dp=dp;
		return dp.dropDownTable;
	}
	else
		return null;
}

function dp_onDateChange()
{
	var dp=this;
	if(dp.curDate.compare(dp.oldDate)!=0)
	{
		dp.oldDate=dp.curDate.clone();
		dp.refreshView();
		dp.refreshPostText();
		if(typeof(dp.dateChanged)=="function")
			dp.dateChanged(dp.curDate.getFullYear(),dp.curDate.getMonth()+1,dp.curDate.getDate());
	}
}

function dp_refreshView()
{
	var dp=this;
	var hr=false;
	
	if(dp && dp.curDate)
	{
		var src=dp.children[0];
		if(src && src.tagName=="INPUT")
		{
			src.value=dp.curDate.getFullYear();
			src=dp.children[2];
			if(src && src.tagName=="INPUT")
			{
				src.value=dp.curDate.getMonth()+1;
				src=dp.children[4];
				if(src && src.tagName=="INPUT")
				{
					src.value=dp.curDate.getDate();
					hr=true;
				}
			}
		}
	}
	return hr;
}

function dp_setTabIndex(lTabIndex)
{
	var dp=this;
	var hr=false;
	
	if(dp)
	{
		var src=dp.children[0];
		if(src && src.tagName=="INPUT")
		{
			src.tabIndex=lTabIndex;
			src=dp.children[2];
			if(src && src.tagName=="INPUT")
			{
				src.tabIndex=lTabIndex;
				src=dp.children[4];
				if(src && src.tagName=="INPUT")
				{
					src.tabIndex=lTabIndex;
					src=dp.children[7];
					if(src && src.tagName=="A")
					{
						src.tabIndex=lTabIndex;
						hr=true;
					}
				}
			}
		}
	}
	return hr;
}

function dp_setDateDes(sYearDes,sMonthDes,sDayDes)
{
	if(sYearDes==null)
		sYearDes="-";
	if(sMonthDes==null)
		sMonthDes="-";
	if(sDayDes==null)
		sDayDes="";
	
	var dp=this;
	var hr=false;
	
	var src=dp.children[1];
	if(src && src.tagName=="FONT")
	{
		src.innerText=sYearDes;
		src=dp.children[3];
		if(src && src.tagName=="FONT")
		{
			src.innerText=sMonthDes;
			src=dp.children[5];
			if(src && src.tagName=="FONT")
			{
				src.innerText=sDayDes;
				hr=true;
			}
		}
	}
	return hr;
}

function dp_setMaxDate(lYear,lMonth,lDay)
{
	var dp=this;
	var hr=false;
	
	if(dp)
	{
		lYear=parseInt(lYear,10);
		lMonth=parseInt(lMonth,10);
		lDay=parseInt(lDay,10);
		
		if(!(isNaN(lYear) || isNaN(lMonth) || isNaN(lDay)))
		{
			lMonth--;
			var dt=new Date(lYear,lMonth,lDay);
			var dMin=new Date(dp.minYear,dp.minMonth,dp.minDay);
			var cdMax=new Date(cl_dpMaxYear,cl_dpMaxMonth,cl_dpMaxDay);
			
			if(dt.compare(cdMax)<=0 && dt.compare(dMin)>=0)
			{
				dp.maxYear=dt.getFullYear();
				dp.maxMonth=dt.getMonth();
				dp.maxDay=dt.getDate();
				hr=true;
			}
		}
	}
	return hr;
}

function dp_setMinDate(lYear,lMonth,lDay)
{
	var dp=this;
	var hr=false;
	
	if(dp)
	{
		lYear=parseInt(lYear,10);
		lMonth=parseInt(lMonth,10);
		lDay=parseInt(lDay,10);
		
		if(!(isNaN(lYear) || isNaN(lMonth) || isNaN(lDay)))
		{
			lMonth--;
			var dt=new Date(lYear,lMonth,lDay);
			var dMax=new Date(dp.maxYear,dp.maxMonth,dp.maxDay);
			var cdMin=new Date(cl_dpMinYear,cl_dpMinMonth,cl_dpMinDay);
			
			if(dt.compare(dMax)<=0 && dt.compare(cdMin)>=0)
			{
				dp.minYear=dt.getFullYear();
				dp.minMonth=dt.getMonth();
				dp.minDay=dt.getDate();
				hr=true;
			}
		}
	}
	return hr;
}

function dp_setCurDate(lYear,lMonth,lDay)
{
	var dp=this;
	var hr=false;

	lYear=parseInt(lYear,10);
	lMonth=parseInt(lMonth,10);
	lDay=parseInt(lDay,10);
	
	if(!(isNaN(lYear) || isNaN(lMonth) || isNaN(lDay)))
	{
		var dt=new Date(lYear,lMonth-1,lDay);
		var dMax=new Date(dp.maxYear,dp.maxMonth,dp.maxDay);
		var dMin=new Date(dp.minYear,dp.minMonth,dp.minDay);
		if(dt.compare(dMax)<=0 && dt.compare(dMin)>=0)
		{
			dp.curDate=dt;
			dp.onDateChange();
			hr=true;
		}
	}
	
	if(!hr)
		dp.refreshView();
	return hr;
}

function dp_DropClick()
{
	var src=event.srcElement;
	var dp=getParentFromSrc(src,"SPAN")
	if(dp && dp.className=="DPFrame" && dp.dpEnabled)
	{
		dp.showDropDown();
	}
}

function dp_focus(srcType)
{
	var src=event.srcElement;
	if(src && src.tagName=="INPUT")
	{
		switch(srcType)
		{
			case 'year':
				break;
			case 'month':
				break;
			case 'day':
				break;
			default:;
		}
		src.select();
	}
	return true;
}

function dp_blur(srcType)
{
	var src=event.srcElement;
	var dp=getParentFromSrc(src,"SPAN")
	if(src && src.tagName=="INPUT" && dp && dp.className=="DPFrame")
	{
		var lYear=dp.curDate.getFullYear();
		var lMonth=dp.curDate.getMonth()+1;
		var lDay=dp.curDate.getDate();
		
		var val=parseInt(src.value,10);
		if(isNaN(val))
			val=-1;
		switch(srcType)
		{
			case 'year':
				lYear=val==-1?lYear:val;
				break;
			case 'month':
				lMonth=val==-1?lMonth:val;
				break;
			case 'day':
				lDay=val==-1?lDay:val;
				break;
			default:;
		}
		dp.setCurDate(lYear,lMonth,lDay);
		if(val==-1)
			dp.refreshView();
	}
	return true;
}

function dp_keyDown(srcType)
{
	var src=event.srcElement;
	var dp=getParentFromSrc(src,"SPAN")
	var bRefresh=true;
	
	if(dp && dp.className=="DPFrame")
	{
		var lYear=dp.curDate.getFullYear();
		var lMonth=dp.curDate.getMonth();
		var lDay=dp.curDate.getDate();
		var lStep=0;
		
		switch(event.keyCode)
		{
			case 38:
				lStep=1;
				break;
			case 40:
				lStep=-1;
				break;
			case 13:
				event.keyCode=9;
				break;
			default:
				bRefresh=false;
		}

		switch(srcType)
		{
			case 'year':
				lYear+=lStep;
				break;
			case 'month':
				lMonth+=lStep;
				break;
			case 'day':
				lDay+=lStep;
				break;
			default:;
		}
		if(bRefresh)
			dp.setCurDate(lYear,lMonth+1,lDay);
	}
	return true;
}

function dp_monthChange(lStep)
{
	var src=event.srcElement;
	if(src)
	{
		var ddt=getDropDownTable();
		if(ddt && ddt.dp)
		{
			var dt=ddt.dp.curDate.clone();
			var lOldMonth=dt.getMonth();
			var lOldDay=dt.getDate();
				
			dt.setDate(1);
			dt.setMonth(lOldMonth+lStep+1);
			dt.setDate(0);
			if(dt.getDate()>lOldDay)
				dt.setDate(lOldDay);
			if(ddt.dp.setCurDate(dt.getFullYear(),dt.getMonth()+1,dt.getDate()))
				ddt.dp.initDropDown();
		}
	}
}

function dp_yearChange(lStep)
{
	var src=event.srcElement;
	if(src)
	{
		var ddt=getDropDownTable();
		if(ddt && ddt.dp)
		{
			var dt=ddt.dp.curDate.clone();
			var lOldYear=dt.getYear();
			var lOldMonth=dt.getMonth();
			
			if(lOldYear == "99"){lOldYear = 1999;}
			dt.setYear(lOldYear+lStep);
			dt.setMonth(lOldMonth)	;		
			if(ddt.dp.setCurDate(dt.getFullYear(),dt.getMonth()+1,dt.getDate()))
				ddt.dp.initDropDown();
		}
	}
}

function dp_ddt_click()
{
	var src=event.srcElement;
	if(src && src.tagName=="TD")
	{
		var ddt=getDropDownTable();
		if(ddt && ddt.dp)
		{
			var lOldMonth=ddt.dp.curDate.getMonth();
			if(ddt.dp.setCurDate(src.year,parseInt(src.month,10)+1,parseInt(src.innerText,10)))
			{
				if(src.month!=lOldMonth)
					ddt.dp.initDropDown();
				else
					dp_onCell(src);
			}
		}
	}
}

function dp_onCell(src)
{
	var row=src.parentElement;
	if(row && row.tagName=="TR" && row.rowIndex>1)
	{
		var ddt=getDropDownTable();
		if(ddt)
		{
			if(ddt.curCell)
				ddt.curCell.className=ddt.curCellOldClass;
			ddt.curCellOldClass=src.className;
			src.className="DPCellSelect";
			ddt.curCell=src;
		}
	}
}

function dp_ddt_dblclick()
{
	var src=event.srcElement;
	if(src && src.tagName=="TD")
	{
		var ddt=getDropDownTable();
		if(ddt && ddt.dp)
		{
			var lOldMonth=ddt.dp.curDate.getMonth();
			if(ddt.dp.setCurDate(src.year,parseInt(src.month,10)+1,parseInt(src.innerText,10)))
			{
				ddt.dp.hideDropDown();
			}
		}
	}
}

function dp_sub_docClick()
{
	var src=event.srcElement;
	var ddt=getParentFromSrc(src,"TABLE");
	if(!ddt || ddt.id!="dpDropDownTable")
	{
		dp_hideDropDown();
	}
	event.cancelBubble=true;
	event.returnValue=false;

	return false;

}

function dp_sub_dockeydown()
{
	dp_hideDropDown();
	return true;
}

function initcity(slcity) {
	province = document.creator ? document.creator["province"].value : document.getElementById('province').value;
    switch (province) {
        case "安徽" :
            var cityOptions = new Array(
            "合肥(*)", "合肥",
            "安庆", "安庆",
            "蚌埠", "蚌埠",
            "亳州", "亳州",
            "巢湖", "巢湖",
            "滁州", "滁州",
            "阜阳", "阜阳",
            "贵池", "贵池",
            "淮北", "淮北",
            "淮化", "淮化",
            "淮南", "淮南",
            "黄山", "黄山",
            "九华山", "九华山",
            "六安", "六安",
            "马鞍山", "马鞍山",
            "宿州", "宿州",
            "铜陵", "铜陵",
            "屯溪", "屯溪",
            "芜湖", "芜湖",
            "宣城", "宣城");
             break;
        case "北京" :
            var cityOptions = new Array(
            "东城", "东城",
            "西城", "西城",
            "崇文", "崇文",
            "宣武", "宣武",
            "朝阳", "朝阳",
            "丰台", "丰台",
            "石景山", "石景山",
            "海淀", "海淀",
            "门头沟", "门头沟",
            "房山", "房山",
            "通州", "通州",
            "顺义", "顺义",
            "昌平", "昌平",
            "大兴", "大兴",
            "平谷", "平谷",
            "怀柔", "怀柔",
            "密云", "密云",
            "延庆", "延庆");
            break;
        case "重庆" :
            var cityOptions = new Array(
            "万州", "万州",
            "涪陵", "涪陵",
            "渝中", "渝中",
            "大渡口", "大渡口",
            "江北", "江北",
            "沙坪坝", "沙坪坝",
            "九龙坡","九龙坡",
            "南岸", "南岸",
            "北碚", "北碚",
            "万盛", "万盛",
            "双挢", "双挢",
            "渝北", "渝北",
            "巴南", "巴南",
            "黔江", "黔江",
            "长寿", "长寿",
            "綦江", "綦江",
            "潼南", "潼南",
            "铜梁", "铜梁",
            "大足", "大足",
            "荣昌", "荣昌",
            "壁山", "壁山",
            "梁平", "梁平",
            "城口", "城口",
            "丰都", "丰都",
            "垫江", "垫江",
            "武隆", "武隆",
            "忠县", "忠县",
            "开县", "开县",
            "云阳", "云阳",
            "奉节", "奉节",
            "巫山", "巫山",
            "巫溪", "巫溪",
            "石柱", "石柱",
            "秀山", "秀山",
            "酉阳", "酉阳",
            "彭水", "彭水",
            "江津", "江津",
            "合川", "合川",
            "永川", "永川",
            "南川", "南川");
            break;
        case "福建" :
            var cityOptions = new Array(
            "福州(*)", "福州",
            "福安", "福安",
            "龙岩", "龙岩",
            "南平", "南平",
            "宁德", "宁德",
            "莆田", "莆田",
            "泉州", "泉州",
            "三明", "三明",
            "邵武", "邵武",
            "石狮", "石狮",
            "永安", "永安",
            "武夷山", "武夷山",
            "厦门", "厦门",
            "漳州", "漳州");
             break;
        case "甘肃" :
            var cityOptions = new Array(
            "兰州(*)", "兰州",
            "白银", "白银",
            "定西", "定西",
            "敦煌", "敦煌",
            "甘南", "甘南",
            "金昌", "金昌",
            "酒泉", "酒泉",
            "临夏", "临夏",
            "平凉", "平凉",
            "天水", "天水",
            "武都", "武都",
            "武威", "武威",
            "西峰", "西峰",
            "张掖", "张掖");
            break;
        case "广东" :
            var cityOptions = new Array(
            "广州(*)", "广州",
            "潮阳", "潮阳",
            "潮州", "潮州",
            "澄海", "澄海",
            "东莞", "东莞",
            "佛山", "佛山",
            "河源", "河源",
            "惠州", "惠州",
            "江门", "江门",
            "揭阳", "揭阳",
            "开平", "开平",
            "茂名", "茂名",
            "梅州", "梅州",
            "清远", "清远",
            "汕头", "汕头",
            "汕尾", "汕尾",
            "韶关", "韶关",
            "深圳", "深圳",
            "顺德", "顺德",
            "阳江", "阳江",
            "英德", "英德",
            "云浮", "云浮",
            "增城", "增城",
            "湛江", "湛江",
            "肇庆", "肇庆",
            "中山", "中山",
            "珠海", "珠海");
            break;
        case "广西" :
            var cityOptions = new Array(
            "南宁(*)", "南宁",
            "百色", "百色",
            "北海", "北海",
            "桂林", "桂林",
            "防城港", "防城港",
            "河池", "河池",
            "贺州", "贺州",
            "柳州", "柳州",
            "钦州", "钦州",
            "梧州", "梧州",
            "玉林", "玉林");
            break;
        case "贵州" :
            var cityOptions = new Array(
            "贵阳(*)", "贵阳",
            "安顺", "安顺",
            "毕节", "毕节",
            "都匀", "都匀",
            "凯里", "凯里",
            "六盘水", "六盘水",
            "铜仁", "铜仁",
            "兴义", "兴义",
            "玉屏", "玉屏",
            "遵义", "遵义");
            break;
        case "海南" :
            var cityOptions = new Array(
            "海口(*)", "海口",
            "儋县", "儋县",
            "陵水", "陵水",
            "琼海", "琼海",
            "三亚", "三亚",
            "通什", "通什",
            "万宁", "万宁");
            break;
        case "河北" :
            var cityOptions = new Array(
            "石家庄(*)", "石家庄",
            "保定", "保定",
            "北戴河", "北戴河",
            "沧州", "沧州",
            "承德", "承德",
            "丰润", "丰润",
            "邯郸", "邯郸",
            "衡水", "衡水",
            "廊坊", "廊坊",
            "南戴河", "南戴河",
            "秦皇岛", "秦皇岛",
            "唐山", "唐山",
            "新城", "新城",
            "邢台", "邢台",
            "张家口", "张家口");
            break;
        case "黑龙江" :
            var cityOptions = new Array(
            "哈尔滨(*)", "哈尔滨",
            "北安", "北安",
            "大庆", "大庆",
            "大兴安岭", "大兴安岭",
            "鹤岗", "鹤岗",
            "黑河", "黑河",
            "佳木斯", "佳木斯",
            "鸡西", "鸡西",
            "牡丹江", "牡丹江",
            "齐齐哈尔", "齐齐哈尔",
            "七台河", "七台河",
            "双鸭山", "双鸭山",
            "绥化", "绥化",
            "伊春", "伊春");
            break;
        case "河南" :
            var cityOptions = new Array(
            "郑州(*)", "郑州",
            "安阳", "安阳",
            "鹤壁", "鹤壁",
            "潢川", "潢川",
            "焦作", "焦作",
            "济源", "济源",
            "开封", "开封",
            "漯河", "漯河",
            "洛阳", "洛阳",
            "南阳", "南阳",
            "平顶山", "平顶山",
            "濮阳", "濮阳",
            "三门峡", "三门峡",
            "商丘", "商丘",
            "新乡", "新乡",
            "信阳", "信阳",
            "许昌", "许昌",
            "周口", "周口",
            "驻马店", "驻马店");
            break;
        case "香港" :
            var cityOptions = new Array(
            "香港", "香港",
            "九龙", "九龙",
            "新界", "新界");
            break;
        case "湖北" :
            var cityOptions = new Array(
            "武汉(*)", "武汉",
            "恩施", "恩施",
            "鄂州", "鄂州",
            "黄冈", "黄冈",
            "黄石", "黄石",
            "荆门", "荆门",
            "荆州", "荆州",
            "潜江", "潜江",
            "十堰", "十堰",
            "随州", "随州",
            "武穴", "武穴",
            "仙桃", "仙桃",
            "咸宁", "咸宁",
            "襄阳", "襄阳",
            "襄樊", "襄樊",
            "孝感", "孝感",
            "宜昌", "宜昌");
            break;
        case "湖南" :
            var cityOptions = new Array(
            "长沙(*)", "长沙",
            "常德", "常德",
            "郴州", "郴州",
            "衡阳", "衡阳",
            "怀化", "怀化",
            "吉首", "吉首",
            "娄底", "娄底",
            "邵阳", "邵阳",
            "湘潭", "湘潭",
            "益阳", "益阳",
            "岳阳", "岳阳",
            "永州", "永州",
            "张家界", "张家界",
            "株洲", "株洲");
            break;
        case "江苏" :
            var cityOptions = new Array(
            "南京(*)", "南京",
            "常熟", "常熟",
            "常州", "常州",
            "海门", "海门",
            "淮安", "淮安",
            "江都", "江都",
            "江阴", "江阴",
            "昆山", "昆山",
            "连云港", "连云港",
            "南通", "南通",
            "启东", "启东",
            "沭阳", "沭阳",
            "宿迁", "宿迁",
            "苏州", "苏州",
            "太仓", "太仓",
            "泰州", "泰州",
            "同里", "同里",
            "无锡", "无锡",
            "徐州", "徐州",
            "盐城", "盐城",
            "扬州", "扬州",
            "宜兴", "宜兴",
            "仪征", "仪征",
            "张家港", "张家港",
            "镇江", "镇江",
            "周庄", "周庄");
            break;
        case "江西" :
            var cityOptions = new Array(
            "南昌(*)", "南昌",
            "抚州", "抚州",
            "赣州", "赣州",
            "吉安", "吉安",
            "景德镇", "景德镇",
            "井冈山", "井冈山",
            "九江", "九江",
            "庐山", "庐山",
            "萍乡", "萍乡",
            "上饶", "上饶",
            "新余", "新余",
            "宜春", "宜春",
            "鹰潭", "鹰潭");
            break;
        case "吉林" :
            var cityOptions = new Array(
            "长春(*)", "长春",
            "白城", "白城",
            "白山", "白山",
            "珲春", "珲春",
            "辽源", "辽源",
            "梅河", "梅河",
            "吉林", "吉林",
            "四平", "四平",
            "松原", "松原",
            "通化", "通化",
            "延吉", "延吉");
            break;
        case "辽宁" :
            var cityOptions = new Array(
            "沈阳(*)", "沈阳",
            "鞍山", "鞍山",
            "本溪", "本溪",
            "朝阳", "朝阳",
            "大连", "大连",
            "丹东", "丹东",
            "抚顺", "抚顺",
            "阜新", "阜新",
            "葫芦岛", "葫芦岛",
            "锦州", "锦州",
            "辽阳", "辽阳",
            "盘锦", "盘锦",
            "铁岭", "铁岭",
            "营口", "营口");
            break;
        case "澳门" :
            var cityOptions = new Array(
            "澳门", "澳门");
            break;
        case "内蒙古" :
            var cityOptions = new Array(
            "呼和浩特(*)", "呼和浩特",
            "阿拉善盟", "阿拉善盟",
            "包头", "包头",
            "赤峰", "赤峰",
            "东胜", "东胜",
            "海拉尔", "海拉尔",
            "集宁", "集宁",
            "临河", "临河",
            "通辽", "通辽",
            "乌海", "乌海",
            "乌兰浩特", "乌兰浩特",
            "锡林浩特", "锡林浩特");
            break;
        case "宁夏" :
            var cityOptions = new Array(
            "银川(*)", "银川",
            "固源", "固源",
            "石嘴山", "石嘴山",
            "吴忠", "吴忠");
            break;
        case "青海" :
            var cityOptions = new Array(
            "西宁(*)", "西宁",
            "德令哈", "德令哈",
            "格尔木", "格尔木",
            "共和", "共和",
            "海东", "海东",
            "海晏", "海晏",
            "玛沁", "玛沁",
            "同仁", "同仁",
            "玉树", "玉树");
            break;
        case "山东" :
            var cityOptions = new Array(
            "济南(*)", "济南",
            "滨州", "滨州",
            "兖州", "兖州",
            "德州", "德州",
            "东营", "东营",
            "菏泽", "菏泽",
            "济宁", "济宁",
            "莱芜", "莱芜",
            "聊城", "聊城",
            "临沂", "临沂",
            "蓬莱", "蓬莱",
            "青岛", "青岛",
            "曲阜", "曲阜",
            "日照", "日照",
            "泰安", "泰安",
            "潍坊", "潍坊",
            "威海", "威海",
            "烟台", "烟台",
            "枣庄", "枣庄",
            "淄博", "淄博");
            break;
        case "上海" :
            var cityOptions = new Array(
            "崇明", "崇明",
            "黄浦", "黄浦",
            "卢湾", "卢湾",
            "徐汇", "徐汇",
            "长宁", "长宁",
            "静安", "静安",
            "普陀", "普陀",
            "闸北", "闸北",
            "虹口", "虹口",
            "杨浦", "杨浦",
            "闵行", "闵行",
            "宝山", "宝山",
            "嘉定", "嘉定",
            "浦东", "浦东",
            "金山", "金山",
            "松江", "松江",
            "青浦", "青浦",
            "南汇", "南汇",
            "奉贤", "奉贤");
            break;
        case "山西" :
            var cityOptions = new Array(
            "太原(*)", "太原",
            "长治", "长治",
            "大同", "大同",
            "候马", "候马",
            "晋城", "晋城",
            "离石", "离石",
            "临汾", "临汾",
            "宁武", "宁武",
            "朔州", "朔州",
            "忻州", "忻州",
            "阳泉", "阳泉",
            "榆次", "榆次",
            "运城", "运城");
            break;
        case "陕西" :
            var cityOptions = new Array(
            "西安(*)", "西安",
            "安康", "安康",
            "宝鸡", "宝鸡",
            "汉中", "汉中",
            "渭南", "渭南",
            "商州", "商州",
            "绥德", "绥德",
            "铜川", "铜川",
            "咸阳", "咸阳",
            "延安", "延安",
            "榆林", "榆林");
            break;
        case "四川" :
            var cityOptions = new Array(
            "成都(*)", "成都",
            "巴中", "巴中",
            "达川", "达川",
            "德阳", "德阳",
            "都江堰", "都江堰",
            "峨眉山", "峨眉山",
            "涪陵", "涪陵",
            "广安", "广安",
            "广元", "广元",
            "九寨沟", "九寨沟",
            "康定", "康定",
            "乐山", "乐山",
            "泸州", "泸州",
            "马尔康", "马尔康",
            "绵阳", "绵阳",
            "眉山", "眉山",
            "南充", "南充",
            "内江", "内江",
            "攀枝花", "攀枝花",
            "遂宁", "遂宁",
            "汶川", "汶川",
            "西昌", "西昌",
            "雅安", "雅安",
            "宜宾", "宜宾",
            "自贡", "自贡",
            "资阳", "资阳");
            break;
        case "台湾" :
            var cityOptions = new Array(
            "台北(*)", "台北",
            "基隆", "基隆",
            "台南", "台南",
            "台中", "台中",
            "高雄", "高雄",
            "屏东", "屏东",
            "南投", "南投",
            "云林", "云林",
            "新竹", "新竹",
            "彰化", "彰化",
            "苗栗", "苗栗",
            "嘉义", "嘉义",
            "花莲", "花莲",
            "桃园", "桃园",
            "宜兰", "宜兰",
            "台东", "台东",
            "金门", "金门",
            "马祖", "马祖",
            "澎湖", "澎湖");
            break;
        case "天津" :
            var cityOptions = new Array(
            "天津", "天津",
            "和平", "和平",
            "东丽", "东丽",
            "河东", "河东",
            "西青", "西青",
            "河西", "河西",
            "津南", "津南",
            "南开", "南开",
            "北辰", "北辰",
            "河北", "河北",
            "武清", "武清",
            "红挢", "红挢",
            "塘沽", "塘沽",
            "汉沽", "汉沽",
            "大港", "大港",
            "宁河", "宁河",
            "静海", "静海",
            "宝坻", "宝坻",
            "蓟县", "蓟县" );
            break;
        case "新疆" :
            var cityOptions = new Array(
            "乌鲁木齐(*)", "乌鲁木齐",
            "阿克苏", "阿克苏",
            "阿勒泰", "阿勒泰",
            "阿图什", "阿图什",
            "博乐", "博乐",
            "昌吉", "昌吉",
            "东山", "东山",
            "哈密", "哈密",
            "和田", "和田",
            "喀什", "喀什",
            "克拉玛依", "克拉玛依",
            "库车", "库车",
            "库尔勒", "库尔勒",
            "奎屯", "奎屯",
            "石河子", "石河子",
            "塔城", "塔城",
            "吐鲁番", "吐鲁番",
            "伊宁", "伊宁");
            break;
        case "西藏" :
            var cityOptions = new Array(
            "拉萨(*)", "拉萨",
            "阿里", "阿里",
            "昌都", "昌都",
            "林芝", "林芝",
            "那曲", "那曲",
            "日喀则", "日喀则",
            "山南", "山南");
            break;
        case "云南" :
            var cityOptions = new Array(
            "昆明(*)", "昆明",
            "大理", "大理",
            "保山", "保山",
            "楚雄", "楚雄",
            "大理", "大理",
            "东川", "东川",
            "个旧", "个旧",
            "景洪", "景洪",
            "开远", "开远",
            "临沧", "临沧",
            "丽江", "丽江",
            "六库", "六库",
            "潞西", "潞西",
            "曲靖", "曲靖",
            "思茅", "思茅",
            "文山", "文山",
            "西双版纳", "西双版纳",
            "玉溪", "玉溪",
            "中甸", "中甸",
            "昭通", "昭通");
            break;
        case "浙江" :
            var cityOptions = new Array(
            "杭州(*)", "杭州",
            "安吉", "安吉",
            "慈溪", "慈溪",
            "定海", "定海",
            "奉化", "奉化",
            "海盐", "海盐",
            "黄岩", "黄岩",
            "湖州", "湖州",
            "嘉兴", "嘉兴",
            "金华", "金华",
            "临安", "临安",
            "临海", "临海",
            "丽水", "丽水",
            "宁波", "宁波",
            "瓯海", "瓯海",
            "平湖", "平湖",
            "千岛湖", "千岛湖",
            "衢州", "衢州",
            "江山", "江山",
            "瑞安", "瑞安",
            "绍兴", "绍兴",
            "嵊州", "嵊州",
            "台州", "台州",
            "温岭", "温岭",
            "温州", "温州",
			"余姚", "余姚",
			"舟山", "舟山");
            break;
        case "海外" :
            var cityOptions = new Array(
            "欧洲", "欧洲",
            "北美", "北美",
            "南美", "南美",
            "亚洲", "亚洲",
            "非洲", "非洲",
            "大洋洲", "大洋洲");
            break;
        default:
            var cityOptions = new Array("选择城市", "");
            break;
    }
	city = document.creator ? document.creator["city"] : document.getElementById('city');
	city.options.length = 0;    
	for(var i = 0; i < cityOptions.length/2; i++) {
	    city.options[i]=new Option(cityOptions[i*2],cityOptions[i*2+1]);
	    if (city.options[i].value==slcity){
	    	city.selectedIndex = i;
	    }
	}
}
function creatprovince(province){
	var provinces = new Array(
		"北京", "上海", "重庆", "安徽", "福建", "甘肃", "广东", "广西", "贵州", "海南", "河北", "黑龙江", "河南",
		"香港", "湖北", "湖南", "江苏", "江西", "吉林", "辽宁", "澳门", "内蒙古", "宁夏", "青海", "山东",
		"山西", "陕西", "四川", "台湾", "天津", "新疆", "西藏", "云南", "浙江", "海外"
	);
	pro = document.creator ? document.creator["province"] : document.getElementById('province');
	pro.options[0]=new Option("选择省份","");
	for(var i = 0; i < provinces.length; i++) {
	    pro.options[i+1]=new Option(provinces[i],provinces[i]);
		 if (pro.options[i+1].value==province){
	    	pro.selectedIndex = i+1;
	    }
	}
}
function input_focus(){
var gg = 1;
if (gg == 1){
form1.no.focus();
 }
}

var requestSubmitted = false;

function submit_save(){

	 if(form1.employee_no.value==""){
	 	  alert("请填位名称");
	 	  form1.employee_no.focus();
	 	  return;
	 }
	 	 if(form1.employee_name.value==""){
	 	  alert("请填写编号");
	 	  form1.employee_name.focus();
	 	  return;
	 }

	 	 	 	 
	  if(requestSubmitted == true){
    alert("你已经提交，请等待一下");
    return (false);
   } 
   requestSubmitted = true;  
	 sending.style.display ="";
	// sendingbg.style.display ="";parent.parent.frames[0].form1.loadingok.value  = "1";parent.parent.frames[1].loadingbg.style.height = //parent.parent.frames[1].document.body.scrollHeight;parent.parent.frames[1].loadingbg.style.display =""; 
   form1.submit();
}

function upmorefile(){
   var arrItems=new Array();
   var strItem ;
   var url;
   var szRef = "../basic/upmorefile_cstpic.php" ;
   strItem=window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=500px;dialogHeight=200px;scroll=yes;");
   if(strItem!="flage"){
     form1.picpath.value=strItem;
	 var show = document.getElementById("showpic"); 

	 if(typeof(strItem) == 'undefined'){
	   show.innerHTML = "暂时没有照片";
	 }else{ 
　　   show.innerHTML = "<img src="+strItem+" width=120 height=150 />"; 
     //getpicpath(strItem);
     }
   }
   
}
function submit_del(){
    if (confirm("是否删除该记录？")) {
        getNews(form1.id.value);
    }
} 

function InitAjax()
{
　var ajax=false; 
　try { 
　　ajax = new ActiveXObject("Msxml2.XMLHTTP"); 
　} catch (e) { 
　　try { 
　　　ajax = new ActiveXObject("Microsoft.XMLHTTP"); 
　　} catch (E) { 
　　　ajax = false; 
　　} 
　} 
　if (!ajax && typeof XMLHttpRequest!='undefined') { 
　　ajax = new XMLHttpRequest(); 
　} 
　return ajax;
}

function getNews(newsID)
{
　//如果没有把参数newsID传进来
　if (typeof(newsID) == 'undefined')
　{
　　return false;
　}
  var postStr = "id="+ newsID;

　//需要进行Ajax的URL地址
　var url = "../ajaxread/readdelaccount.php";
　//实例化Ajax对象
　var ajax = InitAjax();
　//使用POST方式进行请求
　ajax.open("POST", url, true); 
  //定义传输的文件HTTP头信息
　ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
　//发送POST数据
　ajax.send(postStr);
　//获取执行状态
　ajax.onreadystatechange = function() { 
　　//如果执行是状态正常，那么就把返回的内容赋值给上面指定的层
　　if (ajax.readyState == 4 && ajax.status == 200) {  
       if(ajax.responseText=='0'){
          form1.action.value = "delete";
          sendingbg.style.display ="";
          sendingdel.style.display ="";
	        form1.submit();
       }else{
          alert("该帐户已经有历史记录，不能删除");
       }
　　}
　}
  //发送空
　ajax.send(null); 
}

function help(){  
   if(document.getElementById("helpid").style.pixelHeight == 0 &&  document.getElementById("helpid").style.display == "none"){      
     document.getElementById("helpid").style.display ="";
	   ChS();
   }else{   
	   HhS();    	  
   }
}

function ChS(){
  if(helpid.style.pixelHeight<230){
     helpid.style.pixelHeight+=10;setTimeout("ChS()",0.5);
  } 
}

function HhS(){
  if(helpid.style.pixelHeight > 0){
    helpid.style.pixelHeight-=10;setTimeout("HhS()",0.5);
  }
  if(helpid.style.pixelHeight == 0){
    document.getElementById("helpid").style.display ="none";
  }
}
// -->
</script>
<BODY onload=input_focus() topmargin="0" leftMargin="2" width="100%">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
       <tr>
         <td height="30" class="pagetitle"  width="100%" valign="middle">
          &nbsp;&nbsp;<img src="[#path#]img/nowspace.jpg" align="absmiddle">员工资料</td>
       </tr>
       <tr>
         <td align="left"><div style="margin:0px 0px 0px 12px;"><img src="[#path#]img/line.jpg" ></div></td>
      </tr>
  </table>
  
  <center>
<form action="staff.php" method="post" name="form1">
            <input name='action' type="hidden" value="[#action#]">
      <input name='updid' type='hidden' value='[#updid#]'>
      <INPUT type=hidden 
name=picpath value='[#picpath#]'>
      <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="table_bgcolor">
        <tr>
        <td class=button_labelleft></td>
        <td class=button_label><div align="left">
          <input type=button name=save32 class=button_new value="     帮助" AccessKey=h  onClick="javascript:help()" style="font-size:9pt"  onMouseOver="this.style.backgroundImage='url([#path#]img/new_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/new.jpg)'">
          <input type=button name=save3 class=button_save value="     保存" AccessKey=s  onClick="submit_save()" style="font-size:9pt" {dissave} onMouseOver="this.style.backgroundImage='url([#path#]img/save_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/save.jpg)'">
          <INPUT class=button_reset name=qqq type=reset value="     撤销" AccessKey=z style="font-size:9pt" onMouseOver="this.style.backgroundImage='url([#path#]img/reset_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/reset.jpg)'">
          <input type=button name=rst class=button_recovery value="     返回" AccessKey=q style="font-size:9pt" onClick="javascript:location='staff.php'" onMouseOver="this.style.backgroundImage='url([#path#]img/recovery_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/recovery.jpg)'">
        </div></td>
        <td class=button_labelright></td>
      </tr>
    </table> 
    <table width="700" class=InputFrameMain cellspacing="0" cellpadding="0" border="0" height="100">
  <tbody>
    <tr>
      <td align="left" colspan="4"><table width="700" cellspacing="0" cellpadding="0" border="0" >
        <tr >
          <td align="center" class=inputtitle width="150">资料输入</td>
          <td align="center" class=inputtitleright >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td align="center" ><font color="#FF0000" ><b>[#error#]</b></font></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan=2><table style="MARGIN: 5px" cellspacing=0 cellpadding=0 align=center border=0 width="99%">
            <tbody>
              <tr class=listtitle>
                <td align=left colspan=5 class=listcelltitle><a style="CURSOR: hand" onclick='vbscript:bb("XX01")'><img id=img01 
            src="[#path#]img/menu_open.gif" border=0 width="16" height="16" /></a>&nbsp;<span class=form_label>基本信息</span></td>
              </tr>
            </tbody>
            <tbody id=XX01>
              <tr>
                <td class=form_label height="30" align="right">员工编号：</td>
                <td width="191"  height="30" align="left"><input class=input style="ime-mode:disabled" type="text" name="employee_no" size="12" maxlength="50" value="[#employee_no#]"  onKeyUp="changeno(this.value)"/>
                  <span class="form_label">*</span><span class="suggestionsBox" id="suggestions" style="display: none;">&nbsp;</span> </td>
                <td height="30" align="right" class=form_label>身份证：</td>
                <td height="30" align="left"><input class=input type="text" style="ime-mode:disabled" name="idnumber" size="20" maxlength="20" value="[#idnumber#]" /></td>
                <td  width="133" rowspan="8" align="center" valign="middle"><div id="showpic">[#picurl#]</div>
                    <br />
                    <br />
                  <input type="button" class="buttonsmall" name="upmorefiles" value="上传照片" onClick="upmorefile()" /></td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">姓名：</td>
                <td height="30" align="left"><input class=input type="text" name="employee_name" size="20" maxlength="35" value="[#employee_name#]" />
                    <span class="form_label">*</span> </td>
                <td width="105" height="30" class="form_label" align="right"> email：</td>
                <td width="189" height="30" align="left"><input class=input type="text" style="ime-mode:disabled" name="email" size="20" maxlength="35" value="[#email#]" /></td>
              </tr>
              <tr>
                <td class=form_label height="30" align="right">性别：</td>
                <td height="30" align="left"><select name="genderid">
                  [#genderlist#]
                </select>
                    <span class="form_label">*</span></td>
                <td height="30" class="form_label" align="right">所在城市：</td>
                <td height="30" align="left"><span id="showcity">
                  <select onChange="initcity();showfenhang()" id="province" name="province" onBlur="checkcity()">
                    <script>creatprovince('[#province#]');</script>
                  </select>
                  <select id="city" name="city">
                    <script>initcity('[#city#]');</script>
                  </select>
                   </span> </td>
              </tr>
              <tr>
                <td height="23"  align="right"class=form_label >员工级别：</td>
                <td height="30" align="left"><select name="employeelevelid">
                  
                  [#employeelevellist#]
                
                </select>
                </td>
                <td height="23"  align="right" class=form_label>婚姻状况:&nbsp;</td>
                <td align="left">
                    <input type="radio" name="ismarry" value="1" [#ismarrycheck1#]  />
                    <span class=form_label>未婚</span>				
				     <input type="radio" name="ismarry" value="2" [#ismarrycheck2#] />
                    <span class=form_label>已婚</span> </td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">出生日期：</td>
                <td height="30" align="left">
                  <INPUT class=INPUT id=birthday maxLength=30 
            size=20 name=birthday value="[#birthday#]" onFocus="calendar(EventUtil.getEvent().target)"></td>
                <td width="105" height="30" class="form_label" align="right">手机：</td>
                <td height="30" align="left"><input class=input type="text" name="handphone" size="20" maxlength="35" value="[#handphone#]" style="ime-mode:disabled"   onkeypress="if ((event.keyCode < 48 && event.keyCode != 45 && event.keyCode != 40 && event.keyCode != 41) || event.keyCode > 57 ) event.returnValue = false;" />
                </td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">邮政编码：</td>
                <td height="30" align="left"><input class=input type="text" name="zipcode" size="20" maxlength="35" value="[#zipcode#]" style="ime-mode:disabled"   onkeypress="if ((event.keyCode < 48 && event.keyCode != 45 && event.keyCode != 40 && event.keyCode != 41) || event.keyCode > 57 ) event.returnValue = false;" /></td>
                <td width="105" height="30" class="form_label" align="right">家庭电话：</td>
                <td height="30" align="left"><input class=input type="text" name="tel" size="20" maxlength="35" value="[#tel#]" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 45 && event.keyCode != 40 && event.keyCode != 41) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" /></td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">考勤编号：</td>
                <td height="30" align="left"><input class=input type="text" name="attendancecode" size="20" maxlength="35" value="[#attendancecode#]" style="ime-mode:disabled"   onkeypress="if ((event.keyCode < 48 && event.keyCode != 45 && event.keyCode != 40 && event.keyCode != 41) || event.keyCode > 57 ) event.returnValue = false;" /></td>
                <td width="105" height="30" class="form_label" align="right">&nbsp;</td>
                <td height="30" align="left">&nbsp;</td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">详细地址：</td>
                <td height="30" colspan="3" align="left"><input class=input type="text" name="address" size="70" maxlength="80" value="[#address#]" /></td>
              </tr>
            </tbody>
          </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

</form>
<div id="sending" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在保存数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingdel" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在删除数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingbg" STYLE="LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; display: none"></div>
<div id="helpid" STYLE="right: 1%; WIDTH: 450px; POSITION: absolute; TOP: 86px; HEIGHT: 0; display: none"> 
 <div  align="left"   STYLE="position:absolute;left: 15px; top:15px;right:15px" >
  操作：基本信息－帐户信息；<br><br>
  保存(Alt+s)：添加新帐户信息和修改帐户信息；<br><br>
  删除(Alt+d)：即删除不再使用的帐户信息；<br><br>
  撤销(Alt+z)：撤销回去帐户没有修改的状态；<br><br>
  返回(Alt+q)：返回帐户信息列表；<br><br>
  帮助(Alt+h)：显示帮助信息；</div>
</div>
[#showeditdiv#]
</center>
</BODY>
</HTML>

