<HTML><HEAD><TITLE>销售分析</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<META HTTP-EQUIV="zjw" CONTENT="no-cache">

<style type="text/css">
.NOPRINT {
 font-family: "宋体";
 font-size: 9pt;
}

-->
</style>
<style media=print>
.Noprint{
display:none;
}
</style>
<style type="text/css">
<!--
body,td,th {
	font-size: 12px;
}
.page_titlebar_bg {
	font-size: 16px;
	font-weight: bold;
}
-->
</style></HEAD>
<BODY>
<center>
<div class="Noprint" >
  <p>
  <OBJECT  id=WebBrowser  classid=CLSID:8856F961-340A-11D0-A96B-00C04FD705A2  height=0  width=0>
  </OBJECT>
  <input  type=button  value=打印          onclick=document.all.WebBrowser.ExecWB(6,1)>
  <input  type=button  value=直接打印  onclick=document.all.WebBrowser.ExecWB(6,6)>
  <input  type=button  value=页面设置  onclick=document.all.WebBrowser.ExecWB(8,1)>
  <input name=button  type=button  onclick=document.all.WebBrowser.ExecWB(7,1)  value=打印预览 />
  <input name=button  type=button      onclick=javascript:window.close()  value=返回>
  <span class="onlyShow">&nbsp;</span><br/>
  </p>

</div>
<form action="" method="post" name="form1">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
    
  </table>
  <span class="page_titlebar_bg"><span class="page_titlebar_bg">[#currentorganname#]消费单</span></span>
  <table width="250" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td bgcolor="#666666" height=1></td>
      </tr>
    <tr>
      <td height=2></td>
      </tr>
    <tr>
      <td bgcolor="#666666" height=1></td>
      </tr>
    <tr>
      <td align="center" height=30>日期：[#creattime#]</td>
      </tr>
      <tr>
      <td align="center" height=10></td>
      </tr>
</table>
  <table width="98%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="33%" align="left"><font color="#000000" class="table_bgshow">单号：[#sell_no#]</font></b></td>
      <td width="35%" align="center">顾客：[#membercard_no#][#customer_name#]</td>
      <td width="33%" align="right">收银员：[#employee_name#]</td>
    </tr>
    <tr>
      <td align="left" height="25"><b><font color="#ff0000" class="error"></font></b> 状态：[#status_name#]</td>
      <td align="center" height="25">顾客级别：[#cardlevel_name#]</td>
      <td align="right" height="25">&nbsp;</td>
    </tr>
    <tr>
      <td height="25" colspan="3" align="left">付款方式：[#paytype#]</td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="12">
    <tr> 
      <td  class="table_bgcolor" align="left"></td>
      <!--<td align=right style="font-size:12px"><a href="#" onClick="doexport()" ><b>[导出]</b></a></td>-->
    </tr>
  </table>
 
  <table width="98%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <!--DWLayoutTable-->
    <tbody class=table_bgcolor>
      <tr bgcolor="#E7E7E7">
        <td width="195" height="30" align="center" class="table_browse_titlebar_bg" style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;"><span class="white_word">代码</span></td>

                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center"><span class="table_browse_titlebar_font">消费类别</span></td>
          <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center">项目类别</td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center"><span class="table_browse_titlebar_font"><span class="white_word">项目名称</span></span></td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center">数量&nbsp;</td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center">单价</td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center">金额</td>
                 <td style="BORDER-top: rgb(0,0,0) 1px groove;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove"width="260" class="table_browse_titlebar_bg" align="center"><span class="table_browse_titlebar_font">备注</span></td>
                 
        </tr>
 <!-- BEGIN mainlist -->
      <tr >
        <td height="20" align="center" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;">&nbsp;<span style="white-space:nowrap">[#itemno#]</span></td>

        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#type_name#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#itemtype_name#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center"><span style="white-space:nowrap">[#itemname#]</span><span style="white-space:nowrap">&nbsp;</span></td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="center">[#number#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="right">[#value#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="right">[#amount#]&nbsp;</td>
        <td style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" class="table_bgcolor" align="left">[#itemmemo#]<span style="white-space:nowrap">&nbsp;</span></td>
        </tr>
	   <!-- END mainlist --> 
      <tr>
        <td height="28"  class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove">&nbsp;合计：</td>

        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><span class="tdcolor">[#totalacount#]元</span></td>
        <td height="28" align="right" class="table_bgcolor" style="white-space:nowrap;BORDER-left: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove;BORDER-right: rgb(0,0,0) 1px groove;BORDER-bottom: rgb(0,0,0) 1px groove" ><!--DWLayoutEmptyCell-->&nbsp;</td>
        </tr>
    </table>
  <table width="98%" border="0" cellspacing="0" cellpadding="0" height="25">
    <tr> 
      <td width="36%" align="left" class="table_bgcolor">&nbsp;</td>
      <td width="52%" align="center" class="table_bgcolor">&nbsp;</td>
      <td width="12%" align="left" class="table_bgcolor" ><span class=onlyShow>&nbsp;</span></td>
    </tr>
  </table>
  </form>
</center>
</BODY>
<!--<script>
setTimeout("window.close();",5000) 
 document.all.WebBrowser.ExecWB(7,1);


</script>
-->

</HTML>