
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript src="{path}js/calendar.js" 
type=text/javascript></SCRIPT>
<script type="text/javascript" src="../common/js/jquery-1.2.1.pack.js"></script>
<script type="text/javascript">
	function changeno(inputString) {
		if(inputString.length == 0) {
			// Hide the suggestion box.
			$('#suggestions').hide();
		} else {
			$.post("../ajax/uniqueness.php", {testname: ""+inputString+"",table: "s_customer",ziduan: "customer_no"}, function(data){
				if(data.length >0) {
					$('#suggestions').show();
					$('#suggestions').html(data);
				}
			});
		}
	} // lookup
	
	function fill(customerid,customername,address,tel,handphone) {
    	$('#customerid').val(customerid);
		$('#customername').val(customername);
		$('#address').val(address);
		$('#tel').val(tel);
		$('#handphone').val(handphone);
		
		setTimeout("$('#suggestions').hide();", 200);
	}
</script>
<script type="text/javascript">
  function search_customer(){ 
   var customername=document.getElementById("customername").value;  
   if(customername!=""){
   window.open('select_customer.php?cateid=customername&keywords='+encodeURI(customername),'','resizable=1,scrollbars=1,status=no,toolbar=no,menu=no,width=500,height=400,left=150,top=50');
  }
  else{
     window.open('select_customer.php','','resizable=1,scrollbars=1,status=no,toolbar=no,menu=no,width=500,height=400,left=150,top=50');

  }
  } 
</script>


</head>
<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
       <tr>
         <td height="30" class="pagetitle"  width="100%" valign="middle">
          &nbsp;&nbsp;<img src="[#path#]img/nowspace.jpg" align="absmiddle">客户资料</td>
       </tr>
       <tr>
         <td align="left"><div style="margin:0px 0px 0px 12px;"><img src="[#path#]img/line.jpg" ></div></td>
      </tr>
  </table>
  
  <center>
<form action="customer.php" method="post" name="form1">
            <input name='action' type="hidden" value="[#action#]">
      <input name='updid' type='hidden' value='[#updid#]'>
      <INPUT type=hidden 
name=picpath value='[#picpath#]'>
      <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="table_bgcolor">
        <tr>
        <td class=button_labelleft></td>
        <td class=button_label><div align="left">
          <input type=button name=save32 class=button_new value="     帮助" AccessKey=h  onClick="javascript:help()" style="font-size:9pt"  onMouseOver="this.style.backgroundImage='url([#path#]img/new_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/new.jpg)'">
          <input type=button name=save3 class=button_save value="     保存" AccessKey=s  onClick="submit_save()" style="font-size:9pt" {dissave} onMouseOver="this.style.backgroundImage='url([#path#]img/save_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/save.jpg)'">
          <INPUT class=button_reset name=qqq type=reset value="     撤销" AccessKey=z style="font-size:9pt" onMouseOver="this.style.backgroundImage='url([#path#]img/reset_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/reset.jpg)'">
          <input type=button name=rst class=button_recovery value="     返回" AccessKey=q style="font-size:9pt" onClick="javascript:location='customer.php'" onMouseOver="this.style.backgroundImage='url([#path#]img/recovery_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/recovery.jpg)'">
        </div></td>
        <td class=button_labelright></td>
      </tr>
    </table> 
    <table width="700" class=InputFrameMain cellspacing="0" cellpadding="0" border="0" height="100">
  <tbody>
    <tr>
      <td align="left" colspan="4"><table width="700" cellspacing="0" cellpadding="0" border="0" >
        <tr >
          <td align="center" class=inputtitle width="150">资料输入</td>
          <td align="center" class=inputtitleright >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td align="center" ><font color="#FF0000" ><b>[#error#]</b></font></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="4" height="10"></td>
    </tr>
    <tr>
      <td colspan=2><table style="MARGIN: 5px" cellspacing=0 cellpadding=0 align=center border=0 width="99%">
            <tbody>
              <tr class=listtitle>
                <td align=left colspan=5 class=listcelltitle><a style="CURSOR: hand" onclick='vbscript:bb("XX01")'><img id=img01 
            src="[#path#]img/menu_open.gif" border=0 width="16" height="16" /></a>&nbsp;<span class=form_label>基本信息</span></td>
              </tr>
            </tbody>
            <tbody id=XX01>
              <tr>
                <td class=form_label height="30" align="right">顾客编号：</td>
                <td width="191"  height="30" align="left"><input class=input style="ime-mode:disabled" type="text" name="customer_no" size="20" maxlength="50" value="[#customer_no#]" onKeyUp="changeno(this.value)" />
                  <span class="form_label">*</span>
                  <div class="suggestionsBox" id="suggestions" style="display: none;">&nbsp;</div> </td>
                <td height="30" align="right" class=form_label>身份证：</td>
                <td height="30" align="left"><input class=input type="text" style="ime-mode:disabled" name="idnumber" size="20" maxlength="20" value="[#idnumber#]" /></td>
                <td  width="133" rowspan="8" align="center" valign="middle"><div id="showpic">[#picurl#]</div>
                    <br />
                    <br />
                  <input type="button" class="buttonsmall" name="upmorefiles" value="上传照片" onClick="upmorefile()" />  
				    <br />
                    <br />
					 <br />
                    <br /></td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">姓名：</td>
                <td height="30" align="left"><input class=input type="text" name="customer_name" size="20" maxlength="35" value="[#customer_name#]" />
                    <span class="form_label">*</span> </td>
                <td width="105" height="30" class="form_label" align="right">出生日期：</td>
                <td width="189" height="30" align="left"><INPUT class=INPUT id=birthday maxLength=30 
            size=20 name=birthday value="[#birthday#]" onFocus="calendar(EventUtil.getEvent().target)">
                  *</td>
              </tr>
              <tr>
                <td class=form_label height="30" align="right">性别：</td>
                <td height="30" align="left"><select name="genderid">
                  [#genderlist#]
                </select>
                    <span class="form_label">*</span></td>
                <td height="30" class="form_label" align="right">所在城市：</td>
                <td height="30" align="left"><span id="showcity">
                  <select onChange="initcity();showfenhang()" id="province" name="province" onBlur="checkcity()">
                    <script>creatprovince('[#province#]');</script>
                  </select>
                  <select id="city" name="city">
                    <script>initcity('[#city#]');</script>
                  </select>
                   </span> </td>
              </tr>
              <tr>
                <td height="23"  align="right"class=form_label >QQ：</td>
                <td height="30" align="left"><input class=input type="text" name="qq" size="20" maxlength="35" value="[#qq#]" style="ime-mode:disabled"   onkeypress="if ((event.keyCode < 48 && event.keyCode != 45 && event.keyCode != 40 && event.keyCode != 41) || event.keyCode > 57 ) event.returnValue = false;" /></td>
                <td height="23"  align="right" class=form_label>婚姻状况:&nbsp;</td>
                <td align="left">
                    <input type="radio" name="ismarry" value="1" [#ismarrycheck1#]  />
                    <span class=form_label>未婚</span>				
				     <input type="radio" name="ismarry" value="2" [#ismarrycheck2#] />
                    <span class=form_label>已婚</span> </td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">email：</td>
                <td height="30" align="left"><input class=input type="text" style="ime-mode:disabled" name="email" size="20" maxlength="35" value="[#email#]" /></td>
                <td width="105" height="30" class="form_label" align="right">手机：</td>
                <td height="30" align="left"><input class=input type="text" name="handphone" size="20" maxlength="35" value="[#handphone#]" style="ime-mode:disabled"   onkeypress="if ((event.keyCode < 48 && event.keyCode != 45 && event.keyCode != 40 && event.keyCode != 41) || event.keyCode > 57 ) event.returnValue = false;" />
                *
                </td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">邮政编码：</td>
                <td height="30" align="left"><input class=input type="text" name="zipcode" size="20" maxlength="35" value="[#zipcode#]" style="ime-mode:disabled"   onkeypress="if ((event.keyCode < 48 && event.keyCode != 45 && event.keyCode != 40 && event.keyCode != 41) || event.keyCode > 57 ) event.returnValue = false;" /></td>
                <td width="105" height="30" class="form_label" align="right">家庭电话：</td>
                <td height="30" align="left"><input class=input type="text" name="tel" size="20" maxlength="35" value="[#tel#]" onKeyPress="if ((event.keyCode < 48 && event.keyCode != 45 && event.keyCode != 40 && event.keyCode != 41) || event.keyCode > 57 ) event.returnValue = false;" style="ime-mode:disabled" /></td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">详细地址：</td>
                <td height="30" colspan="3" align="left"><input class=input type="text" name="address" size="69" maxlength="80" value="[#address#]" /></td>
              </tr>
              <tr>
                <td class=form_label width="82" height="30" align="right">备注：</td>
                <td height="30" colspan="3" align="left"><input name="memo" type="text" class="inputarea" style="WIDTH: 450px" value="[#memo#]"></td>
              </tr>
            </tbody>
          </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

</form>
<div id="sending" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在保存数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingdel" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在删除数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingbg" STYLE="LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; display: none"></div>
<div id="helpid" STYLE="right: 1%; WIDTH: 450px; POSITION: absolute; TOP: 86px; HEIGHT: 0; display: none"> 
 <div  align="left"   STYLE="position:absolute;left: 15px; top:15px;right:15px" >
  操作：基本信息－帐户信息；<br><br>
  保存(Alt+s)：添加新帐户信息和修改帐户信息；<br><br>
  删除(Alt+d)：即删除不再使用的帐户信息；<br><br>
  撤销(Alt+z)：撤销回去帐户没有修改的状态；<br><br>
  返回(Alt+q)：返回帐户信息列表；<br><br>
  帮助(Alt+h)：显示帮助信息；</div>
</div>
[#showeditdiv#]
</center>
</body>
</html>
