<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>无标题文档</title>
<style type="text/css">
<!--
.style4 {	font-size: 12pt;
	font-weight: bold;
}
body,td,th {
	font-size: 9pt;
}
body  {
background:CEEBCE;
}

-->
</style>
</head>

<body>
信息浏览
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#999999">
  <tr bgcolor="#CCCCCC" align="center">
  <td width="100">类型</td>
  <td width="100">时间</td>
  <td>内容</td>
  <td width="50">删除</td>
  </tr>
<!-- BEGIN row -->
  <tr align="center" bgcolor="#EBEBEB">
    <td>{logtypename}</td>
    <td>{logtime}</td>
    <td align="left">{content}</td>
    <td>{del}</td>
  </tr>
<!-- END row -->
</table>

<br>
组长登录 （删除表示认可）
<table width="100%"  border="0" cellpadding="5" cellspacing="1" bgcolor="#999999">
  <tr bgcolor="#CCCCCC" align="center">
    <td width="100">组长</td>
    <td>登录明细</td>
    <td width="50" align="center">认可</td>
    <td width="50" align="center">删除</td>
  </tr>
<!-- BEGIN row2 -->
  <tr align="center" bgcolor="#EBEBEB">
    <td>{username}</td>
    <td>{msgtext}</td>
    <td>{accept}</td>
    <td>{del}</td>
  </tr>
<!-- END row2 -->
</table>
</body>
</html>
