<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>权限管理</title>
<LINK href="{path}/css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}/css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}/css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}/css/css.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
#indiv {
	margin-left: -21px;
	display: inline;
	width: 50px;
}
#outdiv {
	float: left;
}
-->
</style>
{ajaxstr}
<script language="javascript">
var root = '{documentroot}/';
var sruleid = '{defaultid}';
var p,r,o;
function parseUrl(obj){
	selUrl1 = obj.value.replace(/\\/g,'/');
	selUrl2 = selUrl1.replace(new RegExp(root),'');
	if(selUrl2 == selUrl1){
		alert('对不起，目录不正确');
		return;
	}
	r.value = selUrl2;
	setDispRole(1);
}
function up(){
	if(sruleid == 1)return;
	n = p.options[sruleid-2].innerHTML;
	p.options[sruleid-2].innerHTML = p.options[sruleid-1].innerHTML;
	p.options[sruleid-1].innerHTML = n;
	sruleid--;
	o.value = sruleid;
	p.options[sruleid-1].selected=true;
}
function down(){
	if(sruleid == p.options.length)return;
	n = p.options[sruleid].innerHTML;
	p.options[sruleid].innerHTML = p.options[sruleid-1].innerHTML;
	p.options[sruleid-1].innerHTML = n;
	sruleid++;
	o.value = sruleid;
	p.options[sruleid-1].selected=true;
}
function change(){
	var si = p.selectedIndex;
	while( (sruleid-1) - si != 0 ){
		if(si > sruleid-1)			down()
		else if(si < sruleid-1)	up();
	}
}
function setPoint(obj){
	p.options[sruleid-1].innerHTML = obj.value;
}
function setDispRole(value){
	dsp = document.getElementById('dispOther');
	if(value){
		dsp.style.visibility = 'visible';
	}else{
		dsp.style.visibility = 'hidden';
	}
}
window.onload = function(){
	p = document.getElementById('position');
	r = document.getElementById('ruleurl');
	o = document.getElementById('ruleorder');
	if(!sruleid)	sruleid = p.options.length;
	p.selectedIndex = sruleid -1;
	o.value = sruleid;
}
</script>
</head>

<body>
<h3>{actionName}菜单</h3>
<form action="rule.php" method="post" enctype="multipart/form-data" name="form1">
<input name="action" type="hidden" id="action" value="{action}">
<input name="ruleid" type="hidden" id="ruleid" value="{updid}">
<input name="ruleorder" type="hidden" id="ruleorder" value="{ruleorder}">
<table width="420" border="0" cellpadding="3" cellspacing="1" class="borderStyle">
    <tr class="tdBgColor">
      <td colspan="2" class="tabTh">{actionName}菜单</td>
    </tr>
    <tr class="tdBgColor">
      <td width="55">菜单名</td>
      <td width="350"><input name="rulename" type="text" id="rulename" value="{rulename}" onChange="setPoint(this)" onKeyDown="setPoint(this)" onKeyUp="setPoint(this)"></td>
    </tr>
    <tr class="tdBgColor">
      <td>网　址</td>
      <td>
		<input name="ruleurl" type="text" id="ruleurl" value="{ruleurl}" onKeyUp="setDispRole(this.value)" onChange="setDispRole(this.value)" tabindex="2"><input type="button" value="浏览" onClick="document.getElementById('thefile').click();">
        <input type="file" id="thefile" size="1" onpropertychange="parseUrl(this);" onBlur="parseUrl(this);" tabindex="1" style="display:none;">
	  </td>
    </tr>
    <tr class="tdBgColor">
      <td>图　标</td>
      <td><input name="img[small]" type="file" id="ruleimg">最大：15*15</td>
    </tr>
    <tr class="tdBgColor">
      <td>大图标</td>
      <td><input name="img[big]" type="file" id="rulebigimg">最大：25*25</td>
    </tr>
    <tr class="tdBgColor">
      <td>主菜单      </td>
      <td><select name="parentruleid" id="parentruleid" onChange="xajax_setSubMenu(this.value,o.value - 1,'{action}')">
        <option value="0">◇ 根目录</option>
        <!-- BEGIN row -->
        <option value="{ruleid}"{selected}>{space}{rulename}</option>
        <!-- END row -->
      </select></td>
    </tr>
    <tr class="tdBgColor">
      <td>位　置</td>
      <td>
<table width="100%"  border="0" cellspacing="3" cellpadding="0">
  <tr>
    <td width="50"><select name="position" size="{subNum}" id="position" onChange="change();">
      <!-- BEGIN sub -->
      <option value="{ruleorder}">{rulename}</option>
      <!-- END sub -->
	  {newrulename}
    </select></td>
    <td><p>
        <input type="button" value="上移" onClick="up()">
    </p>
      <p>          <input type="button" value="下移" onClick="down()">
      </p></td>
  </tr>
</table></td>
    </tr>
    <tr class="tdBgColor">
      <td>&nbsp;</td>
      <td><input type="submit" value="{actionName}"></td>
    </tr>
  </table>
 <div id="dispOther" style="visibility:{defDisp};">
  <h4>可选项(无网址的菜单项，不能绑定角色)</h4>
  <table border="0" cellpadding="3" cellspacing="1" class="borderStyle">
  <tr class='tabTh'>
    <td rowspan="2">绑定到指定角色</td>
    <td colspan="9" align="center">绑定权限</td>
  </tr>
  <tr class="tabTh">
    <td>超用户</td>
    <td>浏览权</td>
    <td>增加权</td>
    <td>修改权</td>
    <td>删除权</td>
    <td>导入权</td>
    <td>导出权</td>
    <td>反冲权</td>
    <td>审核权</td>
  </tr>
<!-- BEGIN role -->
  <tr class="tdBgColor">
    <td><input name="roleid[]" type="checkbox" id="roleid" value="{roleid}"{Rchecked}>
    {rolename}</td>
    <td align="center"><input name="base_{roleid}[]" type="checkbox" id="base_{roleid}" value="S"{Schecked}></td>
    <td align="center"><input name="base_{roleid}[]" type="checkbox" id="base_{roleid}" value="B"{Bchecked}></td>
    <td align="center"><input name="base_{roleid}[]" type="checkbox" id="base_{roleid}" value="A"{Achecked}></td>
    <td align="center"><input name="base_{roleid}[]" type="checkbox" id="base_{roleid}" value="M"{Mchecked}></td>
    <td align="center"><input name="base_{roleid}[]" type="checkbox" id="base_{roleid}" value="D"{Dchecked}></td>
    <td align="center"><input name="base_{roleid}[]" type="checkbox" id="base_{roleid}" value="I"{Ichecked}></td>
    <td align="center"><input name="base_{roleid}[]" type="checkbox" id="base_{roleid}" value="E"{Echecked}></td>
    <td align="center"><input name="base_{roleid}[]" type="checkbox" id="base_{roleid}" value="R"{Rechecked}></td>
    <td align="center"><input name="base_{roleid}[]" type="checkbox" id="base_{roleid}" value="H"{Hchecked}></td>
  </tr>
<!-- END role -->
</table>
<a href="roledetail.php">新建用色</a>
</div>
</form>
</body>
</html>
