
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript src="{path}js/calendar.js" type=text/javascript></SCRIPT>
</head>

<body>
<form action="statistics.php" method="post">
<div align="center">客户分类分析</div>
<table width="100%" border="0" cellpadding="5" cellspacing="1" class="borderStyle">
   <tr  class="tabTh">
     <td align="right">排序</td>
     <td align="left">分类名</td>
     <td align="left">客户数量</td>
   </tr>
<!-- BEGIN customer -->
   <tr class="tdBgColor">
     <td align="right">{rank}</td>
     <td>{username}</td>
     <td>{customernumber}</td>
   </tr>
<!-- END customer -->
 <!-- BEGIN total -->
   <tr  class="tabTh">
     <td width="34%" align="right">总计</td>
     <td width="33%" align="left">&nbsp;</td>
     <td width="33%" align="left">&nbsp;</td>
   </tr>
<!-- END total -->
</table>
</form>
</body>
</html>
