
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript src="{path}js/calendar.js" type=text/javascript></SCRIPT>
</head>

<body>
<form action="statisticsfollow.php?Action=statistics&type=visiterate" method="post">
<div align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
</div>
<table width="100%" border="0" cellpadding="5" cellspacing="1" class="borderStyle">
   <tr class="tdBgColor">
     <td colspan="2" align="right"><div align="center">客户跟进统计&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
    </tr>
   <tr  class="tdBgColor">
     <td width="45%" align="right">开始时间</td>
     <td width="55%" align="left"><input name="datebg" type="text" id="datebg" onfocus="calendar(EventUtil.getEvent().target)" size="15" value="{datebg}"></td>
   </tr>
<tr class="tdBgColor">
     <td align="right">结束时间</td>
     <td><input name="dateend" type="text" id="dateend" onfocus="calendar(EventUtil.getEvent().target)" size="15" value="{dateend}"></td>
  </tr>
   <tr class="tdBgColor">
     <td align="right">选择负责人</td>
     <td><select name='userid'><option value='0' selected>全部</option>{userlist}</select></td>
  </tr>
   <tr class="tdBgColor">
     <td align="right">请选择排序字段</td>
     <td><select name="ordertype">
	    <option value='degree'>客户等级</option>
		<option value='lasttime'>上次拜访时间</option>
		<option value='visitenumber' selected>拜访次数</option>
		<option value='nexttime' >下次拜访日期</option>
     </select></td>
  </tr>
   <tr >
     <td  align="right">&nbsp;</td>
     <td  align="left">
       <input type="submit" name="Submit" value="统计">&nbsp;
       <input type="reset" name="reset" value="重置">     </td>
   </tr>
</table>
</form>
</body>
</html>
