
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<div align="right">{add}</div>
<table width="100%" border="0" cellpadding="5" cellspacing="1" class="borderStyle">
   <tr align="center" class="tabTh">
     <td>用户名称</td>
     <td>所属工作组</td>
     <td width="50">修改</td>
     <td width="50">删除</td>
   </tr>
<!-- BEGIN user -->
   <tr class="tdBgColor">
     <td>{username}</td>
     <td>
	 <!-- BEGIN group -->
	 {groupname}<br>
	 <!-- END group -->
	 </td>
     <td align="center">{upd}</td>
     <td align="center">{del}</td>
  </tr>
<!-- END user -->
</table>
</body>
</html>
