
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript> 
function checkform()
{
	var password = document.getElementById("password").value;
	var repassword = document.getElementById("repassword").value;
	var username = document.getElementById("username").value;



	if(password!=repassword)
	{
		alert("两次输入的密码不一致!");
		return false;
	}
	if(username==null||username=="")
	{
		alert("用户名不能为空!");
		return false;
	}


	document.form1.submit();
}

</SCRIPT>
</head>
<body>
<h3>{actionName}用户</h3>
<form name="form1" method="post" action="user.php">
<input name='action' type="hidden" value="{action}">
<input name='updid' type='hidden' value='{updid}'>
  用户名：
  <input name="username" type="text" size="10" maxlength="10" value='{username}'>
密　码：
<input type="password" name="password">
　重复密码：
<input type="password" name="repassword">
<input type="submit" name="Submit" value="提交" onClick="return checkform();">
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="borderStyle">
  <tr class="tabTh">
    <td height="25">选择工作组</td>
  </tr>
  <!-- BEGIN group -->
  <tr class="tdBgColor">
    <td><input type="checkbox" name="groups[]" value="{groupid}"{gchecked}>
      {groupname}</td>
  </tr>
  <!-- END group -->
</table>
</form>
<p><a href="group.php?action=add">新建工作组</a></p>
</body>
</html>
