
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>无标题文档</title>
<LINK href="{path}css/button_css.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="{path}css/browse.css" rel="stylesheet" type="text/css">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript src="{path}js/calendar.js" 
type=text/javascript></SCRIPT>
<script type="text/javascript">
 	function TrOver(o)
	{
	o.style.backgroundColor='#F3F3F3'
	}
	function TrOut(o)
	{
	o.style.backgroundColor=''
	}
function tourl(url)
{
	window.location.href=url;
}

	function CheckAll(checkBoxName){
			var checkBox = document.getElementsByName(checkBoxName);
			for (var i = 0; i < checkBox.length; i++){
				var temp = checkBox[i];
				temp.checked = true;
			}
	}
	function CheckReverse(checkBoxName){
		var checkBox = document.getElementsByName(checkBoxName);
		for (var i = 0; i < checkBox.length; i++){
			var temp = checkBox[i];
			temp.checked = !temp.checked;
		}
	}	


		function PPClass_IsNextClass_85(ClassID){
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][0]==ClassID){return true;}
			}
			return false;
		}
		
		function PPClass_GetParentID_85(ClassID){
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][1]==ClassID){return PPClass_Array_85[i][0];}
			}
			return -1;
		}
		
		function PPClass_DrawLists_85(SelectName,ClassID,Mode,Html,TheOption){
			var ParentID=PPClass_GetParentID_85(ClassID);
			var TheSelected="";
			var HtmlCode="";
			PPClass_AllID_85+="," + ClassID;
			ParentID=(ParentID==0) ? -1:ParentID;
			HtmlCode="<select name=\""+SelectName+"_PPST_85\" id=\""+SelectName+"_PPST_85\"  onChange={javascript:PPClass_DrawLists_85(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n";
			HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_85+"</option>\n";
			ParentID=(ParentID==-1) ? 0:ParentID;
			for(var i=0;i<PPClass_Array_85.length;i++){
				if(PPClass_Array_85[i][1]==ClassID){
					TheSelected=" selected";
					switch(Mode){
					case 0:
						PPClass_Value_85+="," + PPClass_Array_85[i][1];
						break;
					case 1:
						PPClass_Value_85+="," + PPClass_Array_85[i][2];
						break;
					case 2:
						PPClass_Value_85+="," + PPClass_Array_85[i][1] + "|" + PPClass_Array_85[i][2];
					break;
					}
				}else{
					TheSelected="";
				}
				if(PPClass_Array_85[i][0]==ParentID){HtmlCode+="<option value=\""+PPClass_Array_85[i][1]+"|"+PPClass_Array_85[i][2]+"\""+TheSelected+">"+PPClass_Array_85[i][2]+"</option>\n";}
			}
			HtmlCode+="</select>\n"+Html
			if(ParentID==0){
				if(PPClass_IsNextClass_85(PPClass_AllID_85.split(",")[1])){
					HtmlCode+="<select name=\""+SelectName+"_PPST_85\"  id=\""+SelectName+"_PPST_85\" onChange={javascript:PPClass_DrawLists_85(\""+SelectName+"\",this.value.split(\"|\")[0],"+Mode+",\"\",\""+TheOption+"\")}>\n"
					HtmlCode+="<option value=\""+ParentID+"\">"+PPClass_Tips_85+"</option>\n";
					for(var i=0;i<PPClass_Array_85.length;i++){
						if(PPClass_Array_85[i][0]==PPClass_AllID_85.split(",")[1]){HtmlCode+="<option value=\""+PPClass_Array_85[i][1]+"|"+PPClass_Array_85[i][2]+"\">"+PPClass_Array_85[i][2]+"</option>\n";}
					}
					HtmlCode+="</select>\n"
				}
				PPClass_AllID_85="";
				var Value=PPClass_Value_85.split(",")[1];
				if(Value==null) Value="";
				HtmlCode+="<input type=\"hidden\" name=\""+SelectName+"\" id=\""+SelectName+"\" value=\""+Value+"\" />"
				PPClass_Value_85="";
				document.getElementById("PPClass_Container85_"+SelectName).innerHTML=HtmlCode;
			}else{
				PPClass_DrawLists_85(SelectName,ParentID,Mode,HtmlCode,TheOption);
			}
		}
		function ListInClass(o){
		var v=document.getElementById("Sale_ID").value;
		if (v==""){
			alert("你还没有选择分类");
			return false;
		}else if(o=="listclass"){
			window.location.href="?qgtype="+o+"&Sale_ID="+v;
		}else{
			return true;
		}
	   } 
	function CheckSubmitOne(o){
		var checkBox = document.getElementsByName("TheID[]");
		var temp = false;
		for (var i = 0; i < checkBox.length; i++){
			if (checkBox[i].checked){temp=true;}
		}
		if (temp==false){alert("你需要至少选择一条信息..");return false;
		}else{return confirm("你确认你要执行该操作吗？");	}
	}
function qg_pl(qgtype)
{
	var idarray = new Array();//定义一个数组
	var cv = document.getElementsByName("TheID[]");
	var m = 0;
	for(var i=0; i<cv.length; i++)
	{
		if(cv[i].type.toLowerCase() == "checkbox")
		{
			if(cv[i].checked)
			{
				idarray[m] = cv[i].value;
				m++;
			}
		}
	}
	var id = idarray.join(",");
	if(!id || id == "0")
	{
		alert("没有勾选要操作的主题！");
		return false;
	}
	var url = "?action=del&delid="+id+"&qgtype="+qgtype;
	alert (url);
	if(qgtype == "delete")
	{
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{
			tourl(url);
		}
	}
	else if(qgtype=="Move")
	{v=document.getElementById("Sale_ID").value;
	 url="Acion=Move&id="+id+"Sale_id="+v;
		question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
		if (question != "0")
		{
			tourl(url);
		}
	}
	else
	{
		tourl(url);
	}
}
function datesearch()
{ 
    var datebg=document.getElementById("datebg").value;
	var dateend=document.getElementById("dateend").value;
	window.location.href="?datebg="+datebg+"&dateend="+dateend;
	
}
</script>
<style type="text/css">
<!--
body {
	margin: 0px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}
form {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

-->
</style>
</head>
<body>


<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="90%"><form  name="search" method="POST" action="visiteplan.php">
 搜索：
   <select name="cateid" id="cateid">
     <option value=""> 请选择分类</option>
	 <option value="customername" >客户姓名</option>
	 <option value="username">计划执行人</option>
     <option value="planid" >ID</option>
     <option value="plantitle">主题</option>
     <option value="plan_content">内容</option>
     <option value="userid">执行人ID</option>
	 <option value="customerid">客户ID</option>
   </select>	
  <input type="text" name="keywords" id="keywords" size="15" value="">
	  <input type="submit" value="搜索">
<input type=button onclick=window.location.href('visiteplan.php') value='显示全部'>
  按时间搜索：从
      <input name="datebg" type="text" id="datebg" onfocus="calendar(EventUtil.getEvent().target)" size="12" value="{datebg}">
      到
      <input name="dateend" type="text" id="dateend" onfocus="calendar(EventUtil.getEvent().target)" size="12" value="{dateend}">
    <input name="button" type="button" value="搜索" onClick="datesearch()">
    </form></td>
    <td width="1%">&nbsp;</td>
    <td width="9%"><div align="right">{add}</div></td>
  </tr>
</table>
<form action="?Action=DoAllNews" method="post" onsubmit="return CheckSubmitOne()">
<table width="100%" border="0" cellpadding="5" cellspacing="1" class="borderStyle">
   <tr align="center" class="tabTh">
     <td width="5%">ID:
     <input name="checkbox" type="checkbox" onclick="
	 javascript:if(this.checked)
	 {
	 CheckAll('TheID[]')
	 }
	 else
	 {CheckReverse('TheID[]')
	 }" /></td>
     <td width="10%">客户名称</td>
     <td width="10%">主题</td>
     <td width="20%">内容</td>
     <td width="10%"><select name="select2" onchange="tourl('?cateid=userid&keywords='+this.value)">
       <option value='0' selected>按负责人查看</option>
	   <!-- BEGIN sale -->
       <!-- END sale -->
     </select></td>
     <td width="10%">计划时间</td>
     <td width="15%"><select name="importance" onchange="tourl('?cateid=planimportance&keywords='+encodeURI(this.value))">
             <option value='0' selected>选择重要程度</option>
              <option value="一般">一般</option>
              <option value="重要">重要</option>
              <option value="很重要">很重要</option>
              <option value="紧急">紧急</option>
              <option value="不重要">不重要</option>
            </select>
     </select></td>
     <td width="5%"><select name="planstatus" onchange="tourl('?cateid=planstatus&keywords='+encodeURI(this.value))">
       <option value='0' selected>选择处理状态</option>
       <option value='已处理' >已处理</option>
       <option value='未处理' >未处理</option>
       <option value='需跟进' >需跟进</option>
       <option value='其他' >其他</option>
     </select></td>
     <td width="5%">拜访</td>
     <td width="5%">修改</td>
     <td width="5%">删除</td>
   </tr>
<!-- BEGIN visiteplan -->
   <tr class="tdBgColor"  onMouseOver="TrOver(this)" onMouseOut="TrOut(this)">
     <td>{planid}<input name="The_ID[]" type="hidden" value="{planid}" /><input name="TheID[]" type="checkbox" value="{planid}" /></td>
     <td><a href="visiteplan.php?cateid=customerid&keywords={customerid}">	
	 <!-- BEGIN customer -->
	 {customername}
	<!-- END customer --></a></td>
     <td>{plantitle}</td>

     <td>{plan_content}       </td>
     <td><a href="visiteplan.php?cateid=userid&keywords={userid}"><!-- BEGIN user -->{username}
	<!-- END user --></a></td>
	     <td>{plantime}</td>
         <td align="center">{planimportance}</td>
         <td align="center">{planstatus}
         </td>
     <td align="center">
	 
	 <img style="cursor:pointer" onClick="if('{planstatus}'=='已处理' ){
	 alert('计划已执行');
	 }else
	 {
	 tourl('visiterecord.php?action=add&customerid={customerid}&planid={planid}');
	 }
	 " src="{path}img/visite.gif" alt="执行拜访计划" width="24" height="26" border="0" ></td>
     <td align="center">{upd}</td>
     <td align="center">{del}</td>
  </tr>
<!-- END visiteplan -->

<tr class="tdBgColor">
     <td width="5%">ID:<input type="checkbox" onclick="
	 javascript:if(this.checked)
	 {
	 CheckAll('TheID[]')
	 }
	 else
	 {CheckReverse('TheID[]')
	 }" /></td>
     <td colspan="11">
     <select name="Sale_ID" >
          <option value='0' selected>按执行人查看</option>
          <!-- BEGIN sale -->
    	  <!-- END sale -->
        </select>

		<input name="button" type="button" onclick="return ListInClass('listclass')" value="查看该员工计划">
		&nbsp;
       <input type="submit" name="submit" class="InputSubmit"  onclick="return ListInClass('Move')" value="移至该员工" {batchmovedisabled}> 
	     &nbsp;
        <input type=button onclick=window.location.href('visiteplan.php') value=' 显示全部 '>
        &nbsp;
        <input name="button" type="button" onclick="qg_pl('delete')" value="批量删除" {batchdeletedisabled}>      </td>
    </tr>
</table>
</form>
<div align="right">{pagelist}</div>
</body>
</html>