<HTML><HEAD>
<TITLE> 通知公告</TITLE>
<META HTTP-EQUIV="empiresoft" CONTENT="no-cache">
<link href="[#path#]css/button_css.css" rel="stylesheet" type="text/css">
<link href="[#path#]css/page_title.css" rel="stylesheet" type="text/css">
<LINK href="[#path#]css/browse.css" type=text/css rel=stylesheet>
<LINK href="[#path#]css/css.css" rel=stylesheet type=text/css>
<SCRIPT language=javascript src="[#path#]js/editlib.js"></SCRIPT>
<style type="text/css">
<!--
.STYLE1 {
	color: #FF0000;
	font-size: 12px;
}
.STYLE2 {color: #FF0000}
-->
</style>
</HEAD>
<script language=javascript>
<!-- 

function input_focus(){
var gg = 1;
if (gg == 1){
form1.no.focus();
 }
}

var requestSubmitted = false;

function submit_save(){

	 if(form1.news_title.value==""){
	 	  alert("请输入标题");
	 	  form1.news_title.focus();
	 	  return;
	 }
	 	 	 
	 if(form1.news_content.value==""){
	 	  alert("请输入内容");
	 	  form1.news_content.focus();
	 	  return;
	 }
	 
 	 
	  if(requestSubmitted == true){
    alert("你已经提交，请等待一下");
    return (false);
   } 
   requestSubmitted = true;  
	 sending.style.display ="";
	// sendingbg.style.display ="";parent.parent.frames[0].form1.loadingok.value  = "1";parent.parent.frames[1].loadingbg.style.height = //parent.parent.frames[1].document.body.scrollHeight;parent.parent.frames[1].loadingbg.style.display =""; 
   form1.submit();
}


function submit_del(){
    if (confirm("是否删除该记录？")) {
        getNews(form1.id.value);
    }
} 

function InitAjax()
{
　var ajax=false; 
　try { 
　　ajax = new ActiveXObject("Msxml2.XMLHTTP"); 
　} catch (e) { 
　　try { 
　　　ajax = new ActiveXObject("Microsoft.XMLHTTP"); 
　　} catch (E) { 
　　　ajax = false; 
　　} 
　} 
　if (!ajax && typeof XMLHttpRequest!='undefined') { 
　　ajax = new XMLHttpRequest(); 
　} 
　return ajax;
}

function getNews(newsID)
{
　//如果没有把参数newsID传进来
　if (typeof(newsID) == 'undefined')
　{
　　return false;
　}
  var postStr = "id="+ newsID;

　//需要进行Ajax的URL地址
　var url = "../ajaxread/readdelaccount.php";
　//实例化Ajax对象
　var ajax = InitAjax();
　//使用POST方式进行请求
　ajax.open("POST", url, true); 
  //定义传输的文件HTTP头信息
　ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
　//发送POST数据
　ajax.send(postStr);
　//获取执行状态
　ajax.onreadystatechange = function() { 
　　//如果执行是状态正常，那么就把返回的内容赋值给上面指定的层
　　if (ajax.readyState == 4 && ajax.status == 200) {  
       if(ajax.responseText=='0'){
          form1.action.value = "delete";
          sendingbg.style.display ="";
          sendingdel.style.display ="";
	        form1.submit();
       }else{
          alert("该帐户已经有历史记录，不能删除");
       }
　　}
　}
  //发送空
　ajax.send(null); 
}

function help(){  
   if(document.getElementById("helpid").style.pixelHeight == 0 &&  document.getElementById("helpid").style.display == "none"){      
     document.getElementById("helpid").style.display ="";
	   ChS();
   }else{   
	   HhS();    	  
   }
}

function ChS(){
  if(helpid.style.pixelHeight<230){
     helpid.style.pixelHeight+=10;setTimeout("ChS()",0.5);
  } 
}

function HhS(){
  if(helpid.style.pixelHeight > 0){
    helpid.style.pixelHeight-=10;setTimeout("HhS()",0.5);
  }
  if(helpid.style.pixelHeight == 0){
    document.getElementById("helpid").style.display ="none";
  }
}
// -->
</script>
<BODY onload=input_focus() topmargin="0" leftMargin="2" width="100%">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30">
       <tr><td height="30" class="pagetitle"  width="100%" valign="middle">
          &nbsp;&nbsp;<img src="[#path#]img/nowspace.jpg" align="absmiddle">
       	 通知公告
    </td>
       </tr>
       <tr>
         <td align="left"><div style="margin:0px 0px 0px 12px;"><img src="[#path#]img/line.jpg" ></div></td>
      </tr>
  </table>
  
  <center>
<form action="news.php" method="post" name="form1">
            <input name='action' type="hidden" value="[#action#]">
      <input name='updid' type='hidden' value='[#updid#]'>
    <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="table_bgcolor">
        <tr>
        <td class=button_labelleft></td>
        <td class=button_label><div align="left">
          <input type=button name=save32 class=button_new value="     帮助" AccessKey=h  onClick="javascript:help()" style="font-size:9pt"  onMouseOver="this.style.backgroundImage='url([#path#]img/new_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/new.jpg)'">
          <input type=button name=save3 class=button_save value="     保存" AccessKey=s  onClick="submit_save()" style="font-size:9pt" {dissave} onMouseOver="this.style.backgroundImage='url([#path#]img/save_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/save.jpg)'">
          <INPUT class=button_reset name=qqq type=reset value="     撤销" AccessKey=z style="font-size:9pt" onMouseOver="this.style.backgroundImage='url([#path#]img/reset_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/reset.jpg)'">
          <input type=button name=rst class=button_recovery value="     返回" AccessKey=q style="font-size:9pt" onClick="javascript:location='news.php'" onMouseOver="this.style.backgroundImage='url([#path#]img/recovery_sel.jpg)'"  onmouseout="this.style.backgroundImage='url([#path#]img/recovery.jpg)'">
        </div></td>
        <td class=button_labelright></td>
      </tr>
    </table> 
    <table width="700" class=InputFrameMain cellspacing="0" cellpadding="0" border="0" height="100">
      <TBODY>
        <tr>
          <td align="left" colspan="4">
          <table cellspacing="0" cellpadding="0" border="0">
          <tr>
          <td align="center" class=inputtitle width="150">资料输入</td>
          <td align="center" class=inputtitleright >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td align="center" ><b><font color="#FF0000" class="error">[#error#]</font></b></td>
          </tr>
          </table>
          </td>
        </tr>
				      <tr> 
        <td colspan="4" height="10"></td>
      </tr>
        <tr class=InputFrameLine>
          <td width=87 height="30" align=right class=form_label>标题：</td>
          <td width="271" height="30" ><input class=input   type="text" name="news_title" size="20" maxlength="20" value="[#news_title#]">
          <span class="form_label">*</span></td>
          <td width=98 height="30" align="right" class=form_label>发布人：</td>
          <td width="244" height="30" >
          <input name='employee_id' type='hidden' value='[#employee_id#]'>
          <input class=input_disabled  type="text"  name="employee_name" size="15" maxlength="10" value="[#employee_name#]" readonly>
          </td>
        </tr>
        <tr class=InputFrameLine>
          <td height="30" align=right class=form_label>类型：</td>
          <td height="30" ><select name="type">
            <option value="">- 请选择 -</option>
            
            	
		  [#newstype#]       
		  
          
          </select>
            * </td>
          <td height="30" align="right" >发布时间：</td>
          <td height="30" ><input class=input_disabled   type="text" name="createtime" size="15" maxlength="100" value="[#createtime#]" readonly></td>
        </tr>
        <tr class=InputFrameLine>
          <td height="30" align=right class=form_label>&nbsp;</td>
          <td height="30" >&nbsp;</td>
          <td height="30" align="right" >&nbsp;</td>
          <td height="30" >&nbsp;</td>
        </tr>
        <tr class=InputFrameLine>
          <td colspan="4" align="center" valign="top" ><textarea name="news_content" id="news_content" style="display:none">[#news_content#]&nbsp;</textarea><iframe id="myEditor" name="myEditor" src="../Editor/editor.htm?id=news_content&ReadCookie=0&style=blue" frameborder="0" scrolling="no" width="622" height="460"></iframe></td>
        </tr>
        <TR>
          <td colspan="4" class=InputLabelCell height="10"></td>
        </TR>
      </TBODY>
    </TABLE>
    </form>
<div id="sending" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在保存数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingdel" STYLE="LEFT: 0px; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%; display: none"> 
       <table width=400 height=80 border=0 cellspacing=2 cellpadding=0 >
          <tr> 
               <td bgcolor=#F1F4F9 align=center>正在删除数据，请稍候...</td>
          </tr>
       </table>
</div>
<div id="sendingbg" STYLE="LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; display: none"> 
</div>
<div id="helpid" STYLE="right: 1%; WIDTH: 450px; POSITION: absolute; TOP: 86px; HEIGHT: 0; display: none"> 
 <div  align="left"   STYLE="position:absolute;left: 15px; top:15px;right:15px" >
  操作：基本信息－帐户信息；<br><br>
  保存(Alt+s)：添加新帐户信息和修改帐户信息；<br><br>
  删除(Alt+d)：即删除不再使用的帐户信息；<br><br>
  撤销(Alt+z)：撤销回去帐户没有修改的状态；<br><br>
  返回(Alt+q)：返回帐户信息列表；<br><br>
  帮助(Alt+h)：显示帮助信息；
</div>
</div>
[#showeditdiv#]
</center>
</BODY>
</HTML>
