<html>
<head>
<title>如果你使用了禁止弹出窗口的控件，请点击进入系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<SCRIPT language=javascript>
function winopen(){
var w=screen.availWidth-10;
var h=screen.availHeight-30;
window.open("../pos/pos.php","","fullscreen=0,toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=0,resizable=1,width=" + w + ",height=" + h + ",top=0,left=0",true);
window.opener=null;
window.close();
}
winopen();
</SCRIPT>
<style type="text/css">
<!--
body {
	background-color: CEEBCE;
}
-->
</style></head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (ball_blue.psd) -->
<div align="center">
<table id="__01" width="1004" height="665" border="0" cellpadding="0" cellspacing="0">
	<tr>

		<td  align="center">
			<img src="../common/img/enter.jpg"  onClick='winopen()' style='CURSOR: hand'></td>
	</tr>
</table></div>
<!-- End ImageReady Slices -->
</body>
</html>