@charset "utf-8";
.whitefont {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 3px; BACKGROUND-COLOR: #6e7e98; TEXT-DECORATION: none
}
TABLE {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif,宋体
}
TABLE.tableframe {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; MARGIN-TOP: 5px; BORDER-LEFT: #d4d4d4 1px solid; BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
TABLE.tableframe2 {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; MARGIN-TOP: -2px; MARGIN-LEFT: -2px; BORDER-LEFT: #d4d4d4 1px solid; BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.Listtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: url(../img/browse1.jpg) #eaeaea; COLOR: #333333; BORDER-BOTTOM: #6e7e98 1px solid; FONT-FAMILY: 宋体; HEIGHT: 20px; TEXT-ALIGN: center
}
.Listtitle2 {
	BORDER-TOP: #d4d4d4 1px solid; BACKGROUND-IMAGE: url(../img/browse1.jpg); BORDER-BOTTOM: #d4d4d4 1px solid
}
.tdcolor {
	BACKGROUND-COLOR: #ffffff
}
.tdcolorred {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #ff0000; LINE-HEIGHT: 200%; BACKGROUND-COLOR: #ffffff
}
.tableborder {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5); BACKGROUND-COLOR: #d4d4d4
}
.tableborder1 {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5); BACKGROUND-COLOR: #d4d4d4
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
TABLE.tableend {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
TD.listtai2 {
	FONT-SIZE: 9pt; BACKGROUND: #ffffee; BORDER-BOTTOM: #d4d4d4 1px solid; HEIGHT: 18px
}
TD.listtail {
	FONT-SIZE: 9pt; BACKGROUND: #eaeaea; COLOR: #000000; BORDER-BOTTOM: #d4d4d4 1px solid
}
TR.Listrow1 {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial
}
TR.Listrow2 {
	FONT-SIZE: 9pt; BACKGROUND: #ebf1fa; FONT-FAMILY: Arial
}
TD.ListCellRow {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d4d4d4 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d4d4d4 1px solid
}
TD.ListCellTitle {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d4d4d4 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #d4d4d4 1px solid
}
.button {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: white 1px solid; FONT-SIZE: 9pt; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; WIDTH: 76px; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: 宋体; HEIGHT: 22px; BACKGROUND-COLOR: #336699; TEXT-ALIGN: center
}
INPUT.inbutton {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; FONT-FAMILY: "宋体"; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
A.title:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.title:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A.title:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
A.title:link {
	COLOR: #333333; TEXT-DECORATION: none
}
.browse_pagelable {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #3d5070; LINE-HEIGHT: 200%; TEXT-ALIGN: right
}
#dhtmltooltip {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: black 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; Z-INDEX: 205; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); LEFT: -300px; VISIBILITY: hidden; PADDING-BOTTOM: 3px; BORDER-LEFT: black 1px solid; WIDTH: 130px; COLOR: #48709b; PADDING-TOP: 3px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; POSITION: absolute; BACKGROUND-COLOR: lightyellow
}
#dhtmlpointer {
	Z-INDEX: 206; LEFT: -300px; VISIBILITY: hidden; POSITION: absolute
}
