@charset "utf-8";
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #595959; SCROLLBAR-3DLIGHT-COLOR: #595959; SCROLLBAR-ARROW-COLOR: #595959; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #ffffff
}
.topfont {
	LINE-HEIGHT: 120%
}
.topfont1 {
	FONT-SIZE: 13px
}
.topfont2 {
	FONT-SIZE: 13px; COLOR: #ff954f
}
.topfontb {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.pagetitle {
	BORDER-RIGHT: thin; BACKGROUND-POSITION: left center; BORDER-TOP: thin; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/table_unfold_titlebar_small_bg.gif); BORDER-LEFT: thin; WIDTH: auto; BORDER-BOTTOM: thin; BACKGROUND-REPEAT: repeat-x; HEIGHT: 30px
}
.InputFrameMain {
	BORDER-RIGHT: #d4d4d4 2px solid; BORDER-TOP: #d4d4d4 2px solid; MARGIN-TOP: 15px; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5); MARGIN-BOTTOM: 5px; BORDER-LEFT: #d4d4d4 2px solid; BORDER-BOTTOM: #d4d4d4 2px solid; BACKGROUND-COLOR: #f4f4f4
}
.form_label {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #123c66; LINE-HEIGHT: 200%; TEXT-ALIGN: right
}
.form_label2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #123c66; LINE-HEIGHT: 200%; TEXT-ALIGN: left
}
.white_word {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #333333; LINE-HEIGHT: 200%
}
.red_word {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #ff0000; LINE-HEIGHT: 200%
}
.inputright {
	BACKGROUND: url(../img/input.gif) left top; WORD-SPACING: normal; VERTICAL-ALIGN: middle; WHITE-SPACE: normal; LETTER-SPACING: normal; TEXT-ALIGN: right
}
.input_disabled {
	BORDER-RIGHT: #b4c7d6 1px solid; BORDER-TOP: #b4c7d6 1px solid; WORD-SPACING: normal; VERTICAL-ALIGN: middle; BORDER-LEFT: #b4c7d6 1px solid; BORDER-BOTTOM: #b4c7d6 1px solid; WHITE-SPACE: normal; LETTER-SPACING: normal; HEIGHT: 20px; BACKGROUND-COLOR: #e0e0e0; TEXT-ALIGN: left
}
.inputright_disabled {
	BORDER-RIGHT: #b4c7d6 1px solid; BORDER-TOP: #b4c7d6 1px solid; WORD-SPACING: normal; VERTICAL-ALIGN: middle; BORDER-LEFT: #b4c7d6 1px solid; BORDER-BOTTOM: #b4c7d6 1px solid; WHITE-SPACE: normal; LETTER-SPACING: normal; HEIGHT: 20px; BACKGROUND-COLOR: #e0e0e0; TEXT-ALIGN: right
}
.input {
	BORDER-RIGHT: #b4c7d6 1px solid; BORDER-TOP: #607499 1px solid; BACKGROUND: url(../img/input_bg.jpg); WORD-SPACING: normal; VERTICAL-ALIGN: middle; BORDER-LEFT: #607499 1px solid; BORDER-BOTTOM: #b4c7d6 1px solid; WHITE-SPACE: normal; LETTER-SPACING: normal; HEIGHT: 20px; TEXT-ALIGN: left
}
.inputright {
	BORDER-RIGHT: #b4c7d6 1px solid; BORDER-TOP: #607499 1px solid; BACKGROUND: url(../img/input_bg.jpg); WORD-SPACING: normal; VERTICAL-ALIGN: middle; BORDER-LEFT: #607499 1px solid; BORDER-BOTTOM: #b4c7d6 1px solid; WHITE-SPACE: normal; LETTER-SPACING: normal; HEIGHT: 20px; TEXT-ALIGN: right
}
.inputarea {
	BORDER-RIGHT: #b4c7d6 1px solid; BORDER-TOP: #607499 1px solid; BACKGROUND: url(../img/inputarea_bg.gif); WORD-SPACING: normal; VERTICAL-ALIGN: middle; BORDER-LEFT: #607499 1px solid; WIDTH: 600px; BORDER-BOTTOM: #b4c7d6 1px solid; WHITE-SPACE: normal; LETTER-SPACING: normal; HEIGHT: 30px; TEXT-ALIGN: left
}
.span_label {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #003366; LINE-HEIGHT: 200%
}
.top_label {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #003366
}
.button_labelleft {
	BACKGROUND: url(../img/titleleft.jpg); WIDTH: 8px
}
.button_labelright {
	BACKGROUND: url(../img/titleright.jpg); WIDTH: 8px
}
.button_label {
	BACKGROUND: url(../img/title.jpg); HEIGHT: 31px
}
.inputtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../img/inputtitle.jpg); COLOR: #666666; HEIGHT: 23px
}
.inputtitleright {
	BACKGROUND: url(../img/inputtitleright.jpg) no-repeat; HEIGHT: 23px
}
.bottombotton {
	BACKGROUND: url(../img/bottombotton.jpg); HEIGHT: 31px
}
.titlefont {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; BACKGROUND-COLOR: #f4f4f4
}
#sending {
	Z-INDEX: 101
}
#sendingdel {
	Z-INDEX: 102
}
#sendingback {
	Z-INDEX: 103
}
#sendingdraft {
	Z-INDEX: 104
}
#sendingbg {
	Z-INDEX: 100; FILTER: Alpha(Opacity=50); BACKGROUND-COLOR: #ffffff
}
#fadeinbox {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: black 1px solid; PADDING-LEFT: 8px; Z-INDEX: 100; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 8px; BORDER-LEFT: black 1px solid; WIDTH: 350px; PADDING-TOP: 8px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; TOP: -400px; BACKGROUND-COLOR: lightyellow
}
#helpid {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 13px; Z-INDEX: 100; FILTER: progid:DXImageTransform.Microsoft.RandomDissolve(duration=1) progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: lightyellow; TEXT-ALIGN: center
}
.index-class {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #5e7ead
}
.index-class A:link {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
.index-class A:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
.index-class A:hover {
	FONT-SIZE: 14px; COLOR: #cccccc; TEXT-DECORATION: none
}
.index-class A:active {
	FONT-SIZE: 14px; COLOR: #cccccc; TEXT-DECORATION: none
}
.edit {
	FONT-SIZE: 12px
}
#addnewconcentbg {
	FILTER: Alpha(Opacity=65); BACKGROUND-COLOR: #ffffff
}
#addnewconcent {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
