@charset "utf-8";
body { margin:0 auto; padding:0;}
*,table,tr,td { margin:0px; padding:0px; text-align:center; font-size:11px; }
.tdleft { text-align:left;}
.tdright { text-align:right;}
.noprint { visibility:hidden;}
#wrapper { margin:0 auto; width:17.5cm; height:8.5cm;}
#turecenter { width:15.6cm; height:8.5cm; margin:0 auto;}
#header { height:1.6cm;}
.headertitle { font-size:18px;}
#maincontent { height:6cm;}
.maincontentone { height:1.65cm;}
.maincontenttwo { height:0.55cm;}
.maincontentthree { height:1cm;}
.maincontentfour { height:2.8cm;}
#footer { height:0.9cm; }

#wrapper2 { margin:0 auto; padding:0; width:22cm; height:8.5cm;}
#wrapperleft { float:left; width:6.47cm; height:8.5cm;}
#wrapperright { float:right; width:15.5cm; height:8.5cm;}
#turecenter2 { width:13.7cm; height:8.5cm; margin:0 auto;}
#header2 { height:1.5cm;}
.headertitle2 { padding-left:0.5cm; text-align:left;}
.headerbottomline { background:url(../images/point.png) repeat-x; height:1px;}
#maincontent2 { height:5.5cm;}
.maincontentone2 { height:1.7cm;}
.maincontentthree2 { height:1.05cm;}
.maincontentfour2 { height:2.8cm;}
#footer2 { height:1.5cm; }


#turecenterleft { width:5.4cm; 8.5cm; margin:0 auto; padding:0; }
#headerleft { height:1.45cm;}
.headerlefttitle { text-align:center;}
.headerbottomlineleft { background:url(../images/point.png) repeat-x; height:1px;}
#maincontentleft { height:6.3cm;}
.maincontentleftone { height:1.65cm;}
.maincontentlefttwo { height:1cm;}
.maincontentleftthree { height:1.65cm;}
.maincontentleftfour { height:2cm;}
#footerleft { height:0.75cm;} 

.cellwide_1 { width:0.55cm;}
.cellwide_2 { width:1.5cm;}
.cellwide_3 { width:2.05cm;}
.cellwide_4 { width:4.8cm;}
.cellwide_5 { width:7.8cm;}
.cellwide_6 { width:3.85cm;}
.cellwide_7 { width:1.35cm;}
.cellwide_8 { width:2.35cm;}
.cellwide_9 { width:2.1cm;}
.cellwide_10 { width:7.8cm;}
.cellwide_11 { width:3.8cm;}
.cellwide_12 { width:5.9cm;}
.cellwide_13 { width:1.7cm;}
.cellwide_14 { width:1.4cm;}
.cellwide_15 { width:3.45cm;}
.cellwide_16 { width:1.2cm;}
.cellwide_17 { width:3.6cm;}
.cellwide_18 { width:1.4cm;}
.cellwide_19 { width:1.1cm;}
.cellwide_20 { width:0.4cm;}
.cellwide_21 { width:5cm;}
.cellwide_22 { width:3.8cm;}
.cellwide_23 { width:5.75cm;}
.cellwide_24 { width:8.6cm;}
.cellwide_25 { width:4.95cm;}
.cellwide_26 { width:6.45cm;}
.cellwide_27 { width:3.8cm;}
.cellwide_28 { width:7.6cm;}
.cellwide_29 { width:4.2cm;}



.cellhight_1 { height:0.45cm;}
.cellhight_2 { height:0.55cm;}
.cellhight_3 { height:2.35cm;}
.cellhight_4 { height:1.8cm;}
.cellhight_5 { height:1.25cm;}
.cellhight_6 { height:1cm;}
.cellhight_7 { height:0.5cm;}
.cellhight_8 { height:1px;}
.cellhight_9 { height:0.35cm;}
.cellhight_10 { height:0.65cm;}
.cellhight_11 { height:0.9cm;}
.cellhight_12 { height:1.35cm;}
.cellhight_13 { height:0.85cm;}
.cellhight_14 { height:0.65cm;}
