<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>发送短信</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<META http-equiv=empiresoft content=no-cache><LINK 
href="[#path#]css/button_css.css" type=text/css rel=stylesheet><LINK 
href="[#path#]css/page_title.css" type=text/css rel=stylesheet><LINK 
href="[#path#]css/browse.css" type=text/css rel=stylesheet><LINK href="../common/css/css.css" rel=stylesheet type=text/css>
<SCRIPT language=javascript src="[#path#]js/dateobject.js"></SCRIPT>

<SCRIPT language=javascript src="[#path#]js/datepicker.js"></SCRIPT>

<SCRIPT language=javascript src="[#path#]js/editlib.js"></SCRIPT>

<SCRIPT language=javascript src="[#path#]js/initcity.js"></SCRIPT>
<SCRIPT language=javascript src="[#path#]js/calendar.js" type=text/javascript></SCRIPT>
<STYLE type=text/css>
.STYLE2 {
	FONT-SIZE: 12px
}
.inputarea1 {	BORDER-RIGHT: #b4c7d6 1px solid; BORDER-TOP: #607499 1px solid; BACKGROUND: url([#path#]img/inputarea_bg.gif); WORD-SPACING: normal; VERTICAL-ALIGN: middle; BORDER-LEFT: #607499 1px solid; WIDTH: 600px; BORDER-BOTTOM: #b4c7d6 1px solid; WHITE-SPACE: normal; LETTER-SPACING: normal; HEIGHT: 60px; TEXT-ALIGN: left
}
</STYLE>

<SCRIPT language=javascript>
var requestSubmitted = false;

	function InitAjax()
   {
　var ajax=false; 
　try { 
　　ajax = new ActiveXObject("Msxml2.XMLHTTP"); 
　} catch (e) { 
　　try { 
　　　ajax = new ActiveXObject("Microsoft.XMLHTTP"); 
　　} catch (E) { 
　　　ajax = false; 
　　} 
　} 
　if (!ajax && typeof XMLHttpRequest!='undefined'){ 
　　ajax = new XMLHttpRequest(); 
　} 
　return ajax;
}


function submit_save(){
  
	  if(form1.customer_name.value==""){
	 	  alert("请选择顾客！");
	 	  form1.customer_name.focus();
	 	  return;
	  }
	  if(form1.messagetypeid.value==""){
	 	  alert("请选择短信类型！");
	 	  form1.messagetypeid.focus();
	 	  return;
	  }	  
	 if(form1.title.value==""){
	 	  alert("请填写标题！");
	 	  form1.title.focus();
	 	  return;
	  }	     if(form1.employee_id.value==""){
	 	  alert("请选择经手人！");
	 	  form1.man.focus();
	 	  return;
	  }

	 	 if(form1.handphone.value==""){
	 	  alert("请填写手机号码！");
	 	  form1.handphone.focus();
	 	  return;
	  }
    requestSubmitted = true;
   sending.style.visibility="visible";
	 sendingbg.style.visibility="visible";  
	form1.submit();
}

function putsta(){
   var arrItems=new Array();
   var strItem ;
   var szRef = "../getdata/getstaff.html" ;
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   arrItems = strItem.split("@@@");
   form1.employee_id.value = arrItems[0] ;  
   form1.man.value = arrItems[1] ;    
}

function getmt(){
   var arrItems=new Array();
   var strItem ;

   var szRef = "../getdata/getmessagetemplate.html" ;
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   arrItems = strItem.split("@@@");
   
   form1.messagetemplate_id.value = arrItems[0] ;  
   //form1.no.value = arrItems[1] ;
   form1.title.value = arrItems[1] ;
   var reg=new RegExp("<br>","g"); //创建正则RegExp对象    
   form1.content.value = arrItems[2].replace(reg,"\r\n");  
}


function promem(){
   var arrItems=new Array();
   var strItem ;
//   var addbutton = 1;
   var szRef = "../getdata/getcustomer.html";
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
   
     arrItems = strItem.split("@@@");
     form1.customer_id.value    = arrItems[0];     
     form1.customer_name.value  = arrItems[1];
	 form1.handphone.value  = arrItems[2];
	 form1.cetype.value  = 0;
	 
}
function promem1(){
   var arrItems=new Array();
   var strItem ;
   var szRef = "../getdata/getstaff.html" ;
   var strItem = window.showModalDialog(szRef,"","Help=no;status:no;dialogWidth=700px;dialogHeight=500px;scroll=yes;");
    arrItems = strItem.split("@@@");
    form1.customer_id.value    = arrItems[0];     
    form1.customer_name.value  = arrItems[1];
	form1.handphone.value  = arrItems[2];
	form1.cetype.value  = 1;
}
function submit_del(){
    if (confirm("是否删除该记录？")) {
      getNews(form1.id.value);
    }
} 

function getNews(newsID)
{
　//如果没有把参数newsID传进来
　if (typeof(newsID) == 'undefined')
　{
　　return false;
　}
  var postStr = "id="+ newsID;
　//需要进行Ajax的URL地址
　var url = "../ajaxread/readdelmembercard.php";
　//实例化Ajax对象

　var ajax = InitAjax();
　//使用POST方式进行请求
 　ajax.open("POST", url, true); 
  //定义传输的文件HTTP头信息
　ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
　//发送POST数据
　ajax.send(postStr);
　//获取执行状态
　ajax.onreadystatechange = function() { 
　　//如果执行是状态正常，那么就把返回的内容赋值给上面指定的层
　　if (ajax.readyState == 4 && ajax.status == 200) {   
       if(ajax.responseText==0){
          form1.action.value = "delete";
          sendingbg.style.display ="";  
          sendingdel.style.display ="";
	        form1.submit();
       }else{
          alert("该卡已经过帐，不能删除!");
       }
　　}
　}
  //发送空
　ajax.send(null); 
}

function changelistno(){
	form1.ischangelistno.value="1";
}


function help(){  
   if(document.getElementById("helpid").style.pixelHeight == 0 &&  document.getElementById("helpid").style.visibility == "hidden"){      
       document.getElementById("helpid").style.visibility = "visible";
	  ChS();
   }else{   
	   HhS();    	  
   }
}

function ChS(){
if(helpid.style.pixelHeight<250){helpid.style.pixelHeight+=10;setTimeout("ChS()",0.5);
} 
}
function HhS(){
if(helpid.style.pixelHeight > 0){helpid.style.pixelHeight-=10;setTimeout("HhS()",0.5);
}
if(helpid.style.pixelHeight == 0){
 document.getElementById("helpid").style.visibility = "hidden";
 }
}

function selectradio(){
var temp=document.getElementsByName("cardtype");  
for (i=0;i<temp.length;i++){  //遍历Radio   
 if(temp[i].checked)      {  
             if(temp[i].value == 2){ 
				getcard();
                 
                }else if(temp[i].value == 1){
                 form1.reset();				 
                }
		 } 
   }
}

// -->
</SCRIPT>

<META content="MSHTML 6.00.2900.6003" name=GENERATOR></HEAD>
<BODY leftMargin=2 topMargin=0 onload=input_focus() width="100%">
<TABLE height=30 cellSpacing=0 cellPadding=0 width="100%" border=0>
  <TBODY>
  <TR>
    <TD class=pagetitle vAlign=center width="100%" height=30>&nbsp;&nbsp;<IMG 
      src="[#path#]img/nowspace.jpg" align=absMiddle>发送短信</TD>
  <TR>
    <TD align=left>
      <DIV style="MARGIN: 0px 0px 0px 12px"><IMG 
    src="[#path#]img/line.jpg"></DIV></TD></TR></TBODY></TABLE>
<CENTER>
<FORM name=form1 action="messagerecord.php" method=post>
  <input name='action' type="hidden" value="[#action#]">
  <input name='updid' type='hidden' value='[#updid#]'>
  <TABLE height=31 cellSpacing=0 cellPadding=0 width="98%" border=0>
  <TBODY>
  <TR>
    <TD class=button_labelleft></TD>
    <TD class=button_label>
      <DIV style="MARGIN: 0px" align=left><INPUT class=button_new onMouseOver="this.style.backgroundImage='url([#path#]/img/new_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=h onclick=javascript:help() onMouseOut="this.style.backgroundImage='url([#path#]/img/new.jpg)'" type=button value="     帮助" name=save32> 
<INPUT class=button_save onMouseOver="this.style.backgroundImage='url([#path#]/img/save_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=s onclick=javascript:submit_save() onMouseOut="this.style.backgroundImage='url([#path#]/img/save.jpg)'" type=button value="     发送" name=save3> 
<INPUT class=button_delete onMouseOver="this.style.backgroundImage='url([#path#]/img/delete_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=d onclick=javascript:submit_del() onMouseOut="this.style.backgroundImage='url([#path#]/img/delete.jpg)'" type=button value="     删除" name=end> 
<INPUT class=button_reset onMouseOver="this.style.backgroundImage='url([#path#]/img/reset_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=z onMouseOut="this.style.backgroundImage='url([#path#]/img/reset.jpg)'" type=reset value="     撤销" name=qqq> 
<INPUT class=button_recovery onMouseOver="this.style.backgroundImage='url([#path#]/img/recovery_sel.jpg)'" style="FONT-SIZE: 9pt" accessKey=q onClick="javascript:location='messagerecord.php'" onMouseOut="this.style.backgroundImage='url([#path#]/img/recovery.jpg)'" type=button value="     返回" name=rst> 
      </DIV></TD>
    <TD class=button_labelright></TD></TR></TBODY></TABLE>
<TABLE class=InputFrameMain cellSpacing=0 cellPadding=0 width=750 border=0>
  <TBODY>
  <TR>
    <TD align=left colSpan=5 height=13>
      <TABLE cellSpacing=0 cellPadding=0 border=0>
        <TBODY>
        <TR>
          <TD class=inputtitle align=middle width=150>资料输入</TD>
          <TD class=inputtitleright align=middle 
            width=42>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
          <TD align=middle><FONT 
      color=#ff0000><B></B></FONT></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD colSpan=4 height=10></TD></TR>
  <TR>
    <TD width="94" height=30 align=right class=form_label>姓名：</TD>
    <TD width="273" height=30 align=left><INPUT type=hidden name=customer_id value="[#customer_id#]">
      <INPUT 
      class=input_disabled readOnly maxLength=35 size=10 name=customer_name value="[#customer_name#]">
      <INPUT class=buttonsmall style="FONT-SIZE: 9pt" onclick=javascript:promem() type=button value=查找顾客 name=save2 [#findcustomer#]>
      <INPUT class=buttonsmall style="FONT-SIZE: 9pt" onclick=javascript:promem1() type=button value=查找员工 name=save [#findcustomer#]>
      <INPUT type=hidden name=cetype id="cetype" value="[#cetype#]"></TD>
    <TD width="89" height=30 align=right class=form_label>短信类型：</TD>
    <TD width="294" height=30 align=left><span class="listcelltitle">
      <SELECT name=messagetypeid >
        <OPTION value=''  selected>-短信类型-</OPTION>
          [#messagetypelist#] 
        </SELECT>
    </span></TD></TR>
  <TR>
    <TD class=form_label align=right height=30>手机号码：</TD>
    <TD height=30 align=left><INPUT class=input_disabled readOnly  maxLength=35 
      value="[#handphone#]" name=handphone>
      <SPAN class=form_label>*</SPAN></TD>
    <TD class=form_label align=right height=30>发送时间：</TD>
    <TD height=30 align=left>
	                <input type="hidden" class=INPUT id=startdate maxlength=30 
            size=20 name=senddate value="[#senddate#]" >
	                <INPUT    name=booktime onFocus="calendar(EventUtil.getEvent().target)" value="[#booktime#]" size="10" maxlength=30>  <select name="h" size="1">
[#h#]			
  </select>
	                :
	 <select name="i" size="1">
	 [#i#]

  </select></TD>
  </TR>
<TR>
    <TD class=form_label align=right height=30>标题：</TD>
    <TD height=30 align=left><INPUT name='title' class=input 
      value="[#title#]" size="10" maxLength=35>
      <SPAN class=form_label>
      <INPUT class=buttonsmall style="FONT-SIZE: 9pt" onclick=javascript:getmt() type=button value=选择模版 name=xuan2>
      <INPUT type=hidden name=messagetemplate_id value="[#messagetemplate_id#]">
      <INPUT type=hidden class=input_disabled readOnly maxLength=35 value="[#messagetemplate_name#]"
      size=10 name=messagetemplate_name>
</SPAN></TD>
    <TD height=30 align=right class=form_label>经手人：</TD>
    <TD height=30 align=left><INPUT type=hidden name=employee_id value="[#employee_id#]">
        <INPUT class=input_disabled readOnly maxLength=35 value="[#man#]"
      size=10 name=man >
        <INPUT class=buttonsmall style="FONT-SIZE: 9pt" onclick=javascript:putsta() type="hidden" value=查找 name=xuan></TD>
</TR>
  <TR>
    <TD height=30 align="right"><p>短信内容：
    </p></TD><TD height=30 colspan="3">
      <textarea class=inputarea1 name="content"  style="WIDTH: 90%" wrap="virtual"  rows="4">[#content#]</textarea></TD>
  </TR></TBODY></TABLE>
</FORM>
<DIV id=sending 
style="LEFT: 0px; VISIBILITY: hidden; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%">
<TABLE height=80 cellSpacing=2 cellPadding=0 width=400 border=0>
  <TBODY>
  <TR>
    <TD align=middle bgColor=#f1f4f9>正在保存数据，请稍候...</TD></TR></TBODY></TABLE></DIV>
<DIV id=sendingdel 
style="LEFT: 0px; VISIBILITY: hidden; WIDTH: 95%; POSITION: absolute; TOP: 50%; HEIGHT: 95%">
<TABLE height=80 cellSpacing=2 cellPadding=0 width=400 border=0>
  <TBODY>
  <TR>
    <TD align=middle bgColor=#f1f4f9>正在删除数据，请稍候...</TD></TR></TBODY></TABLE></DIV>
<DIV id=sendingbg 
style="LEFT: 0px; VISIBILITY: hidden; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%"></DIV>
<DIV id=helpid 
style="LEFT: 1%; VISIBILITY: hidden; WIDTH: 450px; POSITION: absolute; TOP: 86px; HEIGHT: 0px">
<DIV style="RIGHT: 15px; LEFT: 15px; POSITION: absolute; TOP: 15px" 
align=left>会员卡信息在建立会员开卡或修改卡资料时会使用上。<BR>操作：基本信息－会员卡信息；<BR><BR>保存(Alt+s)：添加新会员卡信息和修改会员卡信息；<BR><BR>删除(Alt+d)：即删除不再使用的会员卡信息；<BR><BR>撤销(Alt+z)：撤销回去会员卡没有修改的状态；<BR><BR>返回(Alt+q)：返回会员卡信息列表；<BR><BR>帮助(Alt+h)：显示帮助信息； 
</DIV></DIV></CENTER></BODY></HTML>
