
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UFT-8">
<link href="{path}css/css.css" rel="stylesheet" type="text/css">
<title>页面属性配置</title>
</head>

<body>
 <B>页面:{address}</B>
 <form name="form1" method="post" action="pageconfig.php">
 <input type="hidden" name="action" value="upd">
 <input type="hidden" name="updid" value="{updid}">
   <table  border="0" cellspacing="1" cellpadding="3" class="borderStyle">
     <!-- BEGIN row -->
     <tr class="tdBgColor">
       <td align="right">{name}</td>
       <td>{value}</td>
     </tr>
     <!-- END row -->
     <tr class="tdBgColor">
       <td colspan="2" align="center"><input type="reset" value="重置">
        　
          <input type="submit" value="提交"></td>
     </tr>
   </table>
</form>
<input type="button" value="关闭" onclick="window.close();">
 </body>
</html>
