<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="[#path#]css/style.css" media="screen" />
<link rel="stylesheet" type="text/css"  href="[#path#]css/style_print.css" media="print" />
<title>无标题文档</title>
</head>

<body>
<div id="wrapper">
	<div id="wrapperleft">
    	<div id="turecenterleft">
    	<div id="headerleft">
            <table width="100%" height="100%" cellpadding="0" cellspacing="0">
            	<tr>
                	<td class="cellwide_20">&nbsp;</td>
                    <td class="cellwide_21">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr class="cellhight_11">
                            	<td class="headerlefttitle noprint" valign="bottom"><span style="font-size:20px; font-weight:bold;">银行进账单</span></td>
                            </tr>
                            <tr class="cellhight_8">
                            	<td class="headerbottomlineleft"></td>
                            </tr>
                            <tr class="cellhight_7">
                            	<td>
                                	<table class="cellwide_21" width="100%" height="100%" cellpadding="0" cellspacing="0">
                                    	<tr valign="middle">
                                        	<td style="width:1.5cm;" class="tdright"></td>
                                    		<td class="cellwide_1 noprint">年</td>
                                    		<td style="width:0.7cm;"></td>
                                   			<td class="cellwide_1 noprint">月</td>
                                    		<td style="width:0.7cm;"></td>
                                    		<td class="tdleft noprint">日</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table> 
                    </td>
                    <td class="cellwide_20">&nbsp;</td>
                </tr>
            </table>
        </div>
        <div id="maincontentleft">
        	<div class="maincontentone">
        	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
            	<tr height="100%">
                	<td class="cellwide_1 noprint tdbordertop">出票人</td>
                    <td class="cellwide_14">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="noprint tdbordertop">全&nbsp;称</td></tr>
                            <tr><td class="noprint tdborder">账&nbsp;号</td></tr>
                            <tr><td class="noprint tdborder">开户银行</td></tr>
                        </table>
                    </td>
                    <td class="cellwide_15">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="tdleft tdbordertopright">&nbsp;</td></tr>
                            <tr><td class="tdleft tdborderright">&nbsp;</td></tr>
                            <tr><td class="tdborderright tdleft">&nbsp;</td></tr>
                        </table>
                    </td>
                </tr>
                </table>
                </div>
                <div class="maincontentlefttwo">
                <table width="100%" height="100%" cellpadding="0" cellspacing="0">
                <tr>
                	<td class="cellwide_1 noprint tdborder">金额</td>
                    <td class="cellwide_16 noprint tdborder">人民币<br />(小写)</td>
                    <td class="cellwide_17">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr class="cellhight_9">
                            	<td class="noprint tdborder">亿</td>
                                <td class="noprint tdborder">千</td>
                                <td class="noprint tdborder">百</td>
                                <td class="noprint tdborder">十</td>
                                <td class="noprint tdborder">万</td>
                                <td class="noprint tdborder">千</td>
                                <td class="noprint tdborder">百</td>
                                <td class="noprint tdborder">十</td>
                                <td class="noprint tdborder">元</td>
                                <td class="noprint tdborder">角</td>
                                <td class="noprint tdborderright">分</td>
                            </tr>
                            <tr class="cellhight_10">
                            	<td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborderright">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </table>
                </div>
                <div class="maincontentleftthree">
                	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
            	<tr height="100%">
                	<td class="cellwide_1 noprint tdborder">收款人</td>
                    <td class="cellwide_14">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="noprint tdborder">全&nbsp;称</td></tr>
                            <tr><td class="noprint tdborder">账&nbsp;号</td></tr>
                            <tr><td class="noprint tdborder">开户银行</td></tr>
                        </table>
                    </td>
                    <td class="cellwide_15">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="tdleft tdborderright">&nbsp;</td></tr>
                            <tr><td class="tdleft tdborderright">&nbsp;</td></tr>
                            <tr><td class="tdborderright tdleft">&nbsp;</td></tr>
                        </table>
                    </td>
                </tr>
                </table>
                </div>
                <div class="maincontentleftfour">
                <table width="100%" height="100%" cellpadding="0" cellspacing="0">
               	 <tr>
         			 <td>
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0" >
                        	<tr class="cellhight_2">
                            	<td class="cellwide_18 noprint tdborder">票据种类</td>
                                <td class="cellwide_18 tdleft tdborder">&nbsp;</td>
                                <td class="cellwide_7 noprint tdborder">票据张数</td>
                                <td class="cellwide_19 tdleft tdborderright">&nbsp;</td>
                            </tr>
                             <tr class="cellhight_2">
                            	<td class="cellwide_18 tdleft noprint tdborder">票据号码</td>
                                <td class="tdborderright" colspan="3">&nbsp;</td>
                             </tr>
                             <tr class="cellhight_11">
                                <td class="tdborder noprint">备注：</td>
                                <td class="tdborderright" colspan="3" style="border-left:none;">&nbsp;</td>
                             </tr>
                        </table>
                    </td>
                 </tr>
            	</table>
                </div>
        </div>
        <div id="footerleft">
        	 <table width="100%" height="100%" cellpadding="0" cellspacing="0">
                 <tr>
                   <td class="noprint" style="width:0.75cm;">复核</td>
                   <td style="width:1.5cm;">&nbsp;</td>
                    <td class="noprint" style="width:0.75cm;">记账</td>
                    <td style="width:1.5cm;">&nbsp;</td>
                    <td style="width:0.9cm">&nbsp;</td>
                 </tr>
             </table>
        </div>
 		 </div>
    </div>
    <div id="wrapperright">
		<div id="turecenter">
    	<div id="header">
            <table width="100%" height="100%" cellpadding="0" cellspacing="0">
            	<tr>
                	<td class="cellwide_9"></td>
                    <td class="cellwide_10">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr class="cellhight_6">
                            	<td class="headertitle noprint" valign="bottom"><span style="font-size:20px; font-weight:bold;">银行进账单</span><span style="font-size:12px; margin-left:2.3cm">(回&nbsp;&nbsp;&nbsp;&nbsp;单)</span></td>
                            </tr>
                            <tr class="cellhight_8">
                            	<td class="headerbottomline"></td>
                            </tr>
                            <tr class="cellhight_7">
                            	<td>
                                	<table class="cellwide_12" width="100%" height="100%" cellpadding="0" cellspacing="0">
                                    	<tr valign="middle">
                                        	<td style="width:4cm;" class="tdright"></td>
                                    		<td class="cellwide_1 noprint">年</td>
                                    		<td style="width:0.8cm;"></td>
                                   			<td class="cellwide_1 noprint">月</td>
                                    		<td style="width:0.8cm;"></td>
                                    		<td style="width:2cm;" class="tdleft noprint">日</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table> 
                    </td>
                    <td class="cellwide_11 noprint" style="text-align:center;"><span style=" font-size:21px; font-weight:bold">1</span><span style="margin-left:5px; color:#F00; font-size:18px">XV18773638</span></td>
                </tr>
            </table>
        </div>
        <div id="maincontent">
        	<div class="maincontentone">
        	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
            	<tr height="100%">
                	<td class="cellwide_1 noprint tdbordertop">出票人</td>
                    <td class="cellwide_2">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="noprint tdbordertop">全&nbsp;称</td></tr>
                            <tr><td class="noprint tdborder">账&nbsp;号</td></tr>
                            <tr><td class="noprint tdborder">开户银行</td></tr>
                        </table>
                    </td>
                    <td class="cellwide_4">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="tdleft tdbordertop">&nbsp;</td></tr>
                            <tr><td class="tdleft tdborder">&nbsp;</td></tr>
                            <tr><td class="tdborder tdleft">&nbsp;</td></tr>
                        </table>
                    </td>
                    <td class="cellwide_1 noprint tdbordertop">收款人</td>
                    <td class="cellwide_2">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="noprint tdbordertop">全&nbsp;称</td></tr>
                            <tr><td class="noprint tdborder">账&nbsp;号</td></tr>
                            <tr><td class="noprint tdborder">开户银行</td></tr>
                        </table>
                    </td>
                     <td class="cellwide_4">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr><td class="tdleft tdbordertopright">&nbsp;</td></tr>
                            <tr><td class="tdleft tdborderright">&nbsp;</td></tr>
                            <tr><td class="tdleft tdborderright">&nbsp;</td></tr>
                        </table>
                    </td>
                </tr>
                </table>
                </div>
                <div class="maincontentthree">
                <table width="100%" height="100%" cellpadding="0" cellspacing="0">
                <tr>
                	<td class="cellwide_1 noprint tdborder">金额</td>
                    <td class="cellwide_2 noprint tdborder">人民币<br />(大写)</td>
                    <td class="cellwide_5 tdleft tdborder">&nbsp;</td>
                    <td class="cellwide_6">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr class="cellhight_1">
                            	<td class="noprint tdborder">亿</td>
                                <td class="noprint tdborder">千</td>
                                <td class="noprint tdborder">百</td>
                                <td class="noprint tdborder">十</td>
                                <td class="noprint tdborder">万</td>
                                <td class="noprint tdborder">千</td>
                                <td class="noprint tdborder">百</td>
                                <td class="noprint tdborder">十</td>
                                <td class="noprint tdborder">元</td>
                                <td class="noprint tdborder">角</td>
                                <td class="noprint tdborderright">分</td>
                            </tr>
                            <tr class="cellhight_2">
                            	<td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborder">&nbsp;</td>
                                <td class="tdborderright">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </table>
                </div>
                <div class="maincontentfour">
                <table width="100%" height="100%" cellpadding="0" cellspacing="0">
               	 <tr>
         			 <td width="50%" >
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0" >
                        	<tr class="cellhight_2">
                            	<td class="cellwide_18 noprint tdborder">票据种类</td>
                                <td class="cellwide_8 tdleft tdborder">&nbsp;</td>
                                <td class="cellwide_7 noprint tdborder">票据张数</td>
                                <td class="cellwide_13 tdleft tdborder">&nbsp;</td>
                            </tr>
                             <tr class="cellhight_2">
                            	<td class="cellwide_7 tdleft noprint tdborder">票据号码</td>
                                <td class="tdborder" colspan="3">&nbsp;</td>
                             </tr>
                             <tr class="cellhight_5">
                                <td height="100%" class="tdborder" style="border-bottom:none;">&nbsp;</td>
                             </tr>
                            <tr class="cellhight_1">
                            	<td colspan="4">
                                <table width="100%" height="100%" cellpadding="0" cellspacing="0" class="tdborder">
                                <tr>
                            	<td style="width:2.2cm;">&nbsp;</td>
                                <td class="noprint" style="width:0.75cm;">复核</td>
                                <td style="width:1.7cm;">&nbsp;</td>
                                <td class="noprint" style="width:0.75cm;">记账</td>
                                <td style="width:1.45cm;">&nbsp;</td>
                                </tr>
                                </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%">
                    	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
                        	<tr class="cellhight_3">
                            	<td colspan="2" class="tdborderright" style="border-bottom:none;">&nbsp;</td>
                            </tr>
                            <tr class="cellhight_1">
                            	<td class="tdright noprint tdborder" style="width:5.2cm;">开户银行签章</td>
                                <td class="tdborderright" style="width:1.65cm; border-left:none;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                 </tr>
            	</table>
                </div>
        </div>
        <div id="footer"> </div>
  </div>
 	 </div>
     <div style="clear:both"></div>
</div>

</body>
</html>
